[2020-04-19 06:38] meain commented on #350
Well, I guess technically `1,1` passes for `some()`.

Since we cannot really control flags, I think we can force `classic` in the tests.
I guess we should also have a test with `--icons always` and `--color always` in there too.

[2020-04-19 06:47] dvvvvvv commented on #350
I suspect that the latest version of terminal-size will work completely opposite to 0.1.8.  So first of all, it would be a good idea to check if it works normally in Windows. If it doesn't work as I thought, lowering the version would be a better option.  If not, it would be better to do it according to @meain

[2020-04-20 02:13] patevs commented on #7
I definitely support this. Would be useful to be able to see the current git status of files and also being able to hide files based on the .gitignore file.

[2020-04-20 05:13] dvvvvvv commented on #350
I checked it. terminal-size 0.1.11 doesn't seem to work as I thought.
I'll leave the results for each version below.

master build with terminal-size 0.1.8:
[code]
master build with terminal-size 0.1.11:
[code]
It would be better to downgrade the terminal-sized version until the terminal-sized behavior is properly modified.
Apart from the version downgrade, it would be a good idea to fix the launc

[2020-04-20 07:52] texastoland commented on #218
Is it feasible now that @sumitsahrawat dropped #275? It'd also be really nice to pass `--ignore-file` to my alias like `fd` too. I think ripgrep's ignore crate provides a lot of that out of the box.

[2020-04-20 09:19] j-maynard commented on #343
I prefer global configuration as well generally not least of all I can throw it in to my dot-files repo and have the same experience wherever I work.

[2020-04-20 09:22] j-maynard commented on #342
.gitignore could work but as .hidden files are already used by the majority of GUI file browsers on Linux I think this feature is used more than people my realise as not everyone who uses Linux necessarily uses or understands git.  Thankfully their file formats are identical so once we can parse the file we just have to check if either of the two files are present.

[2020-04-21 08:38] WhyNotHugo opened #357 "Some of my icons are wrong"
Some of my icons are wrong, and I'm not sure if lsd is mapping incorrectly, or if my patched font has something off (sorry, I'm not sure how to troubleshoot further).

FWIW, most icons work fine (directories, python files, plain files, markdown, images, tarballs). The ones described below are the only exceptions I've found so far.

Screenshot:
![2020-04-21T10:29:51,727920152+02:00](https://user-im

[2020-04-22 10:31] WhyNotHugo commented on #357
Did a bit more digging around this. I'd gotten my patched fonts from [this repository](https://github.com/piq9117/operator-mono-nerdfont)(note: paid license needed for it!), but it seems to have some glyphs wrong.

Checking with [Nerd Font](https://www.nerdfonts.com/cheat-sheet)'s cheat sheet, I've confirmed that the above code-points correspond to:

f308: docker
e21e: ruby
f178: right-arrow

So t

[2020-04-23 13:02] indradhanush commented on #353
I am not able to reproduce this any more.

[2020-04-23 13:02] #353 closed

[2020-04-25 12:52] meain commented on #350
@dvvvvvv I am not exactly sure how this crate works. I am still a bit confused as to what might be going on. Feel free to correct me.

From what I understand, if the console buffer size returns anything other than not available I think `terminal-size` crate should return that a tty is available. Maybe for windows GitHub actions used to report terminal as not available but now started to report as

[2020-04-25 14:25] shivamkumar13 opened #359 "[Feature Suggestion]"
it would be amazing to add more layers of colors to Last time modifies, with differentiation of

-  [last hour],
- [last day],
- [rest of this week],
- [Previous week],
- [rest of this month],
- [previous month],
- [almost readable grey color  for files older than 2 months]

[2020-04-25 18:57] dvvvvvv commented on #350
@meain Sorry.  I wrote more complicated than necessary.
What I wanted to show was that the terminal-size crate showed completely different results depending on the version.
This seems to be a bug in version 0.1.11 if it comes from a simple conditional error.
In conclusion, lsd compiled with terminal-size crate 0.1.11 behaves like this on Windows:
When the icon should show => not showing
When the i

[2020-04-26 05:39] meain opened #360 "Add a forced grid mode"
Maybe we should add an option to force a grid mode. This combined with `--blocks` might end up being really powerful.

One example would be

[code]

Alternate view

[code]

[2020-04-28 14:21] meain commented on #350
Looks like this is taken care of https://github.com/eminence/terminal-size/pull/19

[2020-04-28 15:53] lights0123 commented on #357
This works fine with the FuraCode patched font, your copy/paste shows up with the Docker logo and a gem for the lockfile.

[2020-04-28 15:55] WhyNotHugo commented on #357
Oh, yeah. So it seems that the docker one was my font being badly patched. I addressed the other two in #358.

[2020-04-28 15:55] #357 closed

[2020-04-28 17:34] eminence commented on #350
I've pushed an upgraded terminal-size in its own PR:  #361

[2020-04-29 04:01] #350 closed

[2020-05-02 12:38] andys8 opened #363 "Missing space between icon and folder name"
## Expected behavior

Space between icon and folder name

![image](https://user-images.githubusercontent.com/13085980/80864342-4c2ee400-8c82-11ea-8cd8-353479f31799.png)

## Actual behavior

There is no space between icon and folder name. Both overlap a bit.

![image](https://user-images.githubusercontent.com/13085980/80864347-5650e280-8c82-11ea-91d9-e2eb18a35872.png)

Is this an expected change?

[2020-05-03 09:41] nik312123 opened #364 "Difference in colors between lsd 16.0 and lsd 17.0"
## Expected behavior
There exists some way to apply the original 16.0 colorscheme to `lsd` using `LSD_COLORS`

## Actual behavior
This is not possible with `LSD_COLORS` on macOS

Original 16.0
<img width="541" alt="Screen Shot 2020-05-03 at 4 44 29 AM" src="https://user-images.githubusercontent.com/24688726/80910959-d3b73a00-8cf8-11ea-8a0b-b9309533bbb4.png">

(Oddly enough, the fakelink.sh symlink

[2020-05-03 09:48] nik312123 commented on #363
I can confirm that this has come up between versions 16.0 and 17.0 for me as well.

[2020-05-03 10:30] andys8 commented on #364
I suspect the change from 2 spaces to 1 for one line is causing this behavior.

https://github.com/Peltoche/lsd/commit/200c5d2c68c7f0519d1eddfef2e30fe7dd8d11e5

[2020-05-03 10:31] andys8 commented on #363
I suspect the change from 2 spaces to 1 for one line is causing this behavior.

https://github.com/Peltoche/lsd/commit/200c5d2c68c7f0519d1eddfef2e30fe7dd8d11e5

[2020-05-04 13:05] tnorthcutt opened #365 "Missing colors after installing nerd-fonts"
I recently moved to a new machine, and as a result, icons were missing in the output of `lsd` (instead I saw a [?] icon).

Today I followed the instructions [in this comment](https://github.com/Peltoche/lsd/issues/199#issuecomment-494218334) to install and configure nerd-fonts for iTerm2, which worked. However, now the color output of `lsd` is gone.

I tried uninstalling and reinstalling lsd (with

[2020-05-04 16:06] meain commented on #365
What are the values for `$TERM` and `$LS_COLORS`?

[2020-05-04 17:50] tnorthcutt commented on #365
@meain `$TERM` is `xterm-256color`; `echo $LS_COLORS` produces no output

[2020-05-05 12:33] exponentactivity opened #367 "Show SELinux contexts"
It would be great to be able to view SELinux context with lsd.

Just copying ls's -Z argument would be great. Like so:
[code]

Thanks for a great application! I didn't know i needed before i tried it!

[2020-05-05 17:50] pandiloko opened #368 "Include directory symlinks in group-dirs"
When listing with e.g. `lsd -l --group-dirs=first` , the symbolic links pointing to a directory are listed as files. I understand this is technically right but I think it would be nice to have them listed "as directories" and group them accordingly (maybe a new group-dirs value, a new flag?).

## Expected behavior
Symlinks pointing to directories groupped together with directories when using group

[2020-05-06 04:18] meain commented on #365
Could you check if `lsd --color always` works?

[2020-05-06 17:56] tnorthcutt commented on #365
@meain `lsd --color always` results in the same output as a regular ls (which is aliased to lsd): icons and bolding, but no colors.

[2020-05-06 19:34] andys8 commented on #363
Over the past history this has changed some times. But with a single space there will be a problem with double width fonts. Will a change to 2 spaces be accepted and merged?

[2020-05-07 03:21] meain commented on #365
Hey, so far I don't have much of a clue as to what is happening. Could you give a few more details.

- `lsd --version`
- your shell (if zsh, are you using oh-my-zsh?)
- value of `which lsd`
- is there any color with `lsd -l` for items like date and user?

[2020-05-07 14:16] tnorthcutt commented on #365
@meain Absolutely! I appreciate your attempts to help 😄

- `lsd --version`: `0.17.0`
- zsh, and yes using oh-my-zsh
- `which lsd`: `/usr/local/bin/lsd`
- `lsd -l`: yes, color for some things! Output below:

<img width="828" alt="CleanShot 2020-05-07 at 08 15 35@2x" src="https://user-images.githubusercontent.com/796639/81304960-ff109080-903a-11ea-9bc5-99b99dcbf88d.png">

[2020-05-07 14:41] meain commented on #365
I have a feeling that `LS_COLORS` might be set as blank string or something.
Could you try doing `unset LS_COLORS` and run `lsd` after that.

If that works, awesome.
Else, maybe try setting LS_COLORS to the one below and call lsd. If that works, I guess you can use this is a temporary workaround until we figure what is happening.

[code]

[2020-05-09 03:05] devanshuDesai commented on #365
Facing the exact same issue on `0.17.0`. iTerm2 + Solarized Background + Zsh +  Agnoster.

[2020-05-09 03:24] meain commented on #365
@devanshuDesai could you see my previous comment fixes anything? https://github.com/Peltoche/lsd/issues/365#issuecomment-625297436

[2020-05-09 07:17] devanshuDesai commented on #365
@meain Getting a "not found" error on my `source ~/.zshrc` when I try setting `$LS_COLORS` to your string

[2020-05-09 07:33] meain commented on #365
Not sure how you got "not found" error.
How are you setting `LS_COLORS`? Just in case, this is how you would do it.
 `export LS_COLORS='rs=0.....9'`

Also did `unset LS_COLORS && lsd` work?

[2020-05-09 07:44] devanshuDesai commented on #365
yes, that is exactly how I set it. And no unsettling did not work.

[2020-05-11 05:27] lcosmin commented on #365
Happens here too, no `LS_COLORS` set. It seems to me that `lsd` uses a different shade of blue for folders (in my case, see screenshots) than the normal ls, and when switching to the solarized theme, that color gets clobbered.

So, I'd say the issue is a combination between lsd and the solarized theme.

Regular iTerm theme (dark background):

<img width="707" alt="Screenshot 2020-05-11 at 08 23 49

[2020-05-12 22:41] tarasis opened #372 "Audio icons appear as an ? in iTerm2 not in Terminal (macOS)"
## Expected behavior

Icons are musical notes rather than a ?. All other icons are recognisable things.

## Actual behavior

On macOS Catalina, Icon for mp3, m4a appears as a ? inside a oval.

![Screenshot 2020-05-12 at 23 27 37](https://user-images.githubusercontent.com/3006/81751881-41592800-94a8-11ea-9f3c-486b8a4f3b6c.png)

## Using

Iterm 2, most recent lsd via homebrew, with the MensloLGS NF.

[2020-05-15 18:10] mixomat commented on #365
@lcosmin yes, that seems to be the issue, I'm also using the iterm2 solarized dark theme, other themes work just fine

[2020-05-16 14:25] h404bi commented on #318
The issue can be closed now.

[2020-05-16 14:28] spencerwooo commented on #318
Thank you! @h404bi

![image](https://user-images.githubusercontent.com/32114380/82122166-83de7580-97c4-11ea-9351-2e89177896e9.png)

[2020-05-16 14:28] #318 closed

[2020-05-18 03:38] rhys-vdw opened #373 "`ls` prints incorrect file names"
## Expected behavior
`ls` prints all file names individually.

## Actual behavior
Only the final character of `foo.gif` is rendered, `movs` appears instead of `foo.gi`.

[code]
![image](https://user-images.githubusercontent.com/822105/82172135-ae3b4a80-990c-11ea-92cd-fa4ab54e4010.png)

[2020-05-18 04:28] meain commented on #365
The issue is that the default colors we are using is conflicting with the colorschemes you are using. At least in case of `solarized` it is muting the blue color that we are using for folders.

One thing that you could do is to change the value of dir in `LS_COLORS`. The default value is as mentioned https://github.com/Peltoche/lsd/issues/365#issuecomment-625297436. You could change the number to

[2020-05-18 04:31] meain commented on #373
Probably related https://github.com/Peltoche/lsd/issues/325

[2020-05-18 12:50] Kastakin commented on #365
Stumbled here having similar issue on a Linux machine working with zsh + oh-my-zsh:

I solved the issue with:
`DISABLE_LS_COLORS="true"`
in my .zshrc file. It should be a commented line generated automatically during the oh-my-zsh installation process. With that I get the original colors back!

[2020-05-19 17:56] devanshuDesai commented on #365
@Kastakin I tried disabling it. No luck.

[2020-05-19 19:50] mathomp4 opened #374 "User and Group Names are not displayed with MUSL Build"
This is an odd one. I seem to not be able to see user and group names with `lsd` on a computing cluster I am on, but only when using the MUSL build.

On my local macOS laptop, all is well, but on this SLES 12 cluster, all I see are the numeric UID/GID when I use the MUSL

## Expected behavior
Using GNU ls:
[code]
Using "gnu" lsd:
[code]
## Actual behavior (using MUSL)
[code]
(where the boxes are t

[2020-05-20 05:03] saumyajyoti opened #375 "WIndows 10: App does not work"
## Expected behavior
To get directory listing

## Actual behavior
If I run lsd. It throws below error. I tried with and without admin privilege.
lsd: .: A global group cannot have a cross-domain member. (os error 8519)

[2020-05-25 13:10] texastoland opened #376 "-G flag for alias compatibility"
## Expected behavior

Prezto (zsh) helpfully aliases `ls` by default. In particular it adds the `-G` flag to bare `ls`.

https://github.com/sorin-ionescu/prezto/blob/793f239a5e38ef2c4b76a4955bb734520303e8c4/modules/utility/init.zsh#L110

I think it's equivalent to `--color=auto`. Would it be a reasonable synonym to support for compatibility?

https://ss64.com/osx/ls.html#:~:text=-G

## Actual beha

[2020-05-25 13:20] texastoland commented on #376
Never mind it looks like other implementations use the same flag for different purposes:

https://ss64.com/bash/ls.html#:~:text=-G%2C%20--no-group

[2020-05-25 13:20] #376 closed

[2020-05-25 13:27] ipkiss42 commented on #9
Similar issue, but with a different backtrace.

Compare `ls` and `lsd`:

[code]

Backtrace:

[code]

[2020-05-25 21:49] ikarus23 opened #377 "Line wrapping for short file names"
Hi! First of all: Thanks for this awesome tool! I've using it for quite some time now and I noticed some weird behavior when it comes to long file names and line wrapping:
![Screenshot_2020-05-25_23-43-33](https://user-images.githubusercontent.com/1389516/82844631-77070380-9ee1-11ea-98d2-b3655d92cfd5.png)
As you can see in the screenshot the short lines get also wrapped when there is at least one

[2020-05-26 13:16] JamsNJellies opened #378 "LSD is very slow compared to ls when listing large directories"
Listing the Void Linux repo srcpkgs directory (about 12055 directories) takes far longer with lsd than it does with GNU ls.

`lsd --color never  1.39s user 0.12s system 99% cpu 1.521 total`
`lsd  1.42s user 0.12s system 98% cpu 1.559 total`
`ls  0.01s user 0.02s system 91% cpu 0.034 total`

[2020-05-26 21:44] SleeplessSloth commented on #342
I would really appreciate if such a feature was added. I constantly use an external drive that is shared with a couple of Windows machines that constantly create `System Volume Information/` and `$RECYCLE.BIN/` directories that just really annoy me. In such situations I usually just create a `.hidden` file and put such files inside. That does actually work in Dolphin but sadly not in lsd

[2020-05-27 10:08] yogan commented on #375
Can confirm, but I get a different error:

[2020-05-31 08:36] meain commented on #377
This has been fixed in the new version. Related: https://github.com/Peltoche/lsd/issues/264

[2020-05-31 08:36] #377 closed

[2020-05-31 09:02] meain commented on #372
I am not sure what the exact problem is, but this is most probably not an issue with lsd itself.
Could you try with a different font?

Related: https://github.com/Peltoche/lsd/issues/199#issuecomment-494218334

[2020-05-31 22:03] ikarus23 commented on #377
Thanks!

[2020-06-02 06:47] swedneck commented on #92
any updates on this? lsd looks lovely but not using $LS_COLORS is a rather big turnoff for me

[2020-06-02 08:01] kmoschcau commented on #92
I am still waiting on my configuration file merge request to be merged. Once that happens, I would start with adding theme configuration things.

[2020-06-05 13:31] carlocaione commented on #363
+1 for this issue

[2020-06-07 15:12] yurividal opened #381 "Background on colored fonts"
When I compare colorls to lsd, lsd looks nicer on my securecrt.
I have installed nerd fonts, and the icons show fine. But, on lsd there is a gray background on the blue and on some other colors. While colorls doesmt have this problem. Check screenshot:

![image](https://user-images.githubusercontent.com/8555749/83972719-ae11e780-a8d9-11ea-930c-cb7bd9f84e68.png)

[2020-06-07 15:14] yurividal commented on #381
i think i found the problem. LSD displays BOLD while colorls displays regular font. can that be changed?

[2020-06-08 13:51] fontes99 opened #382 "Ubuntu WSL not showing icons"
I've downloaded and intalled both lsd and nerd-fonts but the icons are failing to display
![image](https://user-images.githubusercontent.com/38656207/84038163-f383f280-a975-11ea-8128-3d5908eec494.png)

[2020-06-08 15:56] buschtoens commented on #382
What environment are you using? I assume Windows? PowerShell?

You need to configure your Terminal to actually use the respective Nerd Font.

[2020-06-08 16:54] fontes99 commented on #382
yes im using windows and ubuntu WSL.. how do I do this?

[2020-06-09 08:01] buschtoens commented on #382
I'm not a Windows user, so I don't know, sorry. What's the terminal emulator that you user? What does it say in the title bar?

I'd assume it's PowerShell. Try googling `PowerShell change font` or something along these lines.

[2020-06-09 11:27] fontes99 commented on #382
Fixed it.

needed to download de nerdfont directly on windows and not on the Ubuntu WSL

thanks for the help anyways!

[2020-06-09 12:15] buschtoens commented on #382
Great to hear that and thanks for following up with the solution.

Can you close the issue then? :)

[2020-06-09 12:28] #382 closed

[2020-06-09 16:13] AlecsFerra commented on #316
Same issue using jetbrains nerd font

[2020-06-12 15:26] starwing commented on #186
it seems musl version avaliable at release page, thanks!

[2020-06-12 15:26] #186 closed

[2020-06-13 07:15] meain commented on #381
You can change any of the styling that gets applied to filenames using `LS_COLORS` variable.

Related resource: [sharkdp/vivid](https://github.com/sharkdp/vivid)

[2020-06-13 07:18] meain commented on #363
Related: https://github.com/Peltoche/lsd/issues/316#issuecomment-641407582

[2020-06-13 11:53] meain commented on #208
@Peltoche what is your opinion on have a `light` and `minimal` variant in the binary? This could be obsolete once the config option lands though.

[2020-06-15 12:25] mborejdo commented on #375
I am also running into `lsd: .: The specified domain either does not exist or could not be contacted. (os error 1355)`. I am sure it has worked before though.

[2020-06-17 06:37] Gerrit-K opened #385 "bash and zsh not completing filenames"
## Expected behavior
When I type `lsd --date='date' <TAB>` the zsh completion lists all files in the current directory.

## Actual behavior
When I type `lsd --date='date' <TAB>` the zsh completion inserts a dash instead. A consecutive `<TAB>` then lists all options (as a completion for `-*`).

[2020-06-18 10:30] yangxyo commented on #365
[code]
I change the `di` from 01 to 21., nothing happened, I use `solarized` too.

[2020-06-18 11:13] yangxyo commented on #365
https://github.com/ogham/exa/issues/116#issue-163981640
http://geoff.greer.fm/lscolors/
Such as:
[code]
I suggest writing something more in README.

[2020-06-19 05:08] meain commented on #365
@yangxyo
Selecting a colorscheme does not change the values of `LS_COLORS`. But there is a default list of values we use for lscolors which might have conflicting colors as solarized might use the same color that we use for folders for the background. I hope this makes things clearer.

Btw, you do not have to change all the values to the right of `di`. The fist value to the right of `di` will chan

[2020-06-21 12:10] thorstenkampe commented on #334
On further inspection, this seems to be bug in relation to files created in a Cygwin environment on Windows

- native Windows: okay
[code]
- Cygwin: not okay
[code]
- show difference between the two files
[code]
Owner (`thorsten` vs `Administratoren`) and permissions (`664` vs `770`) differ. We give the group (`Kein`/None) execute permission.

Now it works:
[code]

[2020-06-21 12:24] thorstenkampe opened #386 "Errors displaying system directories and files on C:\ on Windows"
## Expected behavior
[code]

Native `dir`:
[code]

## Actual behavior
[code]
I'm running the command as local admin and User Account Control is disabled.

[2020-06-22 17:19] AnrDaemon commented on #334
If `lsd` is unable to parse file's ACL created under the same user, this is a bug in `lsd`.
Cygwin creates correct ACE's. Non-canonical, yes, but they are correct ACE's according to the specification.

"+" at the end of POSIX permissions mask means you have to use tools such as `getfacl` (or native `icacls`) to explore actual permissions. POSIX simple mask is merely an approximation in such case.

[2020-06-22 17:55] thorstenkampe commented on #334
* `lsd`'s reports an OS error (`os error 1336`). Whether that directly refers to the ACL or to what `lsd` would like to do is something I cannot tell, yet I accept your view.

* `Administratoren` is actually a group ("administrators"). PowerShell's `New-Item` assigns ownership to the group while Cygwin's `touch` makes the user the owner. That's [standard behaviour](https://serverfault.com/question

[2020-06-24 16:48] MaT1g3R opened #387 "lsd panics"
## Expected behavior

ls output:

[code]

## Actual behavior
[code]

[2020-06-29 05:22] LukasPukenis opened #388 "MacOS question marks instead of icons"
On a fresh installation all the icons are colored question marks instead of normal icons as shown in the example

<img width="132" alt="Screen Shot 2020-06-29 at 08 21 55" src="https://user-images.githubusercontent.com/3693540/85975767-9a8e0400-b9e1-11ea-8f59-6cc6bd469727.png">

[2020-06-29 06:45] meain commented on #388
https://github.com/Peltoche/lsd/issues/199#issuecomment-494218334

[2020-06-30 08:52] #340 closed

[2020-07-03 17:33] ShawnMcCool opened #390 "Is it possible to configure which columns show?"
"ls -l" shows many columns, I'd like to remove some or reformat them into a compact format.

I don't see any information about a configuration file etc. Could you direct me to the right documentation?

[2020-07-04 09:21] meain commented on #390
Yeah, check out `--blocks` in the help. It lets you define, which columns you need.

For example, if you need just name and size. You can do `lsd --blocks name,size`. Possible options in the help. You should also be able able to change how date, size, symlink etc look a bit.

[2020-07-04 09:27] meain commented on #390
A config file is in the works https://github.com/Peltoche/lsd/pull/317. Still not complete. But till then, you can drop this in an alias.

[2020-07-04 12:48] ShawnMcCool commented on #390
Hey this is perfect. Thanks. I was trying to find the help but without a man page etc I was confused. I see now it's just --help.

[2020-07-04 12:48] #390 closed

[2020-07-06 00:17] guidiamond commented on #225
Worked for alacritty term (i was using urxvt before and didn't come across this problem)

[2020-07-10 23:02] Qwerty-Space commented on #368
any update to this please?

[2020-07-12 13:04] Skarlett opened #391 "Noncompliant posix edge case"
Running
[code]

[code]

In the case of a device file, instead of file size we should be getting <Driver Major>, <Driver Minor>

[2020-07-12 21:48] MorganGeek commented on #365
I face a similar issue, just after upgrading lsd from 0.16.0 to 0.17.0

[2020-07-18 05:21] joesan opened #392 "Permissions Error with opt folder"
## Expected behavior
Doing a ls -la should list me all the files in the directory, in this case the /opt directory

## Actual behavior
[code]

I guess there is an issue already relating to this. I could not infer the proposed solution to that issue.

https://github.com/Peltoche/lsdcannot%20access%20'.':%20Permission%20denied%20(os%20error%2013)/issues/79

Should I uninstall and install a newer ver

[2020-07-21 17:35] dsully commented on #342
Related (and I can open another issue if necessary), lsd should respect `chflags hidden` on macOS:

`
$ /bin/ls -lO
total 8
drwx------    3 dsully  staff  -        96 Jul  1  2019 Applications
drwxrwxr-x@   4 dsully  staff  hidden  128 Jul 18 09:17 Creative Cloud Files
drwx------@  14 dsully  staff  -       448 Jul 18 09:12 Desktop
drwx------@  12 dsully  staff  -       384 Jul 20 15:38 Documents

[2020-07-23 09:10] ABSphreak opened #393 "⚠ OS ERROR 1332 - Windows PowershellCore Installation"
I have installed LSD using release tag → [0.17.0](https://github.com/Peltoche/lsd/releases/tag/0.17.0) → ([lsd-0.17.0-x86_64-pc-windows-msvc.zip](https://github.com/Peltoche/lsd/releases/download/0.17.0/lsd-0.17.0-x86_64-pc-windows-msvc.zip))
and using scoop later as mentioned in #389.

## Expected behavior
I have installed the latest release on Ubuntu WSL, output looks:
(`ls` and `l` are aliases

[2020-07-26 11:14] thomas-merz opened #394 "Add support/parameter for "natural sort""
## Expected behavior
The "lsd" command should have a nice parameter wich naturally sorts numbers within text.

## Actual behavior
The "ls" command has a nice parameter, but "lsd" hasn't:
-v     natural sort of (version) numbers within text

[2020-08-07 16:51] rediffusion commented on #393
@ABSphreak

 Hey bro, how you install it on «Windows» tried 100 times but nothing? **ʅ_(ツ)_ʃ**

I have WSL > Ubuntu 20.04

[2020-08-07 16:53] ABSphreak commented on #393
@rediffusion You want to install it on Windows (Powershell) or WSL?

[2020-08-08 05:06] rediffusion opened #396 "dpkg: error on «Windows 10»."
Aloha! 🙂

I have 💻 «**Windows 10** 2004» + _WSL_ + Windows Terminal + Ubuntu-20.04

running this but see the `error`:
sudo dpkg -i lsd_0.17.0_amd64.deb

`dpkg: error: cannot access archive 'lsd_0.17.0_amd64.deb': No such file or directory`

..._surfing_ in google this behavior but find nothing!

🆘 Can you HELP? Cheers!

[2020-08-08 22:43] rediffusion commented on #393
@ABSphreak

 WSL 2 > Windows Terminal > Ubuntu-20.04

[2020-08-09 12:08] ABSphreak commented on #393
@rediffusion I just downloaded `lsd-musl_0.17.0_amd64.deb` from [Releases - 0.17.0](https://github.com/Peltoche/lsd/releases/tag/0.17.0) Page using `wget` and installed using `dpkg`.

[code]

[2020-08-09 12:25] rediffusion commented on #393
@ABSphreak

OMG so easy. Bro, you are **RAMBO**! 😵

📍 Find another way too, check it:

 _Have a good day!_ 👍

[2020-08-09 12:26] ABSphreak commented on #393
_Awesome!_ 🦄

[2020-08-09 18:34] sklages opened #398 "--long + --group displays GID in multiuser environments, not group names"
When using the long listing format (--long or -l) with the --group or -g option, the group identifiers displayed are the numeric GIDs, not the group names for most groups. The user names display as expected.
`exa` has the same problem (not fixed).

Is this something that is on the dev roadmap?

[2020-08-09 18:45] sklages opened #399 "FR: -L, --dereference"
I am pretty new to both `lsd` and also `exa`.

What I am really missing is `-L, --dereference` (and maybe -H).

`--no-symlink` simply omits the target but lacks information, as it does not dereference.

In `exa` this feature request is around for more than two years (without being implemented).

I am working a lot with symlinked data, without `-L` both programs are very nice but no subsitutes for

[2020-08-10 02:54] sql-sith commented on #334
I am also having this error, but have not used Cygwin for a very long time. I do not have to be using a mapped drive for this to happen. Any time I invoke `lsd` (ver 0.17.0) under `pwsh` (ver 7.0.3), `Powershell` (ver 5.1.18362.752), or even `cmd` (ver 10.0.18362.959 with `clink` ver 0.4.9), I get this exact error message:

`lsd: .: The specified domain either does not exist or could not be contac

[2020-08-10 06:32] zwpaper commented on #399
I will try to implement this and send a PR for this

[2020-08-10 10:46] AnrDaemon commented on #334
This means, one of your your object's ACE refer to a SID that cannot be resolved at the moment.

Perhaps, the disk was used in(with?) a different domain previously (you reinstalled the OS?).

[2020-08-11 05:12] meain commented on #396
We don't have a direct ubuntu package yet. You could try installing using `snap`.
[code]

Or if that does not work out, you have to first download the actual file from releases page and call dpkg on that.
[code]

[2020-08-11 05:14] #396 closed

[2020-08-12 06:47] zwpaper commented on #394
I could help to implement this,
but first I would like to make sure how this work because I was confused about the description `(version) numbers within text`

what's the meaning of the `(version)`?

AFAIK, `-v` should sort by file name in natural order, like
1. numbers before letters
2. number order in the natural order, like 1 2 11 21

[2020-08-12 07:01] zwpaper commented on #392
Hi @joesan

May I ask how do u install `lsd`, if snap, maybe u should uninstall it and try a deb from
https://github.com/Peltoche/lsd#on-ubuntu
or a binary from
https://github.com/Peltoche/lsd#from-binaries

the problem may be caused by `snap` and it's not easy to fix

[2020-08-12 07:15] thomas-merz commented on #394
Hi @zwpaper , great, that you could help :-)
Normal "ls" has "-v" option which ends up in what you said in both points:
(but I don't know why a capital letter should be sorted before a lower case and I won't mind/care about this)
[code]
instead of this without "-v":
[code]

[2020-08-12 14:13] rediffusion commented on #396
@meain

 Thanks a lot! What means parameter -O ?

Do I need to install [Rust](https://www.rust-lang.org/)?

[2020-08-12 16:54] meain commented on #396
`-O` specifies output filename. In this case we download to `/tmp/lsd.deb` and uses that file to install.

You need to install rust only if you are building from source.
In the case of dpkg, you are downloading and installing a prebuilt binary.

[2020-08-12 17:23] rediffusion commented on #396
@meain

 I find also this [manual](https://github.com/Peltoche/lsd#from-sources) which possible to downloading with **cargo**. Do you recommend this manual?

`cargo install lsd`

[2020-08-12 17:34] meain commented on #396
`cargo` is the rust package manager you are technically building from "source" in the `manual` method.

It is up to you too choose which method you go, both works.  But if you don't intent on messing around with the code, I would suggest going with `dpkg`.

[2020-08-13 19:18] sklages commented on #342
@SleeplessSloth  .. you could use `--ignore-glob` as the windows folders are a global issue:

[code]
Create `alias`. Should work as a workaround ..

[2020-08-14 10:08] Peltoche commented on #392
hello @joesan,

The `snap` packages are not more maintained due to too much issues with the jail system. I try without success to delete the available binaries since quite some time. As proposed by @zwpaper you should install it for the .deb.

[2020-08-14 10:11] #393 closed

[2020-08-14 10:13] Peltoche commented on #387
Hello @MaT1g3R ,

Thanks for the report. Can you give us your lsd version by running `lsd --version` please?

[2020-08-14 14:41] ABSphreak commented on #393
@Peltoche can you point me to the solution of this issue?

[2020-08-14 15:42] MaT1g3R commented on #387
[code]

[2020-08-15 19:26] rediffusion commented on #393
@ABSphreak

 If you want links here:
[1](https://github.com/rust-lang/rustup/issues/2450), [2](https://github.com/rust-lang/rustup/issues/2245).

[2020-08-18 22:07] touhidulShawan opened #402 "Implement customize color feature"
Please Implement able to color customization. Directory Blue color is not suitable for my terminal color. I really love lsd.

[2020-08-19 03:21] meain commented on #402
You can use `LS_COLORS` for customizing the colors of the folders and files. Simple write up on what they are. http://www.bigsoft.co.uk/blog/2008/04/11/configuring-ls_colors

You can use a tool like [sharkdp/vivid](https://github.com/sharkdp/vivid) to generate `LS_COLORS` if you don't find any that you like. Also maybe checkout https://github.com/trapd00r/LS_COLORS .

[2020-08-21 05:23] touhidulShawan commented on #402
Thank you

[2020-08-21 05:23] #402 closed

[2020-08-26 23:16] MarkFilus opened #404 "Color for Non-Executable Files is now gray for me with version 0.17.0. Everything else seems to be the correct color."
- os: Manjaro Linux
- `lsd --version`: `lsd 0.17.0`
- `echo $TERM`: `xterm-kitty` (I can confirm this issue exists with urxvt, and just using the tty terminal with ctr+alt+f2. I've tried to use other users and switching shells and it persists.)
- `echo $LS_COLORS`:  (Confirmed to be not set)

## Expected behavior
The color for Non-Executable Files should be yellow.

## Actual behavior
The color fo

[2020-08-26 23:37] MarkFilus commented on #404
I've found a work around by rolling back to 0.16.0.
![lsd_missing_color_0 16 0](https://user-images.githubusercontent.com/30476632/91366909-07036480-e7d3-11ea-9ef9-204a218e8c4c.png)

It also seems like the colors are a bit different, the execfile is a brighter green. I wonder what has changed between 0.16 and 0.17 to make the colors different. It shouldn't be set with the terminal configuration, s

[2020-08-27 08:49] meain commented on #404
We had changed hard coded values of colors for filenames and made it so that we take all the values from `LS_COLORS` env variable in `0.17.0` release. So, the color values are coming from `$LS_COLORS` variable in the env.

---

You can use `LS_COLORS` for customizing the colors of the folders and files. Simple write up on what they are. http://www.bigsoft.co.uk/blog/2008/04/11/configuring-ls_color

[2020-08-27 17:03] lez opened #405 "Extra newlines in `lsd -l` output if there is at least one long filename"
- os: arch linux
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=0

[2020-08-27 22:29] MarkFilus commented on #404
Thanks that's really helpful. Fixed my issue on the latest version (and changed the colors on 0.16.0 too).
I was confused for two reasons:
1.  The README is out of date, and says colors cannot be customized in the[ FAQ section](https://github.com/Peltoche/lsd#faq).
2. My LS_COLORS environment variable 100% was unset.

Reason 2 suggests there is a change introduced in 0.17.0 that seems to use the t

[2020-08-28 00:21] MarkFilus commented on #405
Cannot reproduce on 0.17.0 (I used your LS_COLORS). Even if I shrink/enlarge terminal. I would try updating.

![image](https://user-images.githubusercontent.com/30476632/91507151-084f9280-e8a2-11ea-83d6-1b6decad0ff6.png)

I can reproduce your actual behavior by adding a newline to the end of the filename (which is 100% allowed):

![image](https://user-images.githubusercontent.com/30476632/91507430

[2020-08-28 04:11] meain commented on #404
Oh, my bad. We had support for `LS_COLORS` from `0.16.0`, but we changed from using hardcoded defaults in lsd to defaults from the lscolors parsing library that we are using in `0.17.0`. Btw, as of now only the colors of the filenames can be changed, not the other blocks. We are working towards introducing a config which will let you customize those colors as well.

Also thanks for reminding about

[2020-08-28 04:11] #404 closed

[2020-08-28 04:13] meain commented on #405
@MarkFilus Thanks.

"Extra newline when having a long filename" issue has been fixed in `0.17.0` and the fix for actual filename having a newline character is available in master. Will create a new release for this pretty soon.

[2020-08-28 04:13] #405 closed

[2020-08-29 04:08] joesan commented on #392
How do I uninstall from the snap package and reinstall it from debian? Any guide or Wiki on how to do this would be helpful!

[2020-08-29 04:30] #392 closed

[2020-08-29 11:43] #345 closed

[2020-08-30 13:26] lez commented on #405
Thank you for having this already fixed in `18.0`.
Sorry for not checking the bug in `master` before reporting.

[2020-08-30 17:20] M4tT3d opened #407 "show hard link number with -l (second column of ls -l)"
excuse me. I know this is not the right section, but I would like to know how to show hard links too. In help I can't find anything and there is no manual. Thanks and sorry again

[2020-09-01 15:11] kakulukia commented on #92
@Peltoche - please merge :)

[2020-09-03 20:59] coolaj86 commented on #295
I'd like to call for this to be re-opened.

I don't see why `lsd --tree -d` and `lsd -d` can't co-exist.

Certainly if the command can detect that they _can't_ be used together, then it could adjust some state inside to allow for the expected behavior, right?

[2020-09-03 21:32] coolaj86 commented on #295
Just peeking around the code, it looks like this would only need three changes:

- [ ] Update `-d` documentation
- [ ] Remove the explicit conflict https://github.com/Peltoche/lsd/blob/master/src/app.rs#L114
- [ ] if `-d` is set and the meta is not a directory, skip the inner display https://github.com/Peltoche/lsd/blob/master/src/display.rs#L125

[2020-09-04 19:27] sklages opened #408 "FR: show fraction in file sizes only for values less than 100"
From a certain size on the fraction is not that important anymore when viewed in `default` mode (which is the equivalent to ls' `human-readable`).

So maybe values less than `100` should be displayed with a fraction, equal/larger values as integer.

But those sizes should be displayed always as a number with fraction:
[code]
-> better to see `6.0 MB` instead of integer value.

[2020-09-07 08:00] zwpaper commented on #387
I noticed that there is a confused file `'5a35.ico'$'\247\375''='$'\356\324\373\206\362\300''^m'$'\330'`

can you try to `ls` it?

like

[code]

or copy the dir and leave it alone then do `lsd`?

@MaT1g3R

[2020-09-08 23:36] planet36 opened #409 "Feature request: allow symlink arrow to be "->" instead of "⇒""
On my system, the rightwards double arrow character is not visually distinctive from a bold hyphen.

Please allow (maybe with an option or env var) the symlink arrow to be "->" instead of "⇒".

[2020-09-09 17:31] gitaarik commented on #208
I think a default light and dark theme shipped in the binary would be great, since having both a dark an light theme is becoming more and more common in all kinds of applications.

[2020-09-09 21:07] MaT1g3R commented on #387
ls output:

[code]

lsd output:

[code]

@zwpaper

[2020-09-10 03:24] zwpaper commented on #387
@MaT1g3R May I ask how do u create this file? I try to touch one and failed

![image](https://user-images.githubusercontent.com/3764335/92678277-39c36600-f358-11ea-8300-25c855bd3783.png)

[2020-09-10 05:58] 357711589 opened #410 "Can't show file or dir icon (v 0.18.0)"
![image](https://user-images.githubusercontent.com/34570968/92687120-89f8f300-f36d-11ea-9d82-eb3998516a8e.png)

[2020-09-10 06:30] sklages commented on #410
Incompatible font? Have you installed any Nerd font? See [Nerd Fonts README](https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md)

[2020-09-10 19:17] MaT1g3R commented on #387
@zwpaper  I believe the file was originally created by steam, but I am able to re-create the file like so:

[code]

[2020-09-12 10:03] meain commented on #407
I am not sure if there is a standard way to do this, but you can check the inode number of files by using `lsd -i` and see if they are the same.

[2020-09-12 16:51] meain commented on #410
https://github.com/Peltoche/lsd/issues/199#issuecomment-494218334

[2020-09-12 16:51] #410 closed

[2020-09-12 16:53] #372 closed

[2020-09-12 16:55] meain commented on #364
https://github.com/Peltoche/lsd/issues/404

[2020-09-12 16:55] #364 closed

[2020-09-12 16:56] meain commented on #365
Related https://github.com/Peltoche/lsd/issues/404

[2020-09-12 17:40] coolaj86 commented on #295
@Peltoche Would you mind weighing in here? I would be willing to provide a PR for this.

[2020-09-13 08:03] zwpaper commented on #387
@MaT1g3R I have reproduced the file name, It can not create in macOS, but created in Linux.
I will dive into it soon, I believe this should be a UTF-8 encoding problem

[2020-09-15 10:38] meain commented on #295
@coolaj86 The feature in itself would be a good addition, but I don't think `-d` as the flag for it might be the best option.
`-d`'s long version should have been `--directory` (this is what it is in gnu `ls`) in that it prints the dir instead of contents. Having the long flag as `--directory-only` I believe is the reason for some of this confusion.
I think we could probably have another flag `--o

[2020-09-18 14:26] meain commented on #368
Closed with https://github.com/Peltoche/lsd/pull/369

[2020-09-18 14:26] #368 closed

[2020-09-18 14:35] #280 closed, assigned to nobody

[2020-09-18 14:36] meain commented on #319
This should be fixed now.
Feel free to reopen if this issue still persistes.

[2020-09-18 14:36] #319 closed

[2020-09-18 14:38] meain commented on #325
This should be fixed now.
Feel free to reopen if this issue still persists.

See https://github.com/Peltoche/lsd/issues/335 for any further improvement on how it is handled.

[2020-09-18 14:38] #325 closed

[2020-09-18 14:40] meain commented on #373
This should be fixed now.
Feel free to reopen if this issue still persists.

See https://github.com/Peltoche/lsd/issues/335 for any further improvement on how it is handled.

[2020-09-18 14:40] #373 closed

[2020-09-19 09:37] coolaj86 commented on #295
@meain These are my concerns:

1. `lsd -d` should function the same as `ls -d`
2. `lsd --tree -d` should function the same as `tree -d`

I think it would be great to retro-actively add the `--directory` alias for compatibility with `ls`.

I do not think it would serve well to break compatibility with `tree`.

My goal here is to have `lsd` as a drop-in replacement for the general use case of `tree`

[2020-09-19 10:07] #394 closed

[2020-09-19 10:16] meain commented on #295
@coolaj86 I see your point in keeping in consistent with `tree`, that makes a lot of sense.
Since we are currently erroring out with `--tree -d`, I don't think we will be taking away anything either.

Also, adding `--directory` would be a good addition too. Thanks.

[2020-09-21 10:34] zwpaper commented on #398
man for ls:

[code]

example output:

[code]

looks like that this is working as expected?

[2020-09-21 14:59] zwpaper commented on #337
fixed by https://github.com/Peltoche/lsd/commit/16f1b1ce7c45e98b505c2e7d57e0d46c88d882d3

[2020-09-21 14:59] #337 closed

[2020-09-21 16:12] ngirard commented on #337
@zwpaper : thanks for your work !
Just out of curiosity, what made you choose [human-sort](https://lib.rs/crates/human-sort) over [humanesort](https://lib.rs/crates/humanesort) ?

[2020-09-21 18:16] LHY-iS-Learning commented on #408
I would be happy to implement this if nobody else has picked it up yet.

[2020-09-22 03:58] zwpaper commented on #337
hi @ngirard
Actually there is not a special reason for choosing human-sort,
Maybe the main reason for me when researching is `human-sort` looks simpler and cleaner.

After reading this thread, I found what `data-man` mentioned, maybe unicode would be hidden trouble, I will work on it when necessary.

[2020-09-22 04:20] meain commented on #408
Nobody has picked it up yet. Feel free to take it up :)

[2020-09-22 14:15] zwpaper commented on #409
Add a option for rendering this would be an easy solution, what do u think? @meain

[2020-09-22 15:27] meain commented on #409
Yeah, I have a few concerns though:

- does the flag only affect `⇒` or all future non ascii chars if any
- what should the flag be (--only-ascii ?)
- should the flag be `=>` or `->` as some fonts have `-` rendered below middle

[2020-09-22 16:30] sklages commented on #398
hmm, I am afraid, I don't get it.

When I run `lsd -l` I see the correct group name for my files/folders.

Other users group names are displayed as group id only (GID), e.g. `1234` instead of `prjgrp`.

This is true for most, but not all files/groups.

E.g. `root`. Here the group is correctly displayed as `root`.

[2020-09-22 16:34] sklages commented on #398
Maybe https://github.com/ogham/rust-users/issues/40

[2020-09-23 04:44] meain opened #415 "Add --sort flag"
Now that we have all the sort options, it would be good to have `--sort` option as well.

From gnu ls:

[code]

[2020-09-23 08:58] zwpaper commented on #409
@meain actually, there is a more complicated solution in my mind, as u mentioned maybe the flag may effect all chars.

How about we add themes for all those customized requests, like this issue, https://github.com/Peltoche/lsd/pull/333, and the description in README.

we can use a theme file to describe the `=>`, icons, also colors.

[2020-09-23 09:10] zwpaper commented on #398
can you provide some examples? and the output of `ls -l`

I have tried `lsd -l` for 2 users, and it work as expected, the group name is shown:

[code]

[2020-09-23 09:54] meain commented on #409
Yeah, that sounds good. Config would be a better place for this.

[2020-09-25 10:35] sklages commented on #398
[code]

all these numbers in group column should be displayed as group name, just like `ls -l` correctly does.
It does not make any difference wether these files are local or via NFS(4) ...

[2020-09-25 10:41] zwpaper commented on #398
Could you provide more info like:
- which Linux Distro, maybe `cat /etc/os-release`
- `lsd-musl` or `lsd-gnu`, how do you installed lsd

maybe related to https://github.com/Peltoche/lsd/issues/374

[2020-09-25 10:46] zwpaper commented on #398
After diving into the PR you provided, I may find the cause, I will look at it this weekend.

[2020-09-25 10:58] sklages commented on #398
No MUSL, standard build with `cargo install --git https://github.com/Peltoche/lsd.git --branch master`.
Not an issue on my local machine, as there is only me, myself and I (ok, and root)  ;-)
My workhorses for working are in-house developed linux systems, 64bit.

[2020-09-26 18:00] coolaj86 commented on #295
I'm proposing this as a mob programming session for the [Utah Rust](https://utah.rs/) meetup in November or December. If someone wants to PR it before then, feel free, but if not I think that we'll do it.

[2020-09-28 11:29] horseinthesky opened #419 "Arch Linux has empty lines (if terminal width is not enough)"
- os: Arch Linux
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:
rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=0

[2020-09-29 06:59] meain commented on #419
This is a known issue and has been fixed in the latest version.

[2020-09-29 06:59] #419 closed

[2020-09-29 13:01] horseinthesky commented on #419
Noticed that `pacman` has 0.16.0 (dated 2 Aug 2019).
Installed 0.18.0 via `yay`. Everything works great.
Thank you.

[2020-09-29 19:47] csoleimani opened #420 "lsd Not Displaying Some Icons Correctly"
- os: MacOS Catalina 10.15.6
- `lsd --version`:  0.18.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior

For certain icons like Dockerfile, Gemfile, Rakefile, I'm expecting to see a special icon.
## Actual behavior
It shows a generic file, even though I see items in the code to show a special character. The special character shows in colorls, so I know my iTerm is set up

[2020-09-29 22:39] k03mad opened #421 "Do not print folders size"
- os: macOS 10 / Android 9 (Termux) / Raspbian Buster
- `lsd --version`: lsd 0.18.0
- `echo $TERM`: xterm-256color

## Expected behavior
`lsd -al` prints `-` at dirs size

[code]

## Actual behavior
`lsd -al` prints dirs size (even for `.` and `..`)

[code]

Looks like it's broken again:
https://github.com/Peltoche/lsd/issues/23
https://github.com/Peltoche/lsd/pull/35

[2020-09-30 04:59] meain commented on #408
My bad, I just realized that this would deviate from how `ls` does it and we would like to keep the behaviour somewhat consistent to ls.

[2020-09-30 06:56] zwpaper commented on #421
maybe we need to discuss the dir size output, I have checked the `Ubuntu` and `macOS` ls, it acts differently.

we currently act align to macOS

`Ubuntu`:
[code]

`macOS`:

[code]

`lsd 0.18.0`:

[code]

[2020-09-30 09:07] sklages commented on #408
### ls (GNU coreutils) 8.30 (Linux Mint, inhouse linux)
[code]

### lsd 0.18.0 (Linux Mint, cargo install)
[code]

[2020-09-30 10:13] zwpaper commented on #408
confirm in ubuntu and macOS, thanks for the detail!

[2020-09-30 10:31] k03mad commented on #421
It would be nice to have an option for this.
Something like:
`--dir-size <value>`

default: current behavior
total: eq to `--total-size`
none: `-` for dirs size

[2020-09-30 19:59] sklages commented on #407
Well that works for files in the same directory:
[code]
When files are not in the same directory, it gets complicated :-)

What @M4tT3d is referring to is to get column number two of `ls -l`:
[code]

[2020-10-01 01:47] zwpaper commented on #421
lsd already show the dir size by default, a flag seems not that necessary?

may I know what's the main point for adding this flag?

[2020-10-01 08:32] kcubeterm opened #423 "[Info] How to setup nerd font in order to work lsd properly in Termux(Android)."
You can install `lsd` in termux via. `pkg install lsd`

1. Visit [nerdfonts.com](https://nerdfonts.com) and download  your favourite font.
2. Unzip it `unzip my-favorite-font.zip`

3. Now you will see lots of .ttf and .otf file, rename any .ttf file into font.ttf and move it into `~/.termux` directory.
[code]

4. Reload settings, `termux-reload-settings` or just open new session.

![IMG_20201001_1

[2020-10-01 13:13] tumdum commented on #415
I would like to implement it

[2020-10-01 18:44] k03mad commented on #421
I thought it's the right way to do it.

Similary to `--size`:
[code]

Which prints the same output with default arg:
[code]

[2020-10-02 04:49] #423 closed

[2020-10-02 04:49] meain commented on #423
Thanks a lot! :)

[2020-10-02 08:38] zwpaper commented on #387
the panic is fixed, but the output is a little bit different like the one you post here.

the utf8 code in the filename is reserved for utf-16(https://en.wikipedia.org/wiki/UTF-16#U+D800_to_U+DFFF), and rust will check this by default.

Following the rust way, we display the reserved chars as �

[2020-10-02 09:03] zwpaper commented on #421
just like [people in Stackoverflow](https://stackoverflow.com/a/1019124/4242336) said, dir size should be the duty of `du`.

maybe I got the idea mistakenly, @meain could u help to look into this feature request? as I found u have discussed the dir size before in that PR.

[2020-10-02 11:05] meain commented on #421
From what I could find, the size for dir was explicitly brought back in https://github.com/Peltoche/lsd/pull/166. Also seems to be what classic ls is doing anyways.
Any specific workflow of yours that relied on size of folders being `-`?

[2020-10-02 11:23] k03mad commented on #421
I thought this was broken behavior.

Folders size (not total) seems a little useless.
Additionally, folders are better recognized with `-`, especially if `--color never --icon never` flags are passed (if anyone uses this combination...).

Maybe I'm just used to the output of the exa and this feature is not really needed by anyone in lsd.

[2020-10-02 12:20] meain commented on #421
@k03mad I think we will keep it as is for now.
Btw, in case you don't have colors or icons, you could always fall back to `-F` to distinguish between files, folders or symlinks.

Related: https://unix.stackexchange.com/questions/55/what-does-size-of-a-directory-mean-in-output-of-ls-l-command

[2020-10-02 12:20] #421 closed

[2020-10-02 12:22] #408 closed

[2020-10-03 12:06] #415 closed

[2020-10-03 17:51] jonas-frey commented on #79
I'm using kubuntu 20.20, and the buggy lsd is still available through snap. Can you please remove it? I think that would save a lot of people the trouble of rediscovering the problem and eventually switching to the deb

[2020-10-04 15:10] zwpaper commented on #398
hi @sklages , I noticed that you are using cargo to install lsd, can you try my patch so that we can confirm if the bug is blocked by https://github.com/ogham/rust-users/pull/38

[code]

[2020-10-05 03:48] zwpaper commented on #79
@Peltoche what's your idea? As we did not support snap anymore, shall we remove it?
I noticed that you are the developer for lsd on snapcraft, could you help to do this?

[2020-10-06 09:44] sklages commented on #398
Works like a charm AFAICS ... :+1:

[2020-10-06 09:44] sklages commented on #398
Works like a charm AFAICS ... :+1:

[2020-10-07 09:41] zwpaper commented on #398
We will fix this as soon as https://github.com/ogham/rust-users/pull/38 merged

[2020-10-07 09:54] mirsella opened #429 "leading . in hidden file/dir not showed"
when using lsd, even with -a or -A, the leading dot is not showed. I guess it's an intentional design, but I hate it. is there a way to show the leading dot for hidden file / dir with the current version  ? if no, could we add an option to do it ?
thanks

[2020-10-07 10:22] meain commented on #429
`lsd` even now shows leading dot for hidden files.
Maybe I am not understanding your issue, could you add examples of how it is currently and how you are expecting it to look like.

[2020-10-07 10:35] mirsella commented on #429
in my case, when using `lsd` in my home dir, all the hidden file and dir appear without the '.' for example .config appear as `(icon) config` if you want a screenshot I can provide one in like 1h30

[2020-10-07 10:50] meain commented on #429
It does not seem to happen for me. Which OS and version of lsd are you using?

[2020-10-07 10:52] mirsella commented on #429
so it's a issue.
I'm on manjaro Linux x86_64, I'll send more info about lsd version when I get back to my pc. also is there some sort of log I can upload ?

[2020-10-07 11:02] mirsella commented on #429
actually the dot are here but are not shown without highlighting it :
![image](https://user-images.githubusercontent.com/45905567/95322812-61491800-089d-11eb-855a-a49c06472413.png)
but only 1 dot at a time. I'll try changing some color scheme

[2020-10-07 11:04] meain commented on #429
Could you try with `lsd --color never`

[2020-10-07 11:05] mirsella commented on #429
nop, --color never didn't show the dot. it appear the issue is only with konsole.

[2020-10-07 11:06] meain commented on #429
How about `lsd --color never --icon never`? If it has dots now, it is probably an issue with the icons in the font.

[2020-10-07 11:07] mirsella commented on #429
yep work with --icon never. i'm using source code pro variable pro 12, I'll trychanging it

[2020-10-07 11:10] mirsella commented on #429
switched to source code nerd pro and it work but I really don't like the font. what are you using ?

[2020-10-07 11:13] meain commented on #429
Closing the issue. The problem is with either the font or how Konsole renders it.
I don't personally use icons a lot, but you can find a lot of fonts here which should work well. https://www.nerdfonts.com/font-downloads

[2020-10-07 11:13] #429 closed

[2020-10-07 11:18] meain commented on #429
@mirsella This probably is an issue only with variable fonts. Don't think terminal are good with them. Just my hunch. Try a non variable version of `source code pro` if available and that should work.

[2020-10-07 12:08] mirsella commented on #429
yep switched to source code pro nerd font, it was in the AUR

[2020-10-08 18:23] coolaj86 opened #430 "[Docs] What color theme is used in the Screenshot?"
Kind of related to https://github.com/Peltoche/lsd/issues/208, I'm looking for a theme that works well with my tools `fish`, `lsd`, `bat`.

The one in the screenshot in the README looks really well balanced. What is it?

[2020-10-09 03:09] zwpaper commented on #430
just like https://github.com/Peltoche/lsd/issues/90, lsd use `LS_COLORS` to create theme currently, and there is a light theme coded inside lsd.

theme configuration file support should be on the way https://github.com/Peltoche/lsd/issues/92

the screenshot in README should be a dark theme based on `LS_COLORS`

[2020-10-09 04:45] meain commented on #430
To add to what @zwpaper mentioned. Not sure of the exact colorscheme name of the one in the readme, but default pastel dark colorscheme in iTerm2 looks kinda similar. Most dark themes in my experience looks good.
<img width="489" alt="Screenshot 2020-10-09 at 10 07 29 AM" src="https://user-images.githubusercontent.com/14259816/95544002-a002dd80-0a17-11eb-9b5e-9a07152c3272.png">

Also as @zwpaper m

[2020-10-14 10:06] RyRch commented on #179
Hi ! i've also have the same issue icons don't show up in tyy where is the file to put your piece of code pls @Peltoche

[2020-10-14 10:10] aseifert commented on #7
+1 from me! I'd really love to have this as well, it's the only thing I still miss from exa/colorls!

[2020-10-14 10:10] RyRch commented on #179
Ok i found this cmd : lsd --icon never
so in my .zshrc i put this code :

 if [  "$TERM"  =  "linux"  ]; then
alias ls="lsd --icon never"
fi

[2020-10-17 04:05] #398 closed

[2020-10-17 07:25] #430 closed

[2020-10-17 08:52] zwpaper commented on #374
as the PR merged and a version newer than 0.18.0 not yet released, I mark this issue as blocked.

after releasing a new version, we can check and verify this.

[2020-10-17 23:59] nix6839 opened #435 "Please change icon for .ttc file"
- os: Arch Linux
- `lsd --version`: lsd 0.18.0
- `echo $TERM`: alacritty
- `echo $LS_COLORS`:

## Expected behavior
The `.ttc` file is a font file. However, in `lsd`, displayed by the file icon. Please fix this to be displayed as a font file.

[2020-10-18 05:21] #387 closed

[2020-10-19 02:57] sisrfeng commented on #208
Wait for support for light color theme!

[2020-10-19 14:09] zwpaper commented on #92
hi @kmoschcau , may I ask how is the progress of theme configuration?

maybe we can split the work and make it happen faster together

[2020-10-20 06:58] kakulukia commented on #363
+1 for more spacing

This looks odd compared to colorls (coloring aside)

![Bildschirmfoto 2020-10-20 um 08 55 57](https://user-images.githubusercontent.com/96352/96551095-1920f100-12b2-11eb-8131-de7d00195410.png)

[2020-10-23 11:41] foxale commented on #404
I have the same issue. What's the solution to get the exact same colors as in 0.16.0?

[2020-10-23 12:00] foxale commented on #365
I think there are many people that decided to go for this app not just for the sake of functionality it offers, but also because the coloring presented in the README was so appealing. It looks like the coloring is gone in 0.17.0 and 0.18.0, though.

 Would it be possible to recreate the original default coloring as $LS_COLORS variable and add to README? Any maybe even throw an explanation here and

[2020-10-24 15:57] zwpaper commented on #435
@nix6839 I created a PR for this, adding icon is really a easy work, maybe next time you could also have a try

everyone is welcome for PRs!

[2020-10-24 16:05] zwpaper commented on #92
as this is requested from time to time, I am trying to start my work for lsd theme, If anyone has started, please let me know!

[2020-10-24 17:39] kmoschcau commented on #92
This should certainly be easier now, since you can now save if in the config file. I'm not sure whether it would be beneficial to be able to specify an entire theme via CLI options.

[2020-10-25 05:32] #435 closed

[2020-10-25 05:33] meain commented on #365
@foxale That would be a good idea. Will add a way to reproduce the old colors using `LSCOLORS` in the readme.

[2020-10-25 06:55] zwpaper commented on #92
Hi @kmoschcau , thanks for the work on the config file.

I don't think to specify an entire theme via CLI options would be a great idea, this would make the options too complicated.

I will implement one option(and one in the config file) to specify the path of the theme, as a standalone theme file would be easier to switch between themes.

[2020-10-25 08:15] kmoschcau commented on #92
There is some merit to putting themes into their own files. But have you also considered putting them in the config file with the key being their name?

[2020-10-25 08:43] zwpaper commented on #92
putting themes in a single config file make it simpler, that is good!

but I preferred standalone file because:
1. changing themes always replaces the whole theme, and not much chance changes some color inside it.
2. standalone file makes it easier for sharing

the theme name as the key may also be a good choice, but in my personal experience, I don't like the dynamic yaml key much...

[2020-10-25 08:49] kmoschcau commented on #92
Well there wouldn't really be much dynamic about. The way I would make it is to have a root level key `themes`, which has an array of theme name keys, which then hold the color specifications.

But yes you could also just replace that mechanic by pulling out the color specifications into their own files. If you do that, it is worth thinking about putting those into their own subdir.

[2020-10-26 16:40] ExpandingMan opened #439 "doesn't read config file in"
- os:
- `lsd --version`: `0.18.0`
- `echo $TERM`: `xterm-256color` (in `alacritty`)

## Expected behavior
`lsd` behavior corresponds to config file.  For example, setting color to `never` turns off colors.

## Actual behavior
`lsd` seems to ignore config file, changes in file are not reflected in the command.  I put the file at `$HOME/.config/lsd/config.yaml`.  This is on Ubuntu 20.04.  I tried ad

[2020-10-27 08:54] zwpaper commented on #439
Hi @ExpandingMan , sorry for the misleading, config file support is currently on the master branch and not yet released!

the newest released is `0.18.0`, which is you can see on `https://github.com/Peltoche/lsd/tree/0.18.0e`

[2020-10-27 11:08] j-w-huang opened #440 "can't show icon ?"
- os:
- `lsd --version`: lsd 0.18.0
- `echo $TERM`: xterm-256color
xterm-256color
- `echo $LS_COLORS`: NULL

![Uploading image.png…]()

[2020-10-27 12:13] meain commented on #439
Will try to cut out a release with config file support soon.

[2020-10-27 12:13] #439 closed

[2020-10-27 12:49] meain commented on #440
Hey, the screenshot you took never got uploaded to Github. The OS also does not seem to be specifid.
Icon issue is almost always an issue with the font installation.
To check if your terminal has proper font setup try pasting this into the terminal and see if you can see a rust icon beside the filename.
[code]

If you can't see a proper icon, check out the [Nerd Fonts](https://www.nerdfonts.com) g

[2020-10-27 12:49] #440 closed

[2020-10-27 13:32] ExpandingMan commented on #439
Ah, sorry, I should have checked the tagged commit.  Thanks.

[2020-10-29 08:18] M4tT3d commented on #407
Yes. It is exactly what I mean

[2020-10-30 08:53] VentGrey opened #442 "Missing icon for Julia files"
- os: Pop! OS 20.10
- `lsd --version`: 0.18.0
- `echo $TERM`: xterm-256-color
- `echo $LS_COLORS`:
`
rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo

[2020-10-30 09:03] meain commented on #442
Hey @VentGrey , feel free to submit a PR adding the Julia icon.
You will have to modify [src/icon.rs](https://github.com/Peltoche/lsd/blob/master/src/icon.rs) file and add the correct icon for Julia based on the extension. You can find the icon from [Nerd Fonts cheatsheet](https://www.nerdfonts.com/cheat-sheet).

[2020-10-30 15:24] zwpaper commented on #442
a simple example for reference
https://github.com/Peltoche/lsd/pull/437/files

[2020-10-31 18:47] VentGrey commented on #442
Thank you so much for your feedback! :smile_cat:  I'll open a pull request ASAP.

[2020-11-02 16:30] #409 closed

[2020-11-02 22:38] MarkFilus commented on #404
@foxale  The fastest solution is to use version 0.16.0. Other than that you would have to generate an `LS_COLORS` that matches the colors used in 0.16.0.

[2020-11-03 17:06] bhechinger commented on #79
If this snap is not going to be updated to a version that works properly could you please remove it? It only causes confusion.

[2020-11-03 18:26] VentGrey commented on #442
Done :smile_cat:  it's open at #444

[2020-11-04 05:44] #442 closed

[2020-11-05 12:15] meain commented on #79
From what I could understand, an app once published cannot be removed from the snap store.
https://forum.snapcraft.io/t/how-can-a-developer-remove-her-his-app-from-snap-store/512

[2020-11-09 06:49] #420 closed

[2020-11-13 15:56] SturmB commented on #407
I, too, would love to see this feature added. It's the only thing that is preventing me from using lsd full-time instead of colorls.

[2020-11-15 18:54] smb commented on #375
Error is still present, just happened to me after fresh install (source: chocolatey - https://chocolatey.org/packages/lsd)

[2020-11-18 12:31] sonuishaq67 opened #446 "file logo is blank file even though its a python file"
- os: Arch Linux
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=0

[2020-11-18 12:36] meain commented on #446
We don't check the file contents. All the icon stuff is just based on the file extension.

[2020-11-18 12:36] #446 closed

[2020-11-18 12:42] sonuishaq67 commented on #446
Yeah I figured,
I meant it would be cool if they had icons too.
you don't need to check contents to know it's type this command can be used @meain
![Screenshot from 2020-11-18 18-11-20](https://user-images.githubusercontent.com/55189255/99531924-7b603500-29c9-11eb-8474-68c8321336c9.png)

[2020-11-18 13:32] meain commented on #446
I personally don't think it would be worth it. We will have to parse the shebang line, which will be much more involved than just checking for file extension. This will add quite a bit more overhead.

[code]

Btw, `file` actually does a [lot more](https://github.com/file/file/blob/master/magic/Magdir/python) to figure out if it a python file.

[2020-11-24 16:35] foxale commented on #365
For those who don't want to wait, here is an approx. of the old theme:
`LS_COLORS='di=38;5;33:ln=38;5;44:so=38;5;44:pi=38;5;44:bd=38;5;44:or=38;5;124:cd=38;5;172:ex=38;5;40:fi=38;5;184:no=38;5;245'`

Preview:
![image](https://user-images.githubusercontent.com/14327763/100123547-ea7ed300-2e7a-11eb-9a8f-ee708957ecde.png)

This is based on `src/color.rs/get_light_theme_colour_map()`, which was respon

[2020-11-25 02:34] zwpaper commented on #365
hi @foxale , thanks so much for the `LS_COLORS` configuration, this can really be helpful.

as the opinions you mentioned,
1. the README part, a PR for updating and adding this configuration is always welcome!
2. the configuration part, I am working on the theme configuration currently, it's functional working, a PR will be fired in days.

[2020-11-25 06:39] Deshdeepak1 opened #447 "Feature request: -s and other option."
Print file size using -s and also take -h, -m, etc for output type i.e. human readable, megabytes, etc.

[2020-11-26 07:40] 72siddharth commented on #356
I get the same error on windows when calling lsd in any drive other than 'C:'.

`lsd: .: No mapping between account names and security IDs was done. (os error 1332)`

Tested it in both powershell and cmd, same error.
What exactly is the problem here? And is there any workaround?

[2020-11-26 15:37] meain opened #448 "Fixing color issues in lsd"
Below is what I have come up with to fix some color issues with `lsd`.
I am assuming that these changes could be rolled out along with the config files changes for changing colors.
This should let us fix most of the problems with color. There are some pieces that I still need to think over, but this is the general idea.

Just posting it here to get an opinon on what others think about this approac

[2020-11-26 19:29] andys8 commented on #363
Over at `exa` they introduced `EXA_ICON_SPACING`

https://github.com/ogham/exa/commit/51be9f4c43e61bbea61e70e1459e494207d1d979#diff-48b676e2b107da679512b793d5fd4cc4329f0c7c17a97cf6e0e3d1005b600b03

[2020-11-27 03:25] zwpaper commented on #447
hi @Deshdeepak1 , let's look into your questions one by one.

1. `lsd` has supported `-h` for human-readable size output.
2. according to [ls manpage](https://man7.org/linux/man-pages/man1/ls.1.html) `-m` stands for `fill width with a comma separated list of entries` as we try to align to `ls`, this may not be added
3. `-s` for `print the allocated size of each file, in blocks` make sense, Any PR

[2020-11-27 03:44] meain commented on #363
Now that we have support for config file, I guess we could add this as a config option `icon_spacing`.

[2020-11-28 18:07] RomelSan commented on #331
It works in SSH under Windows Terminal - it is a modern terminal for Windows 10.
Putty and Kitty uses old Windows stuff so it will not work 100%.

[2020-11-30 23:21] jamischarles opened #449 "In alacritty terminal the folder icon is missing"
- os: Mac OS 10.15.7 Catalina
- `lsd --version`: 0.18.0
- `echo $TERM`: alacritty
- `echo $LS_COLORS`:

## Expected behavior
In `iterm2` I see all icons properly with `FiraCode Nerd Font Mono` font.
In  `alacritty` (same font) the folder icon is missing. I expect it to show up.

## Actual behavior
In `iterm2` I see all icons properly with `FiraCode Nerd Font Mono` font.
In  `alacritty` (same font)

[2020-12-01 02:32] zwpaper commented on #449
![image](https://user-images.githubusercontent.com/3764335/100689327-396ac200-33bf-11eb-8e5a-870859b896b0.png)

I try `Hack Nerd Font` in `alacritty`, it works as expected.

could you make sure the font is configured correctly, or try another one?

PS: you could try with this command to print the folder icon in shell.

[code]

[2020-12-01 03:27] jamischarles commented on #449
@zwpaper Thank you for confirming. Doh. Figured out that I had a patched font for regular, but not for bold (which is what the folders are). Thank you!

[2020-12-01 03:27] #449 closed

[2020-12-03 01:42] zxlxz opened #450 "lsd should support changing time format by setting `TIME_STYLE` env like gnu ls"
set TIME_STYLE, eg:
[code]
run ls:
[code]

run lsd:
[code]

[2020-12-03 03:07] zwpaper commented on #385
I have tried the `lsd --date='date' <TAB>` but it shows the files like this:

![image](https://user-images.githubusercontent.com/3764335/100958574-9305f480-3557-11eb-8e66-d6b624344079.png)

could you add:
1. the version of lsd
2. the version of zsh
3. did you use some extensions like `oh-my-zsh` or something others

[2020-12-03 10:51] Gerrit-K commented on #385
I totally forgot about that issue and I'm currently unable to reproduce it. Back then I somehow had at least some completions (not sure if built-in or via [`zsh-completions`](https://github.com/zsh-users/zsh-completions)), but right now I don't have any at all.
So the bug is kind of obsolete now, since the default zsh behaviour of suggesting directories (as stated in the "expected behavior" bug de

[2020-12-04 02:29] zwpaper commented on #385
`clap` which is `lsd` used as cli framework can auto-generate the completions, here is the crate and example:

https://github.com/clap-rs/clap/tree/master/clap_generate

the only question is when should we generate the completions, `prebuilt and can be used by curl`, `subcommand to generation on the fly` or something else.

[2020-12-06 03:47] zwpaper opened #451 "config support set display to VisibleOnly, but CLI arg not"
after https://github.com/Peltoche/lsd/pull/443#discussion_r535595544 merged, we can config the `display` to `VisibleOnly`, but not CLI args.
there will be a scenario like
1. set `display` in config file to value other than `VisibleOnly` for example `all`
2. users want to temporarily set `display` to `VisibleOnly`

users will have to change the configuration in config file, can not use a CLI arg.

[2020-12-06 13:41] TheAlakazam commented on #407
Hey, I want to contribute to this issue. Is there a recommended way to go about implementing this or should I peruse the `ls` code base ?
P.S. I am new to Rust and I want to get started with contributing to Rust projects.

[2020-12-07 02:53] zwpaper commented on #407
hi @TheAlakazam , Thanks for trying to implement this!

previously, I have done an `inode` options for `lsd`, it may not be the recommended way, but I could be a reference if needed.

https://github.com/Peltoche/lsd/pull/296

feel free to ask any questions

[2020-12-07 03:09] tomWhilbert commented on #407
I couldn't get the inode numbers to show with and combination os `ls` or `lsd -i`.  My current workaround is an alias that uses `command` to ignore `lsd` for inode lists.
`alias li=command ls -li`

[2020-12-07 03:47] meain commented on #407
@tomWhilbert You might be using an older version of lsd. Version 0.18.0 has support for `-i` and `--inode`.

[2020-12-07 03:55] tomWhilbert commented on #407
I have version 0.16.0  Its installed via Arch Community repo.  Guess I'll wait for the update.

[2020-12-07 04:03] meain commented on #407
`0.18.0` is available in [aur](https://aur.archlinux.org/packages/lsd-bin/) as of now.

[2020-12-07 04:07] tomWhilbert commented on #407
I uninstalled with pacman and installed using cargo.  All is good now, thanks.

[2020-12-07 04:34] meain commented on #385
I think subcommand would be better as that way it would be easier to keep in sync.

[2020-12-07 09:46] federicotorrielli opened #453 "Latest AUR version of lsd is outdated"
The community package of LSD on [AUR](https://www.archlinux.org/packages/community/x86_64/lsd/) is the 0.16.0 which I think it's far than outdated, I think the last packager was @felixonmars so maybe he can lend us a hand on having the latest version.

[2020-12-08 04:22] zwpaper commented on #385
but subcommand may be confused with the files args

[2020-12-08 04:25] zwpaper commented on #453
https://aur.archlinux.org/packages/lsd-bin/ updated

[2020-12-08 04:43] meain commented on #385
Ahh, I see your point. Guess we could do a flag instead of a subcommand. I am not sure if this is a common pattern but I have seen `eval $(lsd --gen-completions)` like things. Dropping something like this in a `.bashrc` should let them load the completions for the specific version they will be using.

[2020-12-08 08:51] federicotorrielli commented on #453
Thanks, appreciated.

[2020-12-08 08:51] #453 closed

[2020-12-09 16:02] niksingh710 opened #454 "permission denied linux"
- os: KDE neon User Edition 5.20 (20.04)
- `lsd --version`: 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31

[2020-12-09 16:46] just-chillin commented on #454
I've started getting that issue all of a sudden when I try to ls my .ssh directory. The issue does not occur on my macbook, however it does occur under wsl for me. Does this issue occur in 0.17?

Also, I'm wondering what exactly makes ls not have this problem.

[2020-12-09 16:52] niksingh710 commented on #454
@just-chillin hmm I was using the snap package and that was outdated so ...
version 0.18.0 works fine.

[2020-12-09 16:52] #454 closed

[2020-12-09 17:48] MichaelSasser opened #455 "Don't relying on set XDG variables"
- os:
- `lsd --version`: `lsd 0.18.0`
- `echo $TERM`: `alacritty`
- `echo $LS_COLORS`: not set
- build with cargo
- `Linux MyHostName 5.9.13-arch1-1 #1 SMP PREEMPT Tue, 08 Dec 2020 12:09:55 +0000 x86_64 GNU/Linux`

## Expected behavior
`lsd` uses the configuration set in `~/.config/lsd/config.yaml` by getting the path on linux based operating systems from (in this order):
- `XDG` variables
- `$HOM

[2020-12-10 04:02] meain commented on #454
We were having some permission issues with snap packages. Tried fixing it with no luck. https://github.com/Peltoche/lsd/issues/79

[2020-12-10 04:38] meain commented on #455
@MichaelSasser  I believe if `$XDG_CONFIG_HOME` is not set it defaults to `$HOME/.config`.
That said, the config option is not available in 0.18.0. I was just waiting for https://github.com/Peltoche/lsd/pull/443 to land to publish the next release.
That said, if you wanna give it a shot now master should have config parsing.

[2020-12-10 09:16] Gilles-GitHub commented on #375
This error doesn't seems to be related to the way you installed lsd.
I tried both choco and scoop and I still got the error.

[2020-12-11 01:41] coolaj86 commented on #295
Tonight is the night.

[2020-12-11 03:30] meain commented on #295
@coolaj86 There is actually an open PR for this right now #426. It is almost complete. However there are a few [good-first-issue items](https://github.com/Peltoche/lsd/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22) that I think could be tackled.

[2020-12-11 04:45] coolaj86 commented on #295
@meain we re-implemented it as an exercise and then I rebased from that PR.

Reading through we didn't quite understand: What's wrong with that PR? It doesn't have YAML tests? I'm not quite clear on how to create the yaml test myself.

[2020-12-11 11:14] #295 closed

[2020-12-11 11:32] meain opened #457 "Handle `-L` with broken symlink"
As of now, lsd does not display the file when using `-L` on a broken link.

## Expected behavior

This is from gnu ls.

[code]

## Actual behavior

The hooks directory is completely skipped from the list of files.

[code]

[2020-12-11 11:33] #455 closed

[2020-12-12 16:03] isavegas commented on #356
I'm getting it in C: as well. `lsd` just straight up doesn't work on my Windows install. It appears to be related to having SMB shares mounted as drive letters. I'll do some research into the error and see if there's anything I can figure out on that front. 👍

[2020-12-13 06:01] TheAlakazam commented on #407
Hi, I wanted to ask if this should be implemented inside the INode struct, because hard link numbers is a part of the inode metadata ? The MetaDataExt crate has a method for getting the number of hardlinks to an inode.

[2020-12-13 07:38] zwpaper opened #458 "should improve the configuration file error message"
related https://github.com/Peltoche/lsd/pull/443#issuecomment-743951460

quote from comment:

For example, if we have config like this:

[code]

output:
[code]

[2020-12-13 07:57] zwpaper commented on #407
maybe a standalone mod would be a better choice? The hard links number feels more like a standalone concept, although hard-linked files used the same inode number.

[2020-12-13 08:02] meain commented on #407
As @zwpaper suggested think we could keep it as a separate file as that way it would align with the idea of having one file per block (parsing, rendering etc). Also, we could add something like `inode-count` (better names welcome) for block name and an `INodeCount` enum in display.

[2020-12-13 08:10] TheAlakazam commented on #407
Ok, I will create a new mod. Names for the mod are welcome, even I am stumped as to what to name it. I will be going with INodeCount for now as per @meain's suggestion.

[2020-12-14 10:08] sklages opened #460 "Compile issue"
Is there a way to install `lsd` with `cargo install` without the need of using a nightly build of `rustc`?
It would makes things easier ..

[2020-12-14 18:27] NeQuissimus opened #461 "blocks not respected without `-l` when passed as cli args"
- os: `Ubuntu 20.04`
- `lsd --version`: `0.19.0`
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`:
```rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:

[2020-12-15 04:05] meain commented on #461
Hey, thanks a lot for the report. Will try to release a patch for this soon.
But for now, you should be able to do `lsd --classic --blocks "size,name" -l` (add `-l`) to get the previous behavior.

[2020-12-15 04:24] Anu2001dev opened #462 "ignore option like tree has"
## Feature
similar option to `-I` option that `tree` command has.

## Expected behaviour
`lsd --tree -I Downloads`: should Ignore `Downloads` folder

[2020-12-15 04:24] meain commented on #461
`lsd --classic --blocks "size,name" -l /tmp/foo`(adding `-l`) will give you what you are looking for. This change was brought in by the addition on config file.

[2020-12-15 04:28] meain commented on #461
Will bring back the old behavior when these are passed in as cli args.

[2020-12-15 04:32] meain commented on #460
`lsd` should work on stable rust. Our CI runs on [1.43.1](https://github.com/Peltoche/lsd/blob/e3649fede8f7fc64041b709c56a3438ddbf813f0/.github/workflows/CICD.yml#L9).

[2020-12-15 04:58] meain commented on #462
Latest `lsd` has support for `-I`.

[2020-12-15 04:59] #462 closed

[2020-12-15 05:00] Anu2001dev commented on #462
you mean `lsd --tree -I node_modules` would work

[2020-12-15 05:10] meain commented on #462
Yup, that should work.

[2020-12-15 05:22] Anu2001dev commented on #462
oh. I am using arch linux and I was using `lsd: 0.16.0` . after that I uninstalled it and installed the aur `lsd-git: 0.19.0` now it works. thanks for your help.

[2020-12-16 02:05] iysheng opened #463 "ls with symbol link get failed"
When I am in a symbolic linked directory, I want to ls with the parent of this directory as **ls ../**,It's ok as below, but when i want to see a directory of parent, it's get failed. the print as blow:
![ZtX3m6.png](https://t1.picb.cc/uploads/2020/12/16/ZtX3m6.png)

[2020-12-16 06:20] matthewstrasiotto opened #464 "Allow for -C (list entries by columns) flag - GNU coreutils 8.28"
My old alias:
[code]
 set from some config or another throws an error when `alias ls='lsd'` is set.

[code]

I don't really know the difference between the outputs using this flag, but it'd be nice if `lsd` could handle the flag gracefully.

This is part of `ls`'s api in GNU coreutils 8.28.

[2020-12-16 06:27] meain commented on #463
I was not able to reproduce this in latest version. Could you try with the latest version `0.19.0`.

[2020-12-16 10:36] sklages commented on #460
hmm, okay, Distro: `Linux Mint 20 Ulyana`:

[code]

[2020-12-16 10:42] sklages commented on #460
I'll take the binary release meanwhile ...

[2020-12-16 10:42] #460 closed

[2020-12-16 10:51] sklages commented on #463
I cannot reproduce neither (0.19.0):

[code]

[2020-12-16 12:25] meain commented on #460
@sklages Do you have any error logs? I tried  doing `cargo install lsd` in `rust:1.43.0` container image and that seemed to work.

[2020-12-16 14:22] zwpaper commented on #463
There is a bug in version 0.16.0, and should be fixed after 0.17.0

https://github.com/Peltoche/lsd/issues/72

[2020-12-16 14:23] #463 closed

[2020-12-16 20:47] sklages commented on #460
thanks @meain ... honestly, no idea, but it works now with `1.43.0`,

[code]
.. and a regular install works just as fine (without debug).

Sorry for the noise :-)

[2020-12-17 00:24] iysheng commented on #463
yeah, after i upgrade lsd from 0.17 to 0.18, it is ok now.

[2020-12-17 03:55] zwpaper commented on #464
Some reference for `-C`
[manpage](https://man7.org/linux/man-pages/man1/ls.1.html): `-C     list entries by columns`

it is the default behavior for `ls` in stdout. for example:

stdout without `-C`:
[code]

stdout with `-C`:

[code]

it is `NOT` the default one beside stdout, pipeline for example:

pipeline without `-C`:

[code]

pipeline with `-C`

[code]

[2020-12-18 14:44] LawsonJohnson opened #465 "[Feature Suggestion] Implement -v flag for natural sort of numbers"
It would be handy if the option to use natural number sorting was available. I.e. "Foo 10" comes after "Foo 9" when listed rather than after "Foo 1". This could be implemented as a config option or as a back-compatible -v flag like in GNU ls.

[2020-12-18 14:47] meain commented on #465
Already supported in the latest version (0.19.0).

[2020-12-18 14:47] #465 closed

[2020-12-19 18:24] Skips75 commented on #356
I get the same error with lsd version 0.19.0 executing it on a removeable D: drive on Windows 10 Pro 20H2.
I installed lsd via scoop utility and I'm using it on a Powershell 5.1.19041.610.

[2020-12-27 02:10] planet36 commented on #409
It works great.  Thanks!

[2020-12-28 05:59] jlagneau opened #468 "Change the display of --tree when used alongside --long"
Currently, the tree is displayed on the leftmost side and it shift all the columns around depending on the depth of the tree, making the output sort of hard to read.

![image](https://user-images.githubusercontent.com/7811277/103192593-8451f980-48d9-11eb-841a-940986fb33a5.png)

Wouldn't it make sense to display the tree depth character alongside the file/directory names or at least on its own colu

[2020-12-29 13:28] mickenordin commented on #303
I found it to be really easy to set up a debian repo hosted on github using reprepo, meaning I don't have to set up my own server for this.

I have a cname set up for it so it is accessible from https://repo.mic.ke/debian and https works out of the box since github supports let's encrypt.

I have two packages that I distribute from https://github.com/mickenordin/repo

The projects that I distrubut

[2021-01-01 07:56] #461 closed

[2021-01-08 00:57] sherifabdlnaby commented on #7
+1!!!!

[2021-01-14 03:58] meain commented on #339
Symlink colors/icons are based on the fact that they are symlinks and not weather they are linked to a file or a folder. Closing this issue.

[2021-01-14 03:58] #339 closed

[2021-01-14 04:03] meain commented on #316
We should have a fix for this in https://github.com/Peltoche/lsd/pull/469 which should land pretty soon. Closing this for now, keeping #363 as the tracking issue for this.

[2021-01-14 04:03] #316 closed

[2021-01-14 04:13] meain commented on #9
This should be fixed with https://github.com/Peltoche/lsd/pull/425 . Closing this for now, feel free to reopen if this still exists.

[2021-01-14 04:13] #9 closed

[2021-01-14 04:16] meain commented on #335
Closing this as the primary issue is now fixed.

[2021-01-14 04:16] #335 closed

[2021-01-14 06:46] jcassee commented on #316
Thanks, @meain and @OrangeFran!

[2021-01-16 01:28] schlueter opened #472 "Carriage return "\r" in filename breaks output"
- os: MacOS
- `lsd --version`: lsd 0.17.0
- `echo $TERM`: screen-256color
- `echo $LS_COLORS`: di=34:ln=35:so=32:pi=33:ex=31:bd=36;01:cd=33;01:su=31;40;07:sg=36;40;07:tw=32;40;07:ow=33;40;07:

## Expected behavior
Inclusion of all files in directory in lsd output.

LS output:
[code]

## Actual behavior
[code]

## Notes
- I can create that file with `touch $'Icon?\r'`.
- Removing the `$'Icon?\r' fi

[2021-01-16 02:56] meain commented on #472
It should be fixed in the latest version of lsd `0.19.0`. Closing this issue, feel free to reopen if you hit this issue even after updating to the latest version.

[2021-01-16 02:56] #472 closed

[2021-01-16 02:58] meain commented on #363
This should now be available via https://github.com/Peltoche/lsd/pull/469 once `0.20.0` lands.

[2021-01-16 02:58] #363 closed

[2021-01-16 03:01] meain commented on #450
This should now be available via https://github.com/Peltoche/lsd/pull/471 once `0.20.0` release lands.

[2021-01-16 03:01] #450 closed

[2021-01-18 05:56] BinaryBen commented on #468
I've changed the config to:

[code]

This gives the effect you are after when using `lsd -l --tree` and you can add the permission to the end. It will change it for `lsd -l`  as well though

[2021-01-18 06:45] jlagneau commented on #468
That's pretty clever and simple.

Your config does fix the issue for file/folders names readability in the tree, and I didn't think of that, thanks a lot. I'll be using that in the mean time until there's something a bit better. But it's not really fixing the issue of columns shifting around depending on the depth of the tree though and that's part of my issue with the current implementation of tr

[2021-01-25 18:30] OlegKrikun opened #476 "Arch Linux package dependency"
Hi, folks! Thank for a awesome tool!

Arch [package](https://archlinux.org/packages/community/x86_64/lsd/) have dependency `awesome-terminal-fonts`, it is possible to mark it as optional?  =)

[2021-01-27 01:35] maxsatula opened #477 "`--tree` alongside `-a, --all` displays wrong results"
- os: Funtoo Linux
- `lsd --version`: 0.19.0
- `echo $TERM`: screen-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=01;05;37;41:mi=01;05;37;41:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01

[2021-01-27 22:18] nogerine commented on #476
See bug report for this: https://bugs.archlinux.org/task/62761

[2021-01-28 06:43] pplmx commented on #200
very very very slow in win 10, listing a directory with four sub-folders will cost one minute or more.
In WSL, its speed is normal.

[2021-01-29 19:13] adguy360 opened #478 "Tight grid/spacing and icon padding"
- os: macOS 10.15.7
- terminal: iterm2 (theme solarized dark)
- shell: fish 3.1.2
- `lsd --version`:  `lsd 0.19.0`
- `echo $TERM`:  `xterm-256color`
- `echo $LS_COLORS`: nothing

I may be missing something trivial here, but it seems like when running `lsd` the results grid are extremely tight (spacing/padding - also between rows). This is not only compared to `ls` but also compared to lsd's screen

[2021-01-30 15:46] zwpaper commented on #478
this should be related to fonts, and this will be able to be configurated after `0.20.0` related.

you can check more in https://github.com/Peltoche/lsd/issues/363

[2021-01-30 15:46] #478 closed

[2021-01-30 20:45] adguy360 commented on #478
Thanks @zwpaper but if I'm not mistaken that will take care of the icon spacing only no?

What about the tight spacing between the results grid columns/rows?

I also notice that in `ls` each grid cell width is dictated by the longest entry in all results - equal columns. In `lsd` the columns are skewed - the cell width is dictated by the longest entry in the column. I assume that is by design but

[2021-01-31 03:50] meain commented on #478
@adguy360
- The grid spacing is set to be that way. From what I can tell, this is how gnu ls handles it.
- Icon spacing (space between the icon and the name) depends on the font that you are using as @zwpaper mentioned and will have a flag to configure that.
- For color issue, you can refer to https://github.com/Peltoche/lsd/issues/365#issuecomment-733095300
- There is no set release schedule, but

[2021-01-31 03:56] meain commented on #476
Thanks @nogerine . Closing this issue as this is arch packaging issue and is not something that is controlled by us.

[2021-01-31 03:56] #476 closed

[2021-02-01 04:23] BinaryBen opened #480 "Add a flag to change config file location"
Could we include a flag to point to a custom location for the config.yaml file? Something like the `-f` option in `tmux`.

[2021-02-01 04:50] meain commented on #480
Hey, would like know your workflow in which having multiple config files would be useful. Just trying to understand the use case for this.

[2021-02-01 12:50] BinaryBen commented on #480
I have my dotfiles in ~/.files and want to reduce the number of symlinks I need to make that work. I'd like to be able to alias `ls` to `lsd -A -f $DOTFILES/lsd/config.yaml` in my bash/zsh files (which will be symlinked)

[2021-02-04 15:24] arkinzoodsma opened #481 "ZSH problems tabcompleting directories and files after using DATE= modifier"
- os: Linux 5.10.11-arch1-1 #1 SMP PREEMPT Wed, 27 Jan 2021 13:53:16 +0000 GNU/Linux
- `lsd --version`: lsd 0.19.0 (built from master)
- `echo $TERM`: xterm-kitty & xterm-256color alacritty
- `echo $LS_COLORS`: -

## Expected behavior
If applicable, add the output of the classic ls command (`\ls -la`) in order to show the buggy file/directory.

After adding the --date= modifier like and pressing t

[2021-02-05 04:33] meain commented on #385
Hey, this is something that I forgot earlier. `lsd` actually ships with completions in the release. I forgot about it as this is not a feature that I was using a lot.

The issue is that `lsd` does not seem to be doing file name completions in `bash` and `zsh`.  `fish` seems to work well though. Will look into what might be going on in the build script.

[2021-02-05 04:33] meain commented on #481
Duplicate of https://github.com/Peltoche/lsd/issues/385

[2021-02-05 04:33] #481 closed

[2021-02-05 05:15] meain commented on #385
Looks like this is related to https://github.com/clap-rs/clap/issues/568.

[2021-02-06 14:56] ftpd commented on #378
+1 to this.
I've just did the other test: compared lsd and exa when listing long output and tree view:
`exa -l -T  2.54s user 6.14s system 47% cpu 18.298 total`
`lsd -l --tree  332.53s user 96.61s system 50% cpu 14:13.04 total`
(obviously no info from vanilla ls, as it doesn't have tree functionality).

I did it on my 13GB home directory (macOS, so many small files in ~/Library).

[2021-02-09 05:17] meain commented on #407
You can now do `lsd --blocks permission,links,user,group,size,date,name` or better, have this as the blocks in the config file to get the result you are looking for. This change is available currently in master and should be out in next release.
Decided to not add it to default long listing behavior for now. There is some color change planned and I thought it would be better if this lands fully af

[2021-02-09 09:52] 26chk opened #483 "please add in"Icon of CMD file""
![Screenshot_20210209_174723](https://user-images.githubusercontent.com/61009000/107346305-807fdc80-6aff-11eb-933d-7dbf54ccb2b7.jpg)
![Screenshot_20210209_174738](https://user-images.githubusercontent.com/61009000/107346312-82e23680-6aff-11eb-977b-d2f2abdc73d8.jpg)

[2021-02-10 16:21] meain commented on #483
Feel free to submit a PR to add icons ([ref](https://github.com/Peltoche/lsd/blob/841ad99ced2f3a0103869fee696693442a2f2b6a/src/icon.rs#L141)).

As for the color of `README.md` and `Makefile`, you can completely customize them using lscolors. eg: https://github.com/trapd00r/LS_COLORS

[2021-02-11 01:26] 26chk commented on #483
Yes, that sounds great, can you underline some files？such as "README"and "MakeFile"?👀

[2021-02-13 03:49] meain commented on #483
Yup, we should be able to do whatever lscolors can handle.
You can refer to documentation on lscolors [here](www.bigsoft.co.uk/blog/2008/04/11/configuring-ls_colors) and [here](www.bigsoft.co.uk/blog/2008/04/11/configuring-ls_colors). These should give you an idea on how to configure lscolors to your exact specific usecase.

[2021-02-15 04:03] #477 closed

[2021-02-15 17:49] maxsatula commented on #331
@Koovu
I contacted PuTTY developer Simon, and he kindly fixed that.
Try using PuTTY development snapshot. Of course, don't forget to use Nerd Font.

[2021-02-16 00:27] RomelSan commented on #331
**@maxsatula**
Tested on my PC.
 The same font **Caskaydia Cove Nerd Font** will work 100% on **Windows Terminal**.
 On **Putty Development Snapshot** will show only 50% of the icon.
 For Example:
 **Clip Ico** will show OK on both, type: `echo -e "\uf64e"`.
 **Folder Ico** will show 50% in Putty, type: `echo -e "\uf115"`

You can download the Nerd Font i am using here:
 https://github.com/ryanoas

[2021-02-16 00:36] maxsatula commented on #331
@RomelSan hmm... can it be font-specific? I just tried `echo -e "\uf115"` and it worked for me well, but I use **Hack** font (installed only `*Windows Compatible.ttf` files), not **Cascadia Code**

Keep in mind I was just a messenger here, I'm not part of either Nerd Font or PuTTY development teams.

[2021-02-16 00:44] maxsatula commented on #331
Maybe because **Cascadia Code** is variable width, looking how your folder icon on the "correct" screenshot covers two letters above it. **Hack**, on the contrary, displays a folder glyph which is 1 character wide as other characters.

And that seems you have to switch to monospace font, here is what stackoverflow says: https://stackoverflow.com/questions/5776219/using-variable-width-font-in-putty

[2021-02-16 01:05] RomelSan commented on #331
@maxsatula
Yes, you are right.
Putty only works with fonts (1 character wide).
Now i am installing monospace font version too.
Tested with **hack nf mono windows compatible**
![fixed](https://user-images.githubusercontent.com/11341002/108006213-db667780-6fc8-11eb-8001-0aec3b2536c5.png)

Thanks for your help, now i can use putty again.

[2021-02-23 02:46] ben2talk commented on #378
Yes.
Also using in .zshrc or .bashrc
# Automatically ls when changing directory
cd() {
    builtin cd "$@" && lsd

lsd comes up with `Permission denied (oserror 13).` errors when opening Dolphin terminal...

Compare with...
[code]

[2021-02-23 10:50] meain commented on #378
@ben2talk Permission denied is probably a different issues: https://github.com/Peltoche/lsd/issues/79

[2021-02-23 11:56] ben2talk opened #490 "Serious hiccups... especially with -a"
- os: Manjaro KDE
- `lsd --version`: 0.19.0
- `echo $TERM`: xterm-256color
echo $LS_COLORS rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t

[2021-02-24 01:38] ben2talk commented on #490
Specifying --tree
├──  pkg
│  ├──  src
As expected, nothing inside 'pkg' is listed - Permissions d--x--x--x.

Difference is that with ls, and with exa, there is no delay.

[2021-02-24 03:17] ben2talk commented on #490
*** Configuration

# == Total size ==
# Whether to display the total size of directories.
# Possible values: false, true
total-size: false

Setting total-size: true is the problem.

[2021-02-24 03:17] #490 closed

[2021-02-26 16:17] m4l490n opened #491 "Is is possible to insert a space between the icons and the text?"
I was wondering if it is possible to insert a space between the icon and the text. I ask this because it seems kind of crammed
![image](https://user-images.githubusercontent.com/22749875/109325375-d6ed5a80-7823-11eb-8722-41b10c03dba9.png)

Is there a way of configuring this without changing the font?

[2021-02-27 15:18] meain commented on #491
Should be available in the next release as a config option. https://github.com/Peltoche/lsd/pull/469

[2021-02-27 15:19] #491 closed

[2021-02-28 12:14] hpwxf commented on #7
I like this idea; maybe I can do it. Is there already someone on this issue ?

About the icons, if we want funny glyphs, my suggestions are (from https://www.nerdfonts.com/cheat-sheet)
        * check (-): nf-fa-check f00c
        * modified (M): nf-fa-gear f013
        * uknown (?): nf-fa-user_secret f21b
        * ignored (!) : nf-mdi-ghost f79f (or nf-fa-exclamation f12a)
        * new (+) : nf

[2021-03-01 09:00] zwpaper commented on #7
Hi @hpwxf , There is noone working on this right now, please feel free to take this up and thanks for contributing to LSD!

as the icons part, maybe we should have @meain 's attention,
for my personal opinion, it is cute! XD

PS:
I was thinking to work on a configuration file for the icons after the theme one, so do not let the glyphs stop your progress

[2021-03-01 14:11] meain commented on #7
Hey @hpwxf, thanks a lot for taking looking into this. I have not been able to fully think through it but here are few things that I wanted to mention.

I don't think separating the output of ls to two columns would be a good idea, this should be just a "block" similar to size or date. As for the representation, we could use how [git-status](https://git-scm.com/docs/git-status) represents it with

[2021-03-02 19:38] hpwxf commented on #7
To define a status for a directory, I suggest to use a kind of *max* on the status of the files inside.
I use this order:
[code]
it means that a conflict will always be shown whatever the other modifications; if no conflict, the second most important status is Modified...

Below, a output example (fancy icons will come later). For this example, in the previous commit, each sub/directory contained

[2021-03-04 04:54] meain commented on #7
@hpwxf That sounds good.

[2021-03-05 13:46] gbin opened #492 "Defaulting to human readable leaves the user with no way to get the exact byte length"
I run lsd 0.19.0 on Arch with ls aliased to lsd, I unaliased them to show the differences below.

I tried:
[code]

I would expect the same behavior as ls:
[code]
(this is a real example where the real size does matter! we have a 4 bytes difference).

I thought I could simply add both the "size_value" and size in the config, but no, the size_value is the bare human readable value with no unit (IMHO

[2021-03-05 14:01] gbin commented on #492
I found this afterwards:
[code]
But I would argue that `--classic` should still revert completely to the standard ls behavior and `size_value` should always stay as bytes and not randomly change unit. What do you think?

[2021-03-07 06:20] meain commented on #492
@gbin Makes sense. We can make `--classic` change size to bytes.

[2021-03-07 17:56] KapJI opened #494 "Parent directory `..` in the middle of the list"
- os: Debian
- `lsd --version`: 0.19.0 (installed with `cargo install` from sources)
- `echo $TERM`: `screen-256color`
- `echo $LS_COLORS`: `rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.

[2021-03-07 18:01] KapJI commented on #494
Seems to be fixed on the current master, sorry.

[2021-03-07 18:01] #494 closed

[2021-03-07 19:31] l3afblow3r commented on #375
### I am running Windows 10 Version 20H2 Build 19042.631.
Running `lsd` on the C drive gives a couple of `The process cannot access the file because it is being used by another process. (os error 32).` errors while displaying everything else after that fine.
![lsd_c_drive_example](https://user-images.githubusercontent.com/78950913/110251975-7f699000-7f83-11eb-9dc7-60d8fca95510.png)

The issue star

[2021-03-08 16:16] SturmB commented on #334
I am experiencing similar issues. Like @sql-sith, I have Cygwin installed but have not used it in years. Would uninstalling Cygwin correct the problem?

The output I am getting is:
[code]
I recognize these directories as ones that I created a long time ago, probably back when I used Cygwin. I don't know from where lsd is reading these, but I'd like it to stop, if at all possible.

[2021-03-09 04:01] AnrDaemon commented on #334
@SturmB , no, your error is due to lsd bug.
See https://cygwin.com/cygwin-ug-net/ntsec.html#ntsec-files

[2021-03-09 09:44] pplmx commented on #304
Any Progress?

[2021-03-09 14:30] KapJI commented on #494
Yes, it works now, thanks!

[2021-03-09 15:24] gmagno opened #496 "error: The argument '--all' cannot be used with '--directory-only'"
- os: Arch Linux, kernel 5.10.19
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: alacritty

## Expected behavior
[code]

## Actual behavior
[code]

Hello, why can't I list all directories in the current directory?

[2021-03-09 15:32] SturmB commented on #334
Oh, so uninstalling Cygwin won't help either, eh? That's a shame. Well, I certainly hope there will be a bug fix for this someday. Thanks for the info, @AnrDaemon.

[2021-03-09 16:38] meain commented on #496
`--directory-only` is probably a bad name, it is supposed to be similar to `--directory` in gnu ls which is used to display the directory details instead of its contents. As of now, there is not way for you to just list directories.

[2021-03-10 06:09] maleyva1 opened #498 "Unable to list the contents of a symbolic directory"
- os: Ubuntu 20.10
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

I have a symbolic link to folder that I use to store music. There's over 3K files with over 400 directories that fails to display with lsd. On the other hand lsd displays the contents of another symbolic linked directory containing 3 items. ls and tree work fine in displaying the contents.

## Expecte

[2021-03-10 13:26] meain commented on #498
Are you able to display the contents when you directly try to list the folder instead of the symlink?

[2021-03-10 14:33] maleyva1 commented on #498
No.

[2021-03-11 16:41] SturmB commented on #407
Looks like the change has made it into [v0.20.1](https://github.com/Peltoche/lsd/releases/tag/0.20.1), @meain. From what I can see so far, the hardlink count is, indeed, working now. Thank you so much! 😃

[2021-03-12 10:05] #407 closed

[2021-03-12 10:08] zwpaper commented on #498
@maleyva1 can you paste some example output of the `lsd` and `ls`, so that we can try to find out what the problem might be?

[2021-03-12 13:22] #492 closed

[2021-03-12 13:22] #496 closed

[2021-03-12 15:48] gmagno commented on #496
Hey, thanks for the reply. You closed the issue, was this fixed?

[2021-03-12 16:53] meain commented on #496
`--directory-only` is not to list just directories but to list the directory that you mention. That is why I thought I would close is this issue. For example if you specific `ls -d -l Documents` it gives you size, permissions for Documents instead of contents in them.

[2021-03-12 18:57] gmagno commented on #496
Got it.
I had the (wrong) idea that `lsd` aimed at working as a drop-in replacement for `ls`, but that doesn't seem to be the case.

[2021-03-13 02:46] maleyva1 commented on #498
@zwpaper

[![asciicast](https://asciinema.org/a/RglRQW3NceVvhtthbTjIcey8j.svg)](https://asciinema.org/a/RglRQW3NceVvhtthbTjIcey8j)

[2021-03-13 03:18] meain commented on #496
Well, that statement is true for the most part. `lsd` is `ls` plus some stuff when possible keeping as many options similar to `ls`. `-d` has the same behaviour in GNU `ls` and `lsd`.

[2021-03-13 13:30] loggerheads-on-binary opened #499 "lsd cannot follow windows symlinks"
- os: WIndows 10 Home 20H2 Build 19042
- `lsd --version ` : 0.20.1
- `echo $TERM`: None on Windows
- `echo $LS_COLORS`:  None on Windows

## Expected behavior
Symlink directory when played with `lsd -al` should render the files listed as in the original directory(since it is a symlink)
Here `D:\Toolkit\Extra\Notification\.PNG_src` is the *original directory* and `D:\Personals\Tests\folder1` is the

[2021-03-13 16:09] meain commented on #304
Anyone who would like to package this up for any operating system is welcome.  Most of the packages for lsd are maintained by external maintainers. Feel free to reach out if you need help with the releases like having a specific architecture supported.

[2021-03-14 13:12] zwpaper commented on #498
hi @maleyva1 thanks for sharing the screencast, I noticed the error output but still has no clue about the cause,
can you help to make sure 2 more things:

1. is there an alias for lsd? try to check it with `type lsd` and unalias it.
2. maybe there are some filenames that make it error, try to check it with
[code]

[2021-03-14 19:40] maleyva1 commented on #498
@zwpaper
1. No. I have `ls` aliased to `lsd`.
2. Here's a screencast of the output: [![asciicast](https://asciinema.org/a/Jb8jnRm8iW8ialIY1dl6fl6xk.svg)](https://asciinema.org/a/Jb8jnRm8iW8ialIY1dl6fl6xk)

[2021-03-15 03:21] zwpaper commented on #498
sorry for my mistake, there are some bugs in my command, please try this again:

[code]

BTW, the bugs are:
1. there are spaces inside your filenames and I did not consider it.
2. lsd does not return an error code when errors occurred, I will create an issue for this

[2021-03-15 03:28] maleyva1 commented on #498
@zwpaper
No problem. I appreciate the help. Here's the screencast of the command: [![asciicast](https://asciinema.org/a/F100dlJ6zkUAuU43y1kr1Eq7o.svg)](https://asciinema.org/a/F100dlJ6zkUAuU43y1kr1Eq7o)

[2021-03-15 03:45] zwpaper opened #502 "Return correct error code when error occurred like GNU ls"
from https://github.com/Peltoche/lsd/issues/498 I found that `lsd` will not return an error code besides 0 even error occurred

we should implement this like the `GNU ls`

## Expected behavior
GNU ls output:

[code]

## Actual behavior
lsd:

[code]

[2021-03-15 14:23] meain commented on #498
@maleyva1 Sorry that we are making you run quite a few scripts. But if you don't mind sharing your music collection could you post the output of this.

[code]

[2021-03-16 02:08] maleyva1 commented on #498
@meain It's a bit long so here you go:
[output.txt](https://github.com/Peltoche/lsd/files/6145583/output.txt)

[2021-03-16 15:38] tonydm opened #503 "Space Missing Between Icon and Text - v0.20.1 (Pull Req #469)"
- os: Manjaro
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:  Blank, zip, nada

## Expected behavior
A space between icon and text per https://github.com/Peltoche/lsd/pull/469.

Per the Pull Req #469 I understood the enhancement to be in the latest release, 0.20.*

## Actual behavior
No space between icon and text

## Additional detail
1) Removed original w/ `pac

[2021-03-16 15:58] zwpaper commented on #503
It may be related to the font,
There are two things you can try

1. Change the font, `Hack Nerd Font` works well for me
2. Specify 2 space in the config file

[2021-03-19 22:26] Paulario commented on #382
hi, could you please give me hint on what exactly font did you installed in order for lsd to work properly, i.e. show icons?
I happed to download the whole repository of nerd-fonts from GitHub and installed them in one take, that is 387 fonts.
But none of them helped. And they are actually installed, 'cause I can use them in, say, MS Word and else. And I can even change the value of "fontFace" in

[2021-03-21 04:43] requireDwyer opened #504 "Can't use lsd in dot directories"
- os: Ubuntu 20.04.2 LTS x86_64
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.tx

[2021-03-21 05:45] gr3yta5ks commented on #375
can confirm having the same issues

[code]

[2021-03-21 07:27] zwpaper commented on #498
Is there any network disk mounting under this dir?

[2021-03-21 07:33] zwpaper commented on #504
Hi @requireDwyer ,  There are some problems with making `lsd` work with Snap, and I do not know how `Ubuntu software centre` install apps, could you try installing lsd by `deb` or download a binary directly.

[2021-03-22 13:56] maleyva1 commented on #498
@zwpaper No.

[2021-03-23 02:07] kohane27 commented on #334
I'm having the same error code 1336 as well. I installed `lsd` via `scoop install lsd`.

Here's me trying out `lsd` in 4 terminals but to no avail:

![4TerminalsSame](https://user-images.githubusercontent.com/57322459/112081950-78679200-8bbf-11eb-9ea5-38729bff0f55.png)

Then here's WSL2 (I"m using Cmder):

![ws2Working](https://user-images.githubusercontent.com/57322459/112081970-81f0fa00-8bbf-11e

[2021-03-23 07:49] AnrDaemon commented on #334
What made you think that different shell could make results different?
The problem in the lsd itself.
In case of WSL2, the directory is network mounted and its ACL entries are likely mangled.

[2021-03-23 12:16] hpwxf opened #505 "Strange condition is display.rs:should_display_folder_path"
I try to improve the coverage of display.rs with custom unit tests.

When I tried to do some tests on:
https://github.com/Peltoche/lsd/blob/734d4007238279fc22b63fc845e33e1f89f199a7/src/display.rs#L222

I found this:
https://github.com/Peltoche/lsd/blob/734d4007238279fc22b63fc845e33e1f89f199a7/src/display.rs#L235

It should be false only when `metas.len() == folder_number && metas.len() <= 1`.
Isnt

[2021-03-23 15:00] hpwxf commented on #505
Ok; understood.

[2021-03-23 15:00] #505 closed

[2021-03-23 15:18] hpwxf commented on #505
I was confused by the case 'ls FILE' where `should_display_folder_path` returns `true` even if there is no directory.

[2021-03-25 07:48] zwpaper opened #506 "should use a more elegant way to handle get_light_theme_colour_map and avoid the #[allow(dead_code)]"
as described there https://github.com/Peltoche/lsd/pull/489#discussion_r599763694,

we should handle `get_light_theme_colour_map` in a more elegant way

https://github.com/Peltoche/lsd/blob/734d4007238279fc22b63fc845e33e1f89f199a7/src/color.rs#L188

[2021-03-25 17:45] alephalpha0 opened #507 "Double output when lsd and ls set as aliases in bash"
- os: Android 10 aarch64 (via Termux 0.108)
- `lsd --version`:  lsd 0.19.0
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`:  rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*

[2021-03-26 07:09] zwpaper commented on #507
hi @alephalpha0 It is happy to see that `lsd` runs on an Android device!

I have tried to reproduce your case and found that:
1. yes, it is because you set `lsd` as an alias before the `ls`, and the aliased `ls` is expanded to something like `lsd --blocks=permission,size,date,name --blocks=permission,size,date,name`
2. we append all the block options and show them together.

for your case, you can

[2021-03-27 04:34] meain commented on #507
I guess the ideal option would be only consider the last `--blocks` option.

For example if the user specifies `lsd --block name,date --block permission,name` we should use `permission,name` as the block. I remember me trying to do that and clap was either doing `name,date,permission,name` or just giving an error saying you can only specify blocks once. I did not look much deeper into this back th

[2021-03-27 14:43] #468 closed

[2021-04-07 14:52] davidromerot commented on #79
I see this same issue (permission denied) when using lsd on Ubuntu 20.04 on Windows (WSL).
I installed lsd, last release, with dpkg.
Just in case, I ran it with sudo (because the errors indicated "permission denied"). It still did not work. It took forever, and threw a few "No such file or directory (os error 2)" errors.

[2021-04-12 15:14] Jerror commented on #208
Still a blocker for all of us using light themes. The long listing format is only legible on light with `--color=never`, but that drops the file colorization. How about an option which disables colors of everything except files? I believe that would replicate the coloring of `ls` exactly, so that lsd with this flag would essentially be "ls with icons." Maybe call it `colors=classic`.

This would r

[2021-04-15 16:55] kryzar opened #509 "[Question] How to disable bold font for directories printing?"
Hi! Title.

Let me know if I can do anything.

[2021-04-16 04:12] zwpaper commented on #509
hi @kryzar , as the theme support is not yet done, you could have done this with `LS_COLORS`, for example, notice the prefix `di=`, and folder bold:

![image](https://user-images.githubusercontent.com/3764335/114970285-bc8f3f00-9eac-11eb-8c15-a5c36d213d11.png)

the value I used is

[code]

you could export this env var in `.bashrc` or `.zshrc`

[2021-04-16 11:43] kryzar commented on #509
Thanks a lot for your answer (can't wait for theme support and config options!). This does not seem to work:
<img width="724" alt="image" src="https://user-images.githubusercontent.com/31312212/115019545-a045cf00-9eb9-11eb-927e-2c9022032126.png">

[2021-04-16 15:07] nippyin opened #510 "Icons are not getting picked up in Mac + Alacritty."
- os: BigSur 11.2.3
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: screen
- `echo $LS_COLORS`:  No Output

## Expected behavior
If applicable, add the output of the classic ls command (`\ls -la`) in order to show the buggy file/directory.

 Documents                                                                                Virtual Machines.localized   post_cron_test
 Downloads

[2021-04-18 04:26] meain commented on #510
You need to make sure you have fonts with icons glyphs installed on your system. Refer to https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md to do that.

[2021-04-20 02:21] zwpaper commented on #509
could you try to change the `LS_COLORS` to this, let's make sure whether the `LS_COLORS` working as expected:

[code]

it should change the folder color to Orange:

![image](https://user-images.githubusercontent.com/3764335/115327752-0e440c00-a1c2-11eb-830f-aca8e24d8d72.png)

PS, what is those info for your lsd:

- Version:
- OS:
- How you install LSD

[2021-04-20 04:54] meain commented on #503
Closing this issue, adding two spaces should fix this issue. Feel free to reopen if it does not fix the issue.

[2021-04-20 04:54] #503 closed

[2021-04-20 09:58] kryzar commented on #509
This worked:

<img width="725" alt="image" src="https://user-images.githubusercontent.com/31312212/115377256-ba402400-a1cf-11eb-8b5e-9279188dbbdf.png">

- LSD version: 0.20.1
- OS: macOS Catalina 10.15.7
- LSD installed with: `brew install lsd`

At your service!

[2021-04-20 10:22] zwpaper commented on #509
I was really confused updating the `LS_COLORS` 🤣

maybe you could try the simplest version:

[code]

[2021-04-20 10:39] kryzar commented on #509
It works! Thanks a lot, I like it a lot. For the future it would be nice to have an 'no-bold' option or something like that.

[2021-04-20 13:28] pandiloko opened #512 "Exit status"
- os: KDE Neon
- `lsd --version`: 0.20.1
- `echo $TERM`: screen-256color
- `echo $LS_COLORS`: `rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31

[2021-04-20 14:00] #509 closed

[2021-04-21 01:09] pandiloko commented on #512
Sorry, I just realized that this is a duplicate of #502

[2021-04-21 01:09] #512 closed

[2021-04-21 06:29] banjo commented on #200
Any news on this? The same directory works great in WSL but takes over 20s on Git Bash for me.

[2021-04-23 13:50] lbhdc opened #514 "Missing icons on linux"
- os:
[code]

- `lsd --version`:
[code]

- `echo $TERM`:
[code]

- `echo $LS_COLORS`:
[code]

## Expected behavior
Show icons instead of placeholders

## Actual behavior
[code]

## Steps to reproduce
[code]

[2021-04-23 15:54] arjvik opened #515 "Feature request: Show extended attributes"
The original `ls -l` command shows a `+` after the permissions string if an Access Control List (ACL) is present on the file. It would be nice if LSD was able to do the same.

Example:
[code]
Note the `+` in the last line.

Would this be possible? I'm not familiar enough with Rust or its standard library to know if it is a simple change or if it will require adding a crate to access that data.

[2021-04-23 16:02] arjvik commented on #514
Do you have the required icon fonts installed and configured in your terminal emulator?

You should pick something from [Nerd Fonts](https://www.nerdfonts.com/font-downloads) and set it as your terminal font.

[2021-04-23 16:55] lbhdc commented on #514
Ah gotcha. Doesn't look like those are supported by my package manager, and that is more friction than I wanted to try this out. Thanks for the quick response!

[2021-04-23 16:55] #514 closed

[2021-04-23 17:54] arjvik commented on #514
@lbhdc Out of curiosity, what distro/package manager do you use?

[2021-04-23 18:03] lbhdc commented on #514
fedora/dnf

[2021-04-27 13:02] LeuschkeTressa opened #516 "Combining `--almost-all` and `--directory-only` yields an error"
- os: MacOS Big Sur M1/arm (Darwin 20.3.0)
- `lsd --version`: `lsd 0.20.1`
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`:

## In short

Options such as `-l -A` is often alias-ed to an `ll` user command, both with `ls` and `lsd` as the underlying program.

With `ls`, invoking `ll -d .` (to list the directory itself rather than its contents) then works fine, however, with `lsd`, invoking `ll

[2021-05-02 01:58] lutaalbert opened #517 "Installing on wsl2/ubuntu 20.04 fails"
- os: wsl2/ubuntu 20.04
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tz

[2021-05-02 11:41] fabricio7p commented on #480
Hey i'm willing to implement this feature if approved the maintainers.
I'm a beginner in Rust and i appreciate if the maintainers could give me this shot as a mentored issue.

[2021-05-03 11:05] zwpaper commented on #517
curl will no follow 302 by default, please try to add `-L`:

[code]

[2021-05-03 11:11] zwpaper commented on #480
Maybe it is not a bad idea to have an option for the path.
what is your idea about letting @fabricio7p implement this? @meain

[2021-05-03 11:31] #517 closed

[2021-05-04 15:28] meain commented on #480
I don't see a strong usecase for this as we are using XDG directory spec, but at the same time, I don't really have any strong opinions against not implementing it.
@fabricio7p feel free to go ahead with implementation. I would love to help you out, but unfortunately, I personally am pretty busy these days to be of much help. Feel free to go through the codebase and ask any question here, one of s

[2021-05-05 10:20] fabricio7p commented on #480
I appreciate it! i'll be posting my results very soon. I'm kinda having a busy week aswell but you can count on me 👍

[2021-05-07 06:56] FlyinCow opened #518 "Configurable icon size plz"
![image](https://user-images.githubusercontent.com/23637371/117409724-17fc9c00-af44-11eb-9e3f-b61b2c559cd4.png)
Bad icon size for dirs. Env: Alacritty + Archlinux+Xorg+bspwm, with a 2560*1600 display.

[2021-05-07 06:57] FlyinCow commented on #518
BTW when use `theme: unicode` the icon size works fine but I just want fancy icons.

[2021-05-07 06:57] VayneYan opened #519 "lsd does not work on Windows 20H2"
- os: Windows 20H2
- `lsd --version`: 0.20.1
- `echo $TERM`:
- `echo $LS_COLORS`:

[code]

[2021-05-07 12:44] meain commented on #518
Icon size is not something that lsd can control. This is probably an issue with the font that you are using. Try with a different font and see if this issue is still present.
https://www.nerdfonts.com/font-downloads

[2021-05-07 15:19] evandena commented on #519
Will lsd return anything, even after minutes of waiting?

[2021-05-08 11:51] briandipalma commented on #448
Any update on this?

[2021-05-09 05:31] meain commented on #448
There is a WIP PR for configuring colors through yaml file https://github.com/Peltoche/lsd/pull/452

[2021-05-10 22:17] fontes99 commented on #382
I fixed by downloading nerfont's Ubuntu and changed my terminal font to that

[2021-05-11 12:30] fabricio7p commented on #480
#520 PR here guys

[2021-05-16 06:56] Fatpandac opened #521 "How can I config icon with emoji？"

[2021-05-16 14:06] zwpaper commented on #521
Hi @Fatpandac , We currently not support emoji yet, maybe it will be available if we support configuration for icons

[2021-05-21 17:14] meain commented on #518
I am closing this issue as icon size is not something that lsd controls. Feel free to reopen this if you think if there is something else.

[2021-05-21 17:14] #518 closed

[2021-05-21 17:15] robole commented on #365
I encountered this issue today also.

I changed `LS_COLORS` in my `.zshrc` as per *foxale*'s comment on 25 Nov 2020, and it fixed the colors for me.

A note in the README would save people a round-trip while issue #448 is in progress. Maybe reference the issue under FAQ/Colors until that's resolved.

[2021-05-21 17:15] meain commented on #521
Closing this as we cannot currently do this in lsd. We have not fully decided on the icon configuration piece, but you should be able to track that at https://github.com/Peltoche/lsd/issues/343

[2021-05-21 17:15] #521 closed

[2021-05-21 17:19] meain commented on #516
Even though this does really make much sense as `-d` and `-A` enable two separate things, I think just making `-d` reset any `-A` flags previously would be a good idea. `ll` is probably an alias that a lot of people will have plus gnu ls seems to do this anyways.

[2021-05-21 17:19] meain commented on #515
This would be a nice addition.

[2021-05-22 08:18] shashank-brdj opened #523 "Support for 32bit linux systems"
Hello, i really love this project and i use it on two of my linux distros. However i have an old toshiba laptop on which i installed 32bit linux (peppermint) recently. Im trying to find lsd for this laptop and im unable to. The snap version is old and broken. And i cannot install amd64 or x86_64 versions, as mine is 32bit os.
It would be great if there is support for 32bit os. Atleast one release

[2021-05-24 03:39] zwpaper commented on #523
Hi @shashank-brdj , the `i686` should be the `32 bit` release for what you seeking, maybe you could try it and update the result here

https://github.com/Peltoche/lsd/releases/tag/0.20.1

[2021-05-24 03:52] shashank-brdj commented on #523
Thank you for your reply, i apologise for my lack of knowledge, i use i386 peppermint on my old toshiba laptop, i tried to install i686  version and it didnt work. I mistook i686 as 64bit. I understood now, my supported version is till 0.17.0 i386. And its working fine. I tested i686 on my other slightly newer cpu which has i686 ..and its working great. Thank you
Take care

[2021-05-24 03:52] #523 closed

[2021-05-24 03:56] WeijieH commented on #375
Same here. lsd returns OS error on some folders on windows.

[code]

[2021-05-29 04:04] thenasim opened #524 "os error 1332, 5 in Windows 10"
- os: Windows 10 20H2
- `lsd --version`: 0.20.1
- `echo $TERM`: Powershell 5.1
- `echo $LS_COLORS`:

## Expected behavior
output of ls:

d-----         5/27/2021  10:35 AM                learning
d-----         5/26/2021  11:31 PM                linqpad
d-----        12/20/2020  10:49 PM                mock-server
d-----         2/28/2021  12:08 PM                my-config
d-----          2/7/2021

[2021-06-10 07:37] IndianBoy42 opened #526 "Feature Idea: Summary/Short view"
I know this isn't directly in the scope of a `ls` replacement, but I recently wanted to do something like this so I thought I'd ask.

Basically I don't want `lsd` to blow up my terminal scrollback buffer when I accidentally invoke it in a directory with thousands of files. Piping it to `head -10` works, but the performance feels worse than it could be, because it still outputs the whole directory

[2021-06-10 09:27] robole opened #527 "Custom date - expected string format"
Hi,

Thank you for your hard work. It is a great app.

I wanted to make a customised date format. It's not clear what I should write:

[code]

I was expecting this config to give me a date such as "10 Jun 21 13:01:00".

What am I missing?

[2021-06-11 04:23] meain commented on #526
We could probably add something for second point. Something that forces grid display even if the output is being piped through an external program. This combined with `head` should give you something better.

About the third point, we could probably add another flag `--summary` but we'll probably have to explore a bit more on what should be display in that.

[2021-06-11 13:03] meain commented on #527
You are missing a `+` in front. We require that for a custom date format.

[code]

[2021-06-11 13:03] #527 closed

[2021-06-11 15:58] robole commented on #527
hi @meain

thanks for the feedback. it also required me to update to the latest for this to work. i had installed lsd as a snap which is still at v0.16.0.

[2021-06-12 04:16] ljramalho commented on #510
I have the patched "Hack" nerd font installed in Windows 10. I'm using KiTTY (http://www.9bis.net/kitty/#!index.md) a PuTTY clone configured to use that font and display UTF-8.

I'm getting blocks (not the icons) when using lsd.

How do I know my environment is working, and not the lsd?

I've created a file:
nano t.sh

content is:
echo -e $'\Ue5ff'

chmod +x t.sh

then I run "t.sh"

and it has pri

[2021-06-12 05:08] meain commented on #510
@ljramalho Could you check if this (`echo $'\uf115'`) glyph works. This is what we use for folders. It is possible that some glyphs that we use are missing in your font.

![Screenshot 2021-06-12 at 10 36 52 AM](https://user-images.githubusercontent.com/14259816/121765656-1d17c100-cb6a-11eb-916b-b4515bfac4f8.png)

[2021-06-13 16:04] ljramalho commented on #510
Thank you.

I've tested "echo $'\uf115'" on the KiTTY (PuTTY derivative) ssh client and indeed it does NOT work with the patched "Hack" nerd font, leaving a box in instead the "folder" symbol (very strange).

However, pasting the character into windows notepad and wordpad, both configured to use the the Hack NF font, it works!

In windows it is easy to use notepad, and type the sequence "f115 alt-

[2021-06-14 09:33] The-Compiler opened #529 "Panic: No such local time"
- os: Archlinux
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-kitty
- `echo $LS_COLORS`: quite long and hopefully not relevant :slightly_smiling_face:

## Expected behavior
If applicable, add the output of the classic ls command (`\ls -la`) in order to show the buggy file/directory.

I have an Onyx Boox ereader which I'm mounting via [jmtpfs](https://github.com/JasonFerrara/jmtpfs) - looking

[2021-06-14 14:34] meain commented on #510
@ljramalho This is probably an issue with `KiTTY` and not `lsd`.

[2021-06-14 15:51] zwpaper commented on #529
it should be caused by the invalid time format here:

https://github.com/Peltoche/lsd/blob/48210f30fbadfd910659b7ae40d8db4cf3303946/src/meta/date.rs#L11

we could check the time before converting it into the `DateTime`.

[2021-06-16 16:36] widhisec commented on #423
Thanks

[2021-06-17 02:29] zwpaper commented on #480
closing as https://github.com/Peltoche/lsd/pull/520 merged

[2021-06-17 02:29] #480 closed

[2021-06-18 02:13] abulka commented on #510
I had the weird ? icons showing in Mac terminal too, when I ran `lsd` - instead of proper nice icons. I simply had to install [nerd fonts](https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md) using

[code]

reboot, then as the `lsd` readme says

## Detail

After a brew install the hack font was not showing up in any app, even though the fonts were in `~/Library/Fonts/`. So I reboot my Ma

[2021-06-18 03:59] #510 closed

[2021-06-18 09:48] NamHyeongKeol commented on #118
![image](https://user-images.githubusercontent.com/8777446/122542556-caf10700-d065-11eb-9aaa-fb06b573c03c.png)

My icon has show this way, how to fix it?

[2021-06-22 13:48] mackenza commented on #519
exactly the same situation here. Also my corporate machine with all the accompanying spyware

[2021-06-24 11:35] micgro42 commented on #504
I had the same error as OP, also with the same version of lsd installed via snap. I can confirm that the solution suggested by @zwpaper, to manually install the most recent .deb file, fixes the problem.

Missing icons aside, `lsd` seems to be a viable `ls` alternative now on Ubuntu :blush:

[2021-06-24 15:37] #504 closed

[2021-06-24 19:10] horseinthesky opened #531 "function definition file not found"
- os: Ubuntu 20.04 WSL
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo

[2021-06-25 03:49] zwpaper commented on #531
maybe it is some problems like this post: https://sibunglon.com/2020/05/24/solve-zsh-function-definition-file-not-found/

could be fixed with:

[code]

restart the terminal after deleted the `.zcompdump` may also works.

you could replace the `rm` with `mv` for safe.

[2021-06-25 05:50] horseinthesky commented on #531
@zwpaper Thanks a lot. Worked for me.
`.zcompdump` is recreated after removing but with a little bit different lines. The old ones probably had mistakes.

[2021-06-25 05:50] #531 closed

[2021-06-26 17:39] scaevola commented on #375
I get this error on Windows 10:
[code]

[2021-06-27 14:07] peter-joo opened #532 "Improve date format validation to include all supported cases"
- OS: Linux 5.12.9-1-MANJARO x86_64 GNU/Linux
- `lsd --version`:  lsd 0.20.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:

[2021-06-27 14:14] peter-joo commented on #532
The TIME_STYLE way also fails:
`TIME_STYLE='+%Y.%m.%d-%H.%M.%S.%N' lsd`

output:
`lsd: Not a valid date format: +%Y.%m.%d-%H.%M.%S.%N.`

[2021-06-27 15:52] meain commented on #532
There is some subtle differences in the date format specifiers in the lib (`chrono`) that we are using to do that. In this case, it would be `%f` instead of `%N`.

[code]
You can find the full list here: https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html#specifiers

[2021-06-27 16:05] peter-joo commented on #532
That's a very good, correct and fast response, thank you for that :)

However the formatting part for %f does not work:
`lsd --date='+%Y.%m.%d-%H.%M.%S.%3f'`
output:
`error: Invalid value for '--date <date>...': invalid format specifier: %3`

Consider including those to show millisecond precision instead of nanosecond one:
https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html#specifiers

[2021-06-27 16:20] meain commented on #532
Ooh, this looks like a bug. We are doing an extra validation check when we take input [here](https://github.com/meain/lsd/blob/master/src/app.rs#L287). Looks like right now it is only capable of parsing a subset of the [spec](https://docs.rs/chrono/0.4.19/chrono/format/strftime/index.html#specifiers).

[2021-06-27 16:51] peter-joo commented on #532
Great, thanks for the confirmation!

What am I supposed to do with this ticket? Rename the title? Enter an other one? Leave it like this?

[2021-06-28 03:36] zwpaper commented on #532
how about making this even further by adding the `--time-style` flag like [GNU ls](https://man7.org/linux/man-pages/man1/ls.1.html) and also updating the format

[2021-06-28 04:32] meain commented on #532
@zwpaper I guess we could add `--time-style` flag as an alias for `--date`. I am guessing it does not do anything more than that. About fixing the format, I don think it would be worth it. We will have to change from using `chrono` as the datetime lib and that might be a non trivial amount of change for this.

@peter-joo I think I will change the title to something a bit better.

[2021-06-28 17:30] peter-joo opened #533 "thousands separator for the --size=bytes option would be very useful"
- OS: Linux 5.12.9-1-MANJARO x86_64 GNU/Linux
- `lsd --version`:  lsd 0.20.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:

[2021-06-29 04:31] meain commented on #533
This  might not be a good idea. This will cause issues for people who might be using `lsd` in a script and grepping for the size part. I don't think breaking compatibility with gnu ls here would be a good idea.

[2021-06-29 05:34] peter-joo commented on #533
Well, I really wanted to describe **what** to achieve, not **how** to achieve.

Also I agree, a previous ticket was by someone who used awk to parse lsd's output and due to space (or other separators) the parsing has failed: https://github.com/Peltoche/lsd/issues/254#issuecomment-517011212

But there is a very easy way out, which solves all aspect of the problem:
    - do not (ever) add thousands

[2021-06-29 12:48] meain commented on #533
Just wondering what a good option name would be? 🤔 `bytes_with_thousands_separator` is a bit too long. Or maybe even a separate option like `--num-separators` which someone can set to on,off,auto and auto will disable if we detect a pipe?

[2021-06-29 12:53] peter-joo commented on #533
It is perfectly up to you and up to the project owners, other contributors, etc. how to do it.

For me even the `--size=fancy_bytes` works :)

[2021-06-29 18:24] ljramalho commented on #510
Hello.
Sorry the late reply, and sorry to pollute this thread
I now know what is happening.

1) The terminal emulator I'm talking about is not KiTTY for mac. Its is KiTTY (https://github.com/cyd01/KiTTY) for windows based in the terminal emulator PuTTY. I don't know anything about KiTTY for mac, except that it exist and share the name with the other one.

2) You are right indeed lsd is OK.The miss

[2021-06-30 03:35] zwpaper commented on #533
I would vote for a separated flag `--num-separators`, as we could apply the separator to B, MB, GB, and even UNIX timestamp may be an option to be applied.

[2021-06-30 03:44] zwpaper commented on #532
@meain as we always do, we were trying to keep the compatibility with GNU ls, but this breaks it.

one tricky solution could be we figure out the difference between `chrono` and `datetime lib`, then replace the flag before sending it to the lib.

In this way, the might only be a minor change and keep the compatibility.

But it is really tricky, and we could try to improve it in a long-term way.

[2021-07-01 03:50] meain commented on #533
Not sure if it will be useful in MB/GB etc as that will break off to next unit at around thousand. As for UNIX timestamp, I don't think comma in a timestamp looks natural. Nobody really reads a timestamp.

[2021-07-01 06:39] zwpaper commented on #533
Oh, my bad, I did not notice that there is no `MB` or `GB` option for size.

also, it makes me a little bit awkward leaving me the only one reading timestamp😅.

but as the `--num-separators` option would only affect the byte-size, it seems that an opinion for `--size` might be reasonable.

[2021-07-05 13:28] santagada commented on #200
I've ran a profiler at it and the problem is all the calls to GetEffectiveRightsForAclW:

![image](https://user-images.githubusercontent.com/225897/124478568-9be8ce00-dda5-11eb-82cc-f28fc65f902a.png)

[2021-07-08 03:11] zwpaper commented on #506
this could be fixed by https://github.com/Peltoche/lsd/pull/452

[2021-07-10 07:45] KvizadSaderah commented on #118
<img width="549" alt="Screenshot 2021-07-10 at 12 44 21" src="https://user-images.githubusercontent.com/14391797/125155997-a081fd80-e17c-11eb-8b23-28bfb10f4c69.png">
same, if I get it right, it's a font issue? i've got same on debian/ubuntu/mac ¯\_(ツ)_/¯

[2021-07-21 15:33] John15321 opened #534 ""cargo install lsd" failes on raspberry pi 4 (Raspbian OS 32-bit)"
- os: Raspbian OS ( its 32bit )
- `lsd --version`:
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

[code]

## Expected behavior
Well... it should install successfully after running `cargo install lsd`

## Actual behavior
It fails, Im not really a rust programmer so I dont know whats happening but those are the erros:
[code]

[2021-07-22 02:39] zwpaper commented on #534
Hi @John15321 , looks like your rust version is a little bit too old for the `matches_macro`, could you update your rust version? it needs 1.42 for the `matches_macro`.

I would fire a PR for the minimal required rust version check

[2021-07-22 22:04] jemus42 commented on #534
I came here due to the same issue and my cargo reports as 1.42.1 on a freshly set up raspbian :/

[2021-07-23 02:31] zwpaper commented on #534
Hi @jemus42, what is your error message exactly?

as `matches` should be stable in `1.42.1`, it may be related to something else if errors occurred.

also, could you check the version of `rustc` by

[code]

[2021-07-23 05:39] #534 closed

[2021-07-23 13:05] jemus42 commented on #534
I have `rustc 1.41.1` but `cargo 1.42.1` - I just installed `cargo` via `apt` from the default repos, so not sure what to make of that.

I have now installed via [rustup](https://www.rust-lang.org/tools/install) for newer versions, `1.53.0` for both `cargo` and `rustc`.
`cargo install lsd` works as expected now :)

[2021-07-26 18:32] merkrafter commented on #533
Localization might have to be considered here as well, as some countries use dots for separating thousands. Not sure if that's a real problem though.

[2021-08-02 12:56] iMonZ opened #537 "Update the Snap"
Hey,

I have found a snap of this tool: https://snapcraft.io/lsd
But its haven been updated for years now.
Could you please update this and add the Snapcraft version to the official installation methods?
(and add the arm64 architecture)
I could do that either, but I don't have the permissions for the snap.

[2021-08-02 17:22] meain commented on #537
The snap package is something which we could not figure out how to get it working properly. We have stopped updating snap package. The only reason why that is still there is because once published, a snap could not be removed. Checkout https://github.com/Peltoche/lsd/issues/79 for more details.
ref: https://forum.snapcraft.io/t/how-can-a-developer-remove-her-his-app-from-snap-store/512

[2021-08-02 17:23] #537 closed

[2021-08-06 04:39] snylonue commented on #524
same issue

[2021-08-06 09:54] al45tair opened #538 "Poor performance because of use of read_link to test for symlinks."
- os: macOS
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## The problem
`lsd` can be very slow, particularly on remote directories, because of the code in `meta/mod.rs` that does things like

[code]

The issue is that `read_link` itself is expensive. The irony is that `path.symlink_metadata()` works on non-symlinks, so this code was pointless and might just as wel

[2021-08-07 18:19] Lunchb0ne commented on #524
It happens because of the way Windows does mapping for foreign items, that have been copied over from another NTFS file system, the current implementation uses `lookup_account_sid` but that only does mappings to existing logon sessions on the current device, the issue is being worked on in #473.

[2021-08-09 02:49] typkrft commented on #7
Completely unsolicited, but Git Integration with in a manner similar to colorls in the grid view would be really nice for at a glance information.

[2021-08-09 16:02] kyrelldixon commented on #199
The `brew cask install` step resulted in the error `Error: Unknown command: cask` because the `brew cask` syntax has been deprecated. I used `brew install --cask font-hack-nerd-font` instead.

[2021-08-11 04:08] meain commented on #538
Thanks for the issue @al45tair :)

[2021-08-11 13:19] hpwxf commented on #7
After this PR is merged, this seems to be a doable improvement.

[2021-08-15 17:19] #538 closed

[2021-08-17 00:17] tz4678 commented on #118
I have same shit after i install kde then delete gnome.

![Screenshot_20210817_031639](https://user-images.githubusercontent.com/12753171/129644557-b3899a51-523c-4d5d-84b8-f6f886604485.png)

[2021-08-17 02:35] zwpaper commented on #118
Hi @tz4678 , I can't see your problem with your picture posted. this issue is related to a konsole bug https://github.com/Peltoche/lsd/issues/118#issuecomment-462029588 which is fixed https://github.com/Peltoche/lsd/issues/118#issuecomment-505150148, and a font issue https://github.com/Peltoche/lsd/issues/118#issuecomment-462046810, both of them are fixed, I am locking this issue, open a new one a

[2021-08-17 16:43] neezer commented on #343
I'd also love this feature, but IMO it should support wildcards for the filename. As an example, I have a folder with a bunch of Dockerfiles in it that all have various extensions, eg.

[code]

In vim, I have one `autocmd` to correctly set the filetype for all of them:

[code]

Would be great if I could do the same for `lsd` so they all have the Docker icon without requiring me to name them all ex

[2021-08-18 03:01] zwpaper commented on #343
after we support the color configuration in https://github.com/Peltoche/lsd/pull/452, I will try to look into this. A global configuration for icons would be the basic implementation, and we can keep discussing the necessity of local `.lsd` here.

---
we should discuss this feature here.

As I can figure, it should support the match by:
1. filename
2. custom extension
3. file type
4. default

Ther

[2021-08-18 03:04] zwpaper commented on #343
## prefix by dot match

like the `custom extension`, but for prefix, like matching `Dockerfile.*`, `log.*`.

please notice it must be split by dot `.`, there would be no much cost to support this feature.

---
if you would like this feature to be implemented, please add and 👍(+1) emoji

[2021-08-18 03:08] zwpaper commented on #343
## regex match

it is a much more general match mechanism, could nearly be used to match all the cases,
but please notice there would BE a performance impact if the number of regex matches grows.

---
if you would like this feature to be implemented, please add and 👍(+1) emoji

[2021-08-18 03:15] zwpaper commented on #343
## local configuration

it could overwrite the global configuration if some file like `.lsd` existed.

but the cost is:
1. we have to try to read one more configuration for each excution
2. how do we choose the local file, base on just the local dir, or `git` project, or some others

for `2.`, js project, or some other project having `.xxrc` file, there is a project concept on it, they could find

[2021-08-18 05:48] neezer commented on #343
Thanks for the breakdown on the options, @zwpaper ! 👏

I'd say the first pass should only check the directory you're trying to list and nothing more. In my experience `.xxrc` files live predominately at one level of a given project, so there's rarely a need to re-use the same definitions deeper in the hierarchy. But maybe I don't have much experience with those projects that would have these kinds

[2021-08-18 09:04] CC2130 opened #542 "icon not display well in macOS"
- os: mac
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior
when run `lsd -alh` should show the icons

## Actual behavior
like that（something like a framed question mark):
[code]

[2021-08-18 13:31] notjames commented on #79
I just installed this tool last night. It's a great tool, but the greatness of it is moot if you can't list things you should be able to list. How does one install this using dpkg/apt? I don't see it in the base sources. Is there an apt repository one can use so we don't have to worry about using snap?

[2021-08-18 17:47] jgte commented on #542
I also get this.

[2021-08-20 04:14] meain commented on #542
Just make sure you have proper fonts installed. Check to the linked issue.
Ref: https://github.com/Peltoche/lsd/issues/199#issuecomment-494218334

[2021-08-20 04:14] #542 closed

[2021-08-20 10:49] Rassska opened #543 "Doesn't present icons"
- os : `Ubuntu 20.04 LTS`
- `lsd --version`:  `0.20.1`
- `echo `$TERM: `xterm-256color`
- `echo $LS_COLORS`:

Hi, there!
I have no idea about this issue, can someone determine what is the problem here?
![Screenshot from 2021-08-20 13-45-25](https://user-images.githubusercontent.com/73281386/130222514-15508f78-349e-4d77-8fe7-b353179618a9.png)

[2021-08-21 10:12] meain commented on #543
Download an install a font from nerd-font (https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md#font-installation) and make sure your terminal emulator is using the font that you installed.
We make use of special glyphs which are only available in certain fonts to show you the icons.

[2021-08-21 10:13] meain commented on #365
Resolution: https://github.com/Peltoche/lsd/issues/365#issuecomment-733095300

[2021-08-21 10:13] #365 closed

[2021-08-21 10:14] #331 closed

[2021-08-21 10:28] foxale commented on #365
[#365 (comment)](https://github.com/Peltoche/lsd/issues/365#issuecomment-733095300) provides only a temporary fix that doesn't cover all aspects of the problem. Shall we use separate github issues for the remaining 4 items pointed out in the discussed comment?

[2021-08-21 10:30] foxale commented on #404
A temporary fix: [#365 (comment)](https://github.com/Peltoche/lsd/issues/365#issuecomment-733095300)

[2021-08-21 15:35] meain commented on #365
Most of the color issues will be taken care of once we land https://github.com/Peltoche/lsd/pull/452 . I don't think `--old-color-scheme` is a good idea, but we can probably add your comment into an FAQ section in the readme.

[2021-08-22 06:15] meain commented on #79
The snap version has been discontinued and as of now we don't have any plans to update it. If you are using a ubuntu or any other debian derivative refer this section(https://github.com/Peltoche/lsd#on-ubuntu) of the readme on how to install `lsd`.

[2021-08-22 10:13] Rassska commented on #543
Kudos :D

[2021-08-22 10:13] #543 closed

[2021-08-22 12:49] meain opened #546 "Give higher importance to config than env variables"
Flip the order here and make config before env https://github.com/meain/lsd/blob/70ec1d6c51d209ea3e29ba2ae8208bbbc45690b2/src/flags.rs#L118-L124 .

This issue came up from https://github.com/Peltoche/lsd/pull/544 . We primary wanted to do this switch becase this will help us comply with how https://no-color.org expect the flag to work. Also, this actually makes more sense as if someone would like

[2021-08-23 07:57] weiwei commented on #519
Same here. 2 seconds to list a folder of 4 items.

[2021-08-23 15:09] UltiRequiem opened #547 "No icons appear if the alias is defined in `~/.zprofile`"
- os: Latest Archlinux
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: `rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:

[2021-08-24 03:03] zwpaper commented on #547
hi @UltiRequiem, obviously your alias is not working when you do not source the `.zprofile`, please notice that the result is pointed to GNU ls.

after you source the `.zprofile`, you were then using the lsd.

as I may know, `.zprofile` is loaded before `.zshrc`, maybe there is an alias in `.zshrc` overwriting the previous one.

this is something related to the shell.

[2021-08-24 04:27] rsrini7 opened #548 "The trust relationship between this workstation and the primary domain failed."
❯ lsd
lsd: .: The trust relationship between this workstation and the primary domain failed. (os error 1789).

[2021-08-24 06:12] zwpaper opened #549 "Handling default/none values in theme config"
After https://github.com/Peltoche/lsd/pull/452 merged, lsd now supports yaml-based theme configuration.

but a completed configuration file is needed, if any items are missed, the whole theme would fall back to the default one.

we should update the theme struct to `Option` and allow some items missed.

we should discuss that the missed fields should indicate which one color:
1. the default foregr

[2021-08-29 20:37] heyxsh commented on #546
I agree. The config file should be prioritize first. It took me a while to figure out why my config wasn't read.

[2021-09-02 10:23] m147 commented on #385
It's been some time since last comments.
Any fixes for this?

[2021-09-09 05:15] zwpaper opened #550 "Themes should support font format like bold, italics, underline, and so on"
after https://github.com/Peltoche/lsd/pull/452 merged, we support the color theme, but it should also support font format like bold, italics, underline, and so on.

FROM
https://github.com/Peltoche/lsd/pull/452#discussion_r702445189

[2021-09-09 05:21] zwpaper opened #551 "how theme should cowork with LSCOLORS"
after https://github.com/Peltoche/lsd/pull/452 merged, we support the color theme, but we use [LSCOLORS](https://github.com/trapd00r/LS_COLORS) in the meantime, currently, we check lscolors before the file-type part in theme.

I would like to discuss that:
1. should we have a flag to disable the LSCOLORS and use all the theme configurations?
2. should we have a filename or file-path based theme co

[2021-09-09 06:26] zwpaper opened #552 "remove the daed code(NoLscolors) for testing"
after https://github.com/Peltoche/lsd/pull/452 merged, the themeOption::NoLscolor is only used for testing, it is warned as dead code in Clippy, we currently mark it allowed, and it should be improved to drop the dead code.

maybe we could:
1. add a new LSCOLORS for testing
2. use a different way for color testing

[2021-09-19 10:55] tzimme opened #553 "missing leading dot on directories"
When showing hidden directories lsd outputs a space instead of a leading dot, including the parent directory entry.

A dot is shown in front of hidden files though.

![Untitled](https://user-images.githubusercontent.com/16401082/133924933-69a462f7-3aaf-44d1-8d38-7435b3e3325e.png)

[2021-09-19 12:00] meain commented on #553
This is most probably an issue with the color or font and not lsd. Could you try doing `lsd -l --color never --icon never` and see if you are still having the issue?

[2021-09-19 13:35] #553 closed

[2021-09-26 04:11] #92 closed

[2021-09-26 04:11] #506 closed

[2021-09-26 13:34] manno opened #554 "Use a different time format for recent files"
- os: Mac
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior

GNU `ls` and BSD `ls` display a different time format for recently modified files.
Old files show the year, new files the time.

For GNU `ls` this is configurable by the `TIME_STYLE` variable:

[code]

## Actual behavior

LSD always show the same time format.

[code]

Is it possible to sh

[2021-09-26 22:00] mwean opened #555 "Theme config file seems to be ignored"
- os: macOS 11.4
- `lsd --version`:  lsd 0.20.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`: <empty>

## Expected behavior
Use the colors from the custom config file

## Actual behavior
I have a config file at `~/.config/lsd/config.yaml`:

<details>
<summary>Config Contents</summary>

[code]
</details>

And a theme file at `~/.config/lsd/themes/custom.yaml`:

<details>
<summary>Theme Conte

[2021-09-27 05:29] meain commented on #554
We currently do not have support for specifying different time format for recent files, but that would be a great addition.

[2021-09-27 05:33] meain commented on #555
The theme configuration is not yet in a release. For now you will have to build from `master` (or use a build artifact from the [ci build](https://github.com/Peltoche/lsd/actions/runs/1274409173)).

[2021-09-27 05:38] mwean commented on #555
Ah, makes sense. Thanks!

[2021-09-27 05:38] #555 closed

[2021-10-05 09:43] zwpaper opened #557 "participate the hacktoberfest"
hi @meain, do u have permission for updating the repo settings?

the new Hacktoberfest round has started https://hacktoberfest.digitalocean.com/, I think it may be good for lsd to participate.

It is good for people to find the good first issues, and good for people to know LSD.

the first step for participating is to add the 'Hacktoberfest' topic to the repository.

[2021-10-05 23:03] #547 closed

[2021-10-06 07:12] zwpaper commented on #557
Hi @meain, I totally understand your situation, as we all understand, this is how open source projects work, we can only spend our free time on it!

I prefer we would reach out to Peltoche and grant the permissions to us, or you only, as he nearly has no free time for `lsd`, and so that we can catch up on the festival so some other up comings.

[2021-10-06 19:26] Peltoche commented on #557
Hello everyone!

I just received your email and added the tag right away. Sadly I can't find a way to give you the permissions to do it yourself but if you need something else don't hesitate to send me an email. :+1:

[2021-10-07 08:33] #356 closed

[2021-10-07 08:54] zwpaper commented on #524
closing with https://github.com/Peltoche/lsd/pull/473 merged into master

[2021-10-07 08:54] #524 closed

[2021-10-07 22:52] palfrey opened #560 "build.rs says 1.42.0 is enough, but it's not"
## Expected behavior
lsd can be built with 1.42.0 because that's what the `build.rs` will bug out without

## Actual behavior
`cargo +1.42.0 build` with current master gets you
[code]

[2021-10-08 08:38] #560 closed, assigned to nobody

[2021-10-08 08:55] meain opened #562 "Change default colours used"
Now that https://github.com/Peltoche/lsd/pull/452 is merged, users should be able to change the colors for `lsd` to what they like. That said, I was thinking we should probably consider changing the default colors that lsd uses to work in both light and dark colorschems. Using colors less that 16 and avoiding yellow should more or less take care of that. This change is only necessary in the non fi

[2021-10-08 10:07] zwpaper commented on #562
IMHO, I think we can ship two themes by default, one for dark mode and the other for light.

it became a common case with built-in dark mode and light mode in modern OSs, I think we could catch up with it.

an option like `--theme dark/light` may be great in my thought, we can go even further by detecting the `dark/light mode` and switch automatically.

[2021-10-08 10:37] meain commented on #562
Makes sense, lets go with a `--color-theme` flag.

About auto detection, I am not sure if we will have a simple way to do dark mode/light mode detection in terminals though. OS level theme detection might not be that reliable as a lot of people use light mode in the OS but dark colors in terminals.

[2021-10-13 22:47] JakobMiesner opened #564 "Weird icons"
- os: Ubuntu 20.04.2 LTS
- `lsd --version`:  lsd 0.20.1
- `echo $TERM`: xterm-256color

## Expected behavior
lsd shows folder icons

## Actual behavior
lsd shows this character " Desktop", as can be seen in a screenshot (It seems like my chrome can not even display it).
![image](https://user-images.githubusercontent.com/36001913/137222782-6824c7fa-77e2-4368-afff-2cae03ac838f.png)

Other icons see

[2021-10-14 03:01] zwpaper commented on #564
this is always because of the font, make sure you installed a [Nerd Font](https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md), [Hack Nerd Font](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hack) for example

[2021-10-14 03:59] SturmB opened #565 "Feature Request: Synology distro"
- os: Synology's OS
- `lsd --version`: n/a
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31

[2021-10-14 04:37] greweln opened #566 "lsd not reading the config file"
Please excuse my ignorance but how can I get lsd to read the config & theme file?
I install it with cargo and I do have a ~/.config/lsd/config.yml  and  ~/.config/lsd/themes/my_theme

thanks

[2021-10-14 04:55] meain commented on #566
1) You have to build from `master`. Themes is not yet in a release.
2) Have this is `~/.config/lsd/config.yaml`
[code]
3) Have theme in `~/.config/lsd/themes/mytheme.yaml` (`.yaml` at the end)

[2021-10-14 05:02] meain commented on #565
We don't really maintain any of the packages for `lsd`, but you should be able to use one of the musl builds if I am not mistaken. https://github.com/Peltoche/lsd/releases/download/0.20.1/lsd-0.20.1-x86_64-unknown-linux-musl.tar.gz .

You can just have the extracted binary in any folder in "$PATH".

[2021-10-14 05:46] meain commented on #532
Thanks to @arkadiuszbielewicz , we now support all the the possible options in chrono as of https://github.com/Peltoche/lsd/pull/567

[2021-10-14 11:07] #564 closed, assigned to nobody

[2021-10-14 15:53] DaniilS-Portfolio opened #568 "If the file name starts with "_" then instead of "_" just a space."
I have a project with sass elements and their names begin with "_". When output through "ls" everything is correct, and through "lsd" instead of "_" - a space.

![изображение](https://user-images.githubusercontent.com/74107094/137353200-a8b576d3-5ca2-4b56-af49-89f21c6ad224.png)

Manjaro KDE
Terminal: Konsole

[2021-10-14 17:21] #566 closed

[2021-10-16 02:34] SturmB commented on #565
Thanks for the reply, @meain. I have extracted the 'musl' release into `~/bin` and renamed the directory it creates from `lsd-0.20.1-x86_64-unknown-linux-musl` to just `lsd`. I then added that to the PATH in my `.zshrc` file, reconnected, and it all works a treat now!

Thank you so much!

[2021-10-16 14:21] DaniilS-Portfolio commented on #568
* What is the lsd version?
 0.20.1

* Could you try with `lsd --color never --icon never --ignore-config` and see if it is showing?
AND
* bout when you do `lsd --oneline --ignore-config`?
In the screenshot below

![изображение](https://user-images.githubusercontent.com/74107094/137590662-9bab9628-1964-409f-aa40-6236124afe15.png)

---

When I copied it was when inserting the underscore. Now I think

[2021-10-16 14:30] meain commented on #568
I am not entirely sure why this is happening, but your conclusion that it is a font issue is correct. Most probably a bug in how Konsole renders any multi width glyphs. Maybe try changing the font.
Related: https://github.com/Peltoche/lsd/issues/429

[2021-10-16 14:30] #568 closed

[2021-10-16 14:36] tu6ge opened #570 "js file icon is error in my computer, OS is ubuntu 20.04 ,local is chinese smplified"
- os:
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7z=

[2021-10-17 02:13] tu6ge commented on #570
All right

[2021-10-17 02:13] #570 closed

[2021-10-28 15:25] jaskij opened #572 "Working in OpenEmbedded"
I'm working with [Yocto/OpenEmbedded](https://www.yoctoproject.org/) building Linux for a custom device. As part of my testing of Rust support (using [`meta-rust`](https://github.com/meta-rust/meta-rust) I've decided to build `lsd`.

I'm happy to report that `lsd` builds for and works on the target device (an AArch64 embedded device), using recipes generated with [`cargo-bitbake`](https://github.c

[2021-10-29 04:37] #572 closed, assigned to nobody

[2021-11-01 20:02] adam-gaia opened #574 "Feature request: Color override setting for file/directory indicator column"
Hello,

Currently the file/directory indicator column (the first character column with `--long` output) color is set to the color of the file type (which is picked up from LS_COLORS).

[code]

I would greatly appreciate a setting in the theme yaml to explicitly set the color of the file/directory indicator.
I suggest an optional setting in the theme yaml. If this field is absent, fall back to the

[2021-11-02 05:27] MrPilotMan commented on #359
Is this still being looked at and/or worked on?

I think it would be nice to have full control over the time frame definitions available to the user in the theme config. Times could be defined using plain seconds or shorthand, which would preserve the easy configuration that predefined values provide (e.g. "1h" for one hour, ">1m" for greater than one month, etc.).

[2021-11-04 13:24] ranebrown opened #575 "Theme file doesn't load"
- os: macOS 11.6.1
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: tmux-256color
- `echo $LS_COLORS`:
[code]

## Expected behavior

Theme file should load and be applied.

Setting a theme in the config file does not seem to load. Other settings work as expected. The theme is in `$XDG_CONFIG_HOME/lsd/themes/oceanic-next.yaml`. It is a copy of the default theme with some colors changed to `red` for te

[2021-11-04 14:33] Al3bad commented on #575
I'm having the same problem ..

[2021-11-04 17:31] laenzlinger commented on #575
I had the same issue until i figured out that this is a new feature which was not yet released on version 0.20.1
see  README.md on the tag 0.20.1

I have solved it by building and installing master:

`cargo install --git https://github.com/Peltoche/lsd.git --branch master`

[2021-11-04 17:47] ranebrown commented on #575
That would explain it. Thanks!

[2021-11-04 17:47] #575 closed

[2021-11-05 07:30] meain commented on #575
I'm just hoping to implement https://github.com/Peltoche/lsd/issues/549 before I make a release just so that theme updates won't break anything as users might not have the new values in their config. Just haven't been able to get around it.

[2021-11-07 09:35] nirmalyabhattacharya opened #576 "Not reading from my theme file"
- os: macOS Catalina (10.15.7)
- `lsd --version`:  lsd 0.20.1 (Binary install)
- `echo $TERM`: xterm-256color (Running on iTerm and Terminal)
- `echo $LS_COLORS`: <blank> (Variable NOT set)

## Expected behavior
lsd -l must use color themes as mentioned in my custom theme file

## Actual behavior
lsd is outputting only the "default" theme.

## My config file:
[code]
## My theme file
[code]

[2021-11-07 12:04] just-barcodes commented on #553
I observed the same bug of missing dots and fixed it by fixing my fonts.

It has something to do with uneven sizes of the icons. I checked this by temporarily using this as `config.yaml`:
[code]

It showed the dots correctly (with some additional space) but it was also obvious that the hidden folders weren't correctly aligned to the rest of the files when listed.

[2021-11-07 14:35] zwpaper commented on #576
theme support is not yet released, check https://github.com/Peltoche/lsd/issues/575

[2021-11-07 14:35] #576 closed

[2021-11-08 15:13] SreehariTS03 commented on #382
@fontes99 how to download nerdfont diractly in windows ?

[2021-11-08 15:55] fablexis commented on #382
@SreehariTS03 as @fontes99 mentioned, you just have to download the font you want directly on windows, not using WSL, after that you can change the font of the WSL terminal on the settings option (I assume you're using WSL2).

You can find all the nerd fonts on:
- [nerdfonts.com/font-downloads](nerdfonts.com/font-downloads) or
- [https://github.com/ryanoasis/nerd-fonts#patched-fonts](https://githu

[2021-11-10 14:08] cansurmeli opened #577 "`/srv` Content Not Getting Listed"
- os: CentOS Stream 8
- `lsd --version`: 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=38;5;33:ln=38;5;51:mh=00:pi=40;38;5;11:so=38;5;13:do=38;5;5:bd=48;5;232;38;5;11:cd=48;5;232;38;5;3:or=48;5;232;38;5;9:mi=01;05;37;41:su=48;5;196;38;5;15:sg=48;5;11;38;5;16:ca=48;5;196;38;5;226:tw=48;5;10;38;5;16:ow=48;5;10;38;5;21:st=48;5;21;38;5;15:ex=38;5;40:*.tar=38;5;9:*.tgz=38;5;9:*.arc

[2021-11-10 15:52] zwpaper commented on #577
hi，@cansurmeli, I noticed your lsd version is 0.16, and the newest one is 0.20.1, can you update it and verify if it works for the newest version.

Also, maybe sharing the output of the GNU ls `ls -l /srv` could give us some clues.

[2021-11-10 15:56] cansurmeli commented on #577
@zwpaper

Hey, sorry, should've mentioned. Since I'm on CentOS, I have installed `lsd` via Snap Store and 0.16.0 is the latest version there. Any chance on an update?

[2021-11-10 18:40] meain commented on #577
We were having a lot of issues with Snap and so was discontinued.

[2021-11-10 19:59] cansurmeli commented on #577
Alright, on which repo are you available on `dnf`?

[2021-11-11 03:45] zwpaper commented on #577
I am not familiar with `dnf`, but we should be available in `fedora`, check https://github.com/Peltoche/lsd#installation

what's more, the simplest way should be download the binary directly here https://github.com/Peltoche/lsd/releases, and `mv lsd /usr/local/bin`:

[2021-11-12 22:06] embeddedpenguin opened #578 "Some file extensions have odd icons (Like npm logo for .c files)"
- os: 5.14.16, arch linux
- `lsd --version`: 0.20.1
- `echo $TERM`: alacritty
- `echo $LS_COLORS`: No output

## Expected behavior
Not sure how to define expected behavior because I'm not sure what icons should go with what file extensions. I think this is less of a bug and more of a configuration problem (maybe?).

## Actual behavior
![image](https://user-images.githubusercontent.com/33668314/141

[2021-11-12 22:19] darkvertex commented on #375
Also getting `lsd: .: The specified domain either does not exist or could not be contacted. (os error 1355).` after I did `cargo install lsd` from a Windows terminal. (`lsd --version` says I'm on 0.20.1)

[2021-11-13 05:23] zwpaper commented on #578
It may be a font problem, could you try to change your nerd font to something like `Hack Nerd Font`

[2021-11-13 07:20] BrandonStaab commented on #526
Builtin `head` functionality would be nice.  I automatically list the directory whenever I `cd` and its only a matter of time before I list a directory with thousands of items.  To do the automatic listing I am using the common snippet of bash code as a redefinition of `cd`:

[code]
As pointed out by OP, piping into `head` is not the most desirable solution.  It changes formatting and if the direc

[2021-11-14 04:29] BrandonStaab opened #579 "Add RegEx support for ignoring files"
Currently a file/directory can be ignored with `--ignore-glob <pattern>`.  RegEx can express things that Unix globs can not and are more familiar to some people.  A possible use case for adding this feature would be ignoring the contents of a `.git` or `build` directory while still showing that the directory exists when using the `--tree` flag.  It is no immediately obvious that this can be done u

[2021-11-16 21:27] WilliamBehrens opened #580 "lsd --group-dirs not working correctly"
- os: Void linux
- `lsd --version`: 0.20.1
- `echo $TERM`: foot
- `echo $LS_COLORS`: di=1;35:fi=0;97:ln=4;36:or=5;31:ex=1;0;44:su=30;41:ow=30;42:st=30;44:

## Expected behavior
Running `lsd --group-dirs` should, atleast by the name, group all the directories together in the output.

## Actual behavior
But when I run it I get cases where it doesn't work as intended. one is shown below:
![scrn-6](ht

[2021-11-16 22:31] samEngineering opened #581 "color theme file not working"
As instructed, I made a .yaml file for the color theme at ~/.config/lsd/themes, but I still get the default theme. I tried changing all colors the same color that I knew should work, but nothing happened. My config file is working, which is at ~/.config/lsd/config.yaml. I tried color:
  when: always
  theme: ~/.config/lsd/themes/AtomOneDark

and Also

color:
  when: always
  theme: ~/.config/lsd/t

[2021-11-17 07:29] zwpaper commented on #581
hi @samEngineering, the theme is not yet released, please check https://github.com/Peltoche/lsd/issues/575, I will look into it this weekend if free

[2021-11-17 07:29] #581 closed

[2021-11-17 14:12] liar666 opened #582 "Incompatible CLI parameters `--all` and `--directory-only` / Inconsistent behavior w.r.t. original `ls`"
- os: Linux Mint 20.2
- `lsd --version`:  lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior
If applicable, add the output of the classic ls command (`\ls -la`) in order to show the buggy file/directory.

If I define `alias ls='ls -ahl --color'` and then use `ls -d *`, this works and lists all the names of the directories in my current dir (even those starting wit

[2021-11-18 03:03] ljramalho opened #584 "Maybe not an issue."
- os: raspbian
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

I have lsd installed on my raspberry pi / raspbian. I access my Pi using KiTTY 0.76.0.1 (a PuTTY clone) for windows. On windows I have installed Hack Nerd font.

There are 4 file types for the Hack font, and depending on the one I have installed (mono or variable-pitch), and while the glyph letters ar

[2021-11-18 03:49] zwpaper commented on #584
hi @ljramalho, thanks for trying lsd on raspbian, how the icon shown is not lsd can handle currently, so most of the display questions you mentioned should be some OS configuration questions.

for your questions, I can show you my screenshot:

![image](https://user-images.githubusercontent.com/3764335/142347859-ae528864-0dfc-4f1a-b13d-19df2a9d76ce.png)

1. iTerm2 on macOS
2. Hack Nerd Font
3. Can

[2021-11-18 16:25] ljramalho commented on #584
Thank you zwpaper for the quick reply.

It seems there is a problem on KiTTY / PuTTY terminal. There is an option to allow for variable pitch fonts selection, but they are rendered as monospaced, compressing or cutting the large width glyphs (like the "m") and showing a bigger space in narrow glyphs (like "l").

I asked in the "lsd" issues, if there is some option (hidden option) to render variabl

[2021-11-18 22:32] samEngineering commented on #581
Oh, okay :) No rush, and thanks for the update 👍 looking forward to this
feature!

- Best, SL

On Wed, Nov 17, 2021 at 2:29 AM Wei Zhang ***@***.***> wrote:

[2021-11-19 03:08] meain commented on #584
Rendering is something that is fully handed by the terminal emulator. Nothing can be done by lsd there.
Also take a look at this issue: https://github.com/Peltoche/lsd/issues/331

[2021-11-19 11:54] astrale-sharp opened #586 "Some directory name are not showed entirely"
- os:
[code]
- `lsd --version`:
[code]
  - `echo $TERM`:
  xterm-256color
- `echo $LS_COLORS`:
[code]
## Expected behavior && Actual behavior
Show all directory even short ones that starts with a number : let's compare with ls
[code]

[code]

Notice that some characters (numbers that starts the directory name) do not appear (although when you copy them from the terminal they are here!)

[2021-11-19 17:13] embeddedpenguin commented on #578
That fixed it! Sorry for the late response.

[2021-11-19 17:13] #578 closed

[2021-11-20 15:39] Gasu16 commented on #582
As a beginner user, my theory is that in the file src/app.rs the following piece of code is responsible for this behavior
[code]

[2021-11-22 03:50] zwpaper commented on #586
hi @astrale-sharp, this is always a `font` or `terminal` problem, could your try to change your font to `Hack Nerd Font` or use another terminal emulator.

Fonts rendering is not something could be handled by `lsd`

there are some related issues:

- https://github.com/Peltoche/lsd/issues/553#issuecomment-922462347
- https://github.com/Peltoche/lsd/issues/568
- https://github.com/Peltoche/lsd/issue

[2021-11-22 03:58] zwpaper commented on #582
hi @Gasu16, yes, you get the point right! and we still need to check if the output behavior matches the `GNU ls`.

a PR is welcome if you could help to check it and validate the output!

also don't forget to add a test after the implementation.

[2021-11-22 07:33] sklages commented on #577
Or build it own your own (in case `dnf` is not an option):
[code]

[2021-11-22 13:35] Gasu16 commented on #582
Hi!
I am currently working on the implementation to solve this issue, if everything goes fine soon I will send the first PR, trying to make the output behavior matching the `ls` command.

[2021-11-22 16:55] Gasu16 commented on #582
@zwpaper should I merge it in the master branch?

[2021-11-22 17:59] Gasu16 commented on #586
Hi @astrale-sharp
If I remember correctly I had the same issue in my distro (Arch Linux) and solved installing awesome-terminal-fonts package.

[2021-11-23 13:23] isak102 opened #588 "Some icons are missing or rendering wrong"
- os: linux
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-kitty

Some icons dont show up, for example icons that have the .sh and .hs extension. I have nerd fonts and fontawesome installed. As you can see, the majority of icons are showing up properly but not all. Is there a way to manually add extra icons in a config file?
![image](https://user-images.githubusercontent.com/90389894/14303183

[2021-11-24 03:25] zwpaper commented on #588
this is always because of the font, make sure you installed a [Nerd Font](https://github.com/ryanoasis/nerd-fonts/blob/master/readme.md), [Hack Nerd Font](https://github.com/ryanoasis/nerd-fonts/tree/master/patched-fonts/Hack) for example

[2021-11-24 03:26] #588 closed

[2021-11-24 09:49] yannickloth opened #589 "Add an option to list only files (no directories)"
Listing only files of a directory in Linux currently requires the combination of multiple tools, yet it could be done properly with the very tool whose purpose is to list files.
This feature could work similarly to -d: by default, only list files of the current/specified directory, and when combined with --tree, list the files of the whole subtree of the current/specified directory.

A use-case fo

[2021-11-24 11:54] meain commented on #589
Your usecase sound like it would be better served with find than lsd.

You can use something like this:
[code]

[2021-11-24 11:58] meain commented on #584
Closing this as this is a terminal emulator specific issue.

[2021-11-24 11:58] #584 closed

[2021-11-24 12:04] meain commented on #580
The option is actually supposed to be used as:

[code]

If you don't provide anything it just takes it as `--group-dirs none` which is the default. I think it would be better made so that it will error out if you just say `--group-dirs` without specifying how.

[2021-11-24 12:08] meain commented on #526
`lsd` will probably never implement a way to limit the number of items that gets printed. We could however enable an option to force grid mode even if the output gets piped to another process. With this, along with forcing colors you can make use of `head` to trim out just the necessary content.

[2021-11-24 12:17] IndianBoy42 commented on #526
That solution makes sense to me too

[2021-11-24 12:57] isak102 commented on #588
I have Hack Nerd Font installed and those same icons are still missing :/

[2021-11-25 02:49] zwpaper commented on #588
both icon size and icon content is controlled by fonts or terminal emulator too, so your solution is still to update the fonts or terminal config.

[2021-11-25 19:14] Gasu16 commented on #582
Hi @zwpaper I pushed my PR which solves the problem, feel free to check it and let me know if there are any problems with it.

[2021-11-26 03:22] zwpaper commented on #582
fixed by https://github.com/Peltoche/lsd/pull/587

[2021-11-26 03:22] #582 closed

[2021-11-26 15:38] WilliamBehrens commented on #580
ah, thank you, I'll leave the issue open for you to do your patch

[2021-11-28 12:42] Gasu16 opened #590 "Fixing -t option according to the GNU ls behaviour"
- os: Arch Linux
- `lsd --version`: lsd 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

Not really an issue, sounds more like a suggestion, feel free to consider it or no.

## Expected behavior
When I run the `lsd -t` command, according to the original `ls -t` behaviour, I expect to list the files in one single column, one file per line (like the `-1` option) since the GNU `ls -t` comm

[2021-11-28 16:11] zwpaper commented on #575
related https://github.com/Peltoche/lsd/pull/591

[2021-11-28 16:15] zwpaper commented on #590
I have checked the manpage and found:

ref: https://man7.org/linux/man-pages/man1/ls.1.html

Did I get you wrong?

[2021-11-28 16:54] Gasu16 commented on #590
Yes, the output is correct, nothing is wrong; what I mean is that it is displayed in a different way, the GNU `ls -t` shows all in one column, on the other hand the `lsd -t` command displays the output in two different columns (if, of course, the amount of entries to display is big enough to trigger a second column to appear).

[2021-11-29 09:34] zwpaper commented on #590
could you paste some examples?

it seems in a grid view when I tested locally

![image](https://user-images.githubusercontent.com/3764335/143842938-3bdde834-b958-4041-8f07-e6b5141954f0.png)

[2021-11-29 09:51] Gasu16 commented on #590
Sure, this is what I mean
### With GNU ls
[code]
### With lsd
[code]

[2021-11-29 11:11] zwpaper commented on #590
what's your GNU ls version?

it is strange that my `GNU ls` arrange the result in grid mode:

[code]

[2021-11-29 11:16] Gasu16 commented on #590
Your output is the same as mine, my usecase triggers only when GNU ls should list an huge amount of files and dirs.
BTW mine is 9.0
[code]

[2021-11-30 02:29] zwpaper commented on #590
Hmmm, let me try to explain myself more precisely, how can I reproduce the difference between `lsd -t` and `ls -t`?

can you show me an example so that I can let `ls -t` list output in a one-column style?

[2021-11-30 03:02] zwpaper commented on #580
fixed by https://github.com/Peltoche/lsd/pull/592

[2021-11-30 03:02] #580 closed

[2021-11-30 09:25] #590 closed

[2021-11-30 11:47] yannickloth commented on #589
lsd is a replacement for ls, whose purpose is: _list directory contents_ (cf. `man ls`).

Well in a directory, there are mainly  very important type of things: files and sub-directories.

There is `lsd -d`, why not `lsd --files-only` ?

Of course using _find_ is possible. As well as `ls -lha | grep <whatever to filter out anything that is not a file>`. Or writing a Java application. But all that i

[2021-11-30 15:39] Gasu16 opened #593 "Add a --count option"
So basically what I want to do is to implement a flag `lsd --count` which displays the current number of files and directories in a given path.
If this usecase is acceptable for the maintainers, I will proceed to implement it and open a new PR for it.

[2021-11-30 18:06] meain commented on #593
I don't really see a good usecase for this to be frank. This is probably something that is better served by piping the output of lsd to something like wc.

There was however some discussion around adding a --summary flag to mimic lscolors functionality but nothing solid has been decided yet.

[2021-11-30 21:42] Gasu16 commented on #593
Happy to give my contribute in any possible way.
However I seize the opportunity to ask how I should implement such a function of a new flag.
I know I should add the flag inside the src/app.rs file, but where should I write its own implementation?

[2021-12-01 02:50] eliminmax commented on #248
I ran into this issue on version 0.20.1, as installed from both the .deb package and cargo

[2021-12-02 04:55] meain commented on #589
The reason I suggested to use find was because this is more of a niche usecase. In almost all situations, you want the entire directory contents to be listed and it is relatively rare that you just want to list just the files. Also, in most cases when you want to list just the file, the context is within a script in which `find` is a much better option. That said, if there is enough interest in th

[2021-12-02 05:00] meain commented on #526
Add a flag which will allow users to force grid view even when the content gets piped through another process. Something like `--grid`.

[2021-12-02 05:08] meain commented on #593
https://github.com/Peltoche/lsd/issues/112#issuecomment-460040371 is the item that I was mentioning. We still have to decide on what gets displayed and where.

@Gasu16 I would like to understand what your usecase is. Just to understand what you are expecting this feature to do, so that we can have a clearer understanding on what should go in there.

[2021-12-02 07:33] Gasu16 commented on #593
You got me wrong, what I meant is to understand better how the code works, and asked how to add the implementation for a new functionality (flag), not for my usecase in particular, but generically.

[2021-12-02 12:43] meain commented on #593
I understood you. It is just that we don't have a solid idea on what the feature should provide. Since you requested a similar feature I thought I would ask you what your usecase is so that we can probably better understand what needs to be build.

[2021-12-02 14:34] Gasu16 commented on #593
Well, I'm glad if I could give any help on the feature you previously mentioned (--summary), or anything else.

[2021-12-04 01:53] sadanand-singh commented on #374
In MUSL buid 0.20.1 I am again this issue. Has this been solved?

[2021-12-06 12:46] arvindsv opened #594 "Misleading grid / column output in some cases"
- os: macOS Monterey (12.0.1)
- `lsd --version`: `lsd 0.20.1` (also checked version built from https://github.com/Peltoche/lsd.git?branch=master#0a3a6f10)
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`:  Empty / uninitialized

## Expected behavior

With some long filenames in a directory, columnar output (the default?) can become misleading. Would be preferable to replicate the output of GNU

[2021-12-09 10:21] zwpaper commented on #593
Hi @Gasu16, we do not have the guide you mentioned, you could check the code directly, it is not that difficult and is always update-to-date.

as a quick start:

main logic:

1. main starting here https://github.com/Peltoche/lsd/blob/master/src/main.rs#L91
2. flags are parsed here https://github.com/Peltoche/lsd/blob/master/src/main.rs#L116
3. `core` is called here https://github.com/Peltoche/lsd/

[2021-12-09 10:23] zwpaper commented on #593
as this issue is not valid anymore, closing, feel free to open it if there are any other problems.

[2021-12-09 10:23] #593 closed

[2021-12-09 10:25] zwpaper commented on #593
also, if you want to find something to start, `good first issue` is always your friend https://github.com/Peltoche/lsd/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22good+first+issue%22

[2021-12-09 10:45] zwpaper commented on #594
I have done some investigates, the main difference is

1. `GNU ls` set each column to the same width
2. `lsd` only set the column with a long name to large width

this could be an improvment.

[2021-12-09 10:59] zwpaper commented on #594
did a quick investigation, the `grid` crate did not provide an option for the same width, one possible solution we achieve this is manually calculating the max-width and set it here https://github.com/Peltoche/lsd/blob/master/src/display.rs#L91-L109

[2021-12-09 11:44] Mellbourn opened #595 "--icon-theme unicode showing only questionmarks"
Hi, thanks for a great tool!

`lsd` is working well for me with Nerd Fonts set up.

However, it might be even prettier if it actually used the colorful unicode icons, e.g. 📁.

I would have guessed that `lsd --icon-theme unicode` would achieve that, but it only shows question marks for me:

![image](https://user-images.githubusercontent.com/1785727/145389483-908baf8c-9932-4f72-846e-874c532ec83e.png

[2021-12-09 13:33] mizzunet opened #596 "Request: Ability to create to new icon theme"
It would be quite nice to be able to create a new icon theme and apply it.

I'd like to create one out of feather icon font

Thank you

[2021-12-10 04:05] zwpaper commented on #595
did some investigation, looks like a bug, `unicode` has fewer use cases, maybe need some check and updates.

[2021-12-10 04:07] #586 closed

[2021-12-10 04:07] zwpaper commented on #596
duplicated with https://github.com/Peltoche/lsd/issues/343

[2021-12-10 04:07] #596 closed

[2021-12-10 18:04] mizzunet opened #597 "Permission denied (os error 13) for drwx------ folders"
- os:
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-kitty
- `echo $LS_COLORS`: N/A

## Expected behavior
[code]

## Actual behavior
[code]

Here, I'm having this ` Permission denied (os error 13).` for folder having `drwx------`, if the current directoy has it or even shows for subfolders,
[code]

I haven't enabled `recursion`, so `lsd` shouldn't be looking for the recursive folders, right? But

[2021-12-12 04:28] meain commented on #248
Ah, my bad. This actually still seems to be an issue.

[2021-12-12 09:08] mikebgrep opened #598 "alias ls in linux its posible to set lsd -l command to normal ls not to lsd"
I just installed lsd but I want when I type ls -l with with alias ls='lsd' its show lsd version I want the classic linux version.It can be done someway.

[2021-12-12 10:48] meain commented on #598
You can always do `\ls -l` (with a backslash) and that will resort back to the original ls. But if you want to do it more transparently, you will have to probably create a function. Something like:

[code]

[2021-12-12 14:05] mikebgrep commented on #598
Where I need to place the function in .bashrc I try and it faills

[2021-12-12 15:28] meain commented on #598
Yeah, bashrc should do. Make sure to remove the alias line. Also, what do you mean by fail. Are you getting any error, could you drop the logs here.

[2021-12-12 17:29] mikebgrep commented on #598
`.bashrc: line 120: syntax error: unexpected end of file`
This is the error I remove alias for ls.
This is when I open terminal I am in Ubuntu

[2021-12-13 04:15] meain commented on #598
[code]

My bad, the previous one did not work in `bash`. I use `zsh` and forgot to check if the script actually worked in `bash`. This should work though.

[2021-12-13 08:33] mikebgrep commented on #598
Working perfect thank you.

[2021-12-13 09:30] #598 closed

[2021-12-14 07:16] snxwman commented on #589
I realize you said you don't like using an alias, and I agree that a `--files-only` option would be handy, but you do not need to use a second program to accomplish what you want. The commands below return the output you seem to be looking for.

[code]

These also work with the standard `ls` command.

[2021-12-15 01:18] mcaubrey commented on #595
Also came here to report this. In both iTerm and Kitty I'm using a font called Ricty Diminished with Fira Code, it is basically a Fira Code offshoot that supports Japanese text.

In iTerm, for whatever reason its all question marks.
In Kitty, it sometimes ends up appearing as Chinese/Japanese characters.

Here's some screenshots from iTerm.
<img width="1219" alt="Screen Shot 2021-12-15 at 10 13 19

[2021-12-15 06:20] zwpaper commented on #595
Hi @mcaubrey, thanks for the report, but It seems that you were facing a different problem with the font, lsd have to use a patched font with emoji support, please check https://github.com/Peltoche/lsd#prerequisites.

[2021-12-15 06:21] mcaubrey commented on #595
Thanks! I'll check that out.

[2021-12-16 05:29] mcaubrey commented on #595
@zwpaper
I'm just reporting back to say you were right, the steps suggested on https://github.com/Peltoche/lsd#prerequisites have worked perfectly for me.

<img width="1066" alt="Screen Shot 2021-12-16 at 14 27 34" src="https://user-images.githubusercontent.com/14105176/146313613-a5c4cc3e-4227-40c5-acf6-e5b5f122d97d.png">

[2021-12-18 13:55] tbrodbeck commented on #372
Hi. I would like to reopen the issue even though I use Hack Nerd Font (as described in the comment by @meain).
Examples:
<img width="225" alt="Screen Shot 2021-12-18 at 14 52 17" src="https://user-images.githubusercontent.com/24418160/146643460-30beb7b7-96bf-4828-a257-e9cd9d1336c5.png">

<img width="265" alt="Screen Shot 2021-12-18 at 14 52 30" src="https://user-images.githubusercontent.com/244181

[2021-12-22 03:28] meain commented on #372
Hey @tbrodbeck , the icon issue is almost never really because of `lsd`. Could you post a screenshot of the fonts you have set in iTerm? Also, try setting both the "Font" and the "Ascii font" to be the font with icons and see if that helps.

[2021-12-22 08:42] tbrodbeck commented on #372
There are my settings:
<img width="1055" alt="Screen Shot 2021-12-22 at 09 28 30" src="https://user-images.githubusercontent.com/24418160/147060914-35dbe738-6656-40f3-a9ca-c72903166921.png">
<img width="1055" alt="Screen Shot 2021-12-22 at 09 29 20" src="https://user-images.githubusercontent.com/24418160/147061020-876cbe32-4e75-4446-9e8d-43d31c893e4f.png">
I tried both without success.

I forgot t

[2021-12-23 04:00] meain commented on #372
I unfortunately don't use a mac anymore and won't be able to test it out. But if I remember correctly iTerm never used to have any issues with fonts.

[code]
Is the issue just with the audio icon? Does the above one give you a folder icon?
![Screenshot from 2021-12-23 09-29-22](https://user-images.githubusercontent.com/14259816/147186033-c9b1db58-9152-4288-8cf3-896165d6dc49.png)

[2021-12-23 07:51] tbrodbeck commented on #372
<img width="269" alt="Screen Shot 2021-12-23 at 08 50 08" src="https://user-images.githubusercontent.com/24418160/147206860-a397ea53-b34b-4806-9693-6efb10dfb4bb.png">
The folder icon works fine.

I think I will open an issue in the iTerm bug tracker for now.

[2021-12-23 08:13] tbrodbeck commented on #372
https://gitlab.com/gnachman/iterm2/-/issues/10133

[2021-12-23 08:13] tbrodbeck commented on #372
https://gitlab.com/gnachman/iterm2/-/issues/10133

[2021-12-25 22:28] Zeioth opened #602 "Enchancement: Create a theme wiki"
I just created a tokyo night theme. Where should I submit it?

[2021-12-26 05:29] johnchurchill commented on #515
I agree, this would be useful. I was puzzled for a while when the `+` was not appearing on files I knew had an ACL. Then I remembered that `ls` was aliased to `lsd` on that machine and confirmed that with `/bin/ls -l`.

[2021-12-26 05:35] arjvik commented on #515
I think it should be pretty easy to add support to this using the [xattr crate](https://docs.rs/xattr/latest/xattr/) ([source](https://docs.rs/xattr/latest/xattr/)), which has no dependencies except `libc=0.2`, which is already a dependency of `lsd`.

I might take a stab at this in a while when I have some free time to learn Rust.

[2021-12-26 09:18] Zeioth commented on #597
Same thing happen to me with the option 'total-size'.

[2021-12-26 09:21] Zeioth opened #603 "Improvement: total-size"
Better defaults:

* **Silence permission errors** → We should just hide directory sizes where it's not possible to display it.

New options:

* **directory-size-cache [true/false]** → This should be precise enough in most cases of use. And more realistic than having to wait several seconds for ls.

[2021-12-26 19:54] Zeioth opened #604 "Theme: TokyoNight"
Some changes over the base theme that go well with TokyoNight.

![screenshot_2021-12-26_10-46-51_123516709](https://user-images.githubusercontent.com/3357792/147418675-b2d94f3c-fc29-4211-873f-fafb0c284194.png)

Theme
[code]

[2021-12-27 03:05] zwpaper commented on #602
haha @Zeioth, There is always a TODO in my plan list for sharing the themes, but I did not have time for it currently! I will try to make it happen ASAP.

thank you so much for your willingness to share the themes! I will update this issue if there is any progress!

[2021-12-27 03:16] zwpaper commented on #597
hi @Zeioth @mizzunet thanks for reporting this, and thanks to @Zeioth's report, I noticed that both of you have `total-size` enabled, `total-size` need to recursively walk into the dirs calculating the dir size, so that the error occurred, this seems worked as expected.

I am closing this issue, feel free to open it if there is still any questions.

[2021-12-27 03:16] #597 closed

[2021-12-27 03:22] zwpaper commented on #603
hi @Zeioth, thanks for raising this discussion, better behavior for `total-size` without permission is a good idea, but silencing the errors may lead to a mistaken understanding of the real dir size.

for the second option, `lsd` is a tool without states, caching something seems not that suit `lsd`

[2021-12-27 03:24] zwpaper commented on #604
related https://github.com/Peltoche/lsd/issues/602

[2022-01-04 19:41] liar666 commented on #50
Hi,

Contrarily to @Peltoche , I want my `ls` command to differentiate between Lower and Upper case letters.
This is because:
- All (real) OSes (notably Unices) are case sensitive
- [because] All (real) programming languages are case sensitive,
- [because] Most languages (at least latin ones I know of) are case sensitive (try to write the first/last name of someone in all-lower case in Italy/Franc

[2022-01-04 20:53] darkvertex opened #605 "Enhancement: optional grouping of file sequences in output"
Something that I think would be very helpful for lsd is to be able to group file sequences in a folder.

In other words, say you have:
[code]

Then maybe it could show as one row, perhaps like:
[code]

Ideally:
* off by default to avoid confusion,
* with a setting to toggle grouping sequences all the time.
* It would also need to not display a file date since it would make no sense,
* but perhaps

[2022-01-05 03:29] zwpaper commented on #50
hi @liar666, thanks for the report, please open a new issue for the discussion, you could add a link to this one for reference.

BTW, adding the GNU ls behavior would be great as LSD is trying to align features with GNU ls.

[2022-01-09 10:19] kenyoni opened #606 "Does not honor LC_COLLATE or LANG"
- os: Linux 5.14.21-2-MANJARO  SMP PREEMPT Sun Nov 21 22:43:47 UTC 2021 x86_64 GNU/Linux
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior
When LC_COLLATE=C or LANG=C, filenames should be sorted in ASCII order. (upper before lowercase filenames)

## Actual behavior
When LC_COLLATE=C, or LANG=C, filenames are still sorted using en_US.UTF-8 where cas