[2022-01-10 06:12] zwpaper commented on #606
related https://github.com/Peltoche/lsd/issues/50

[2022-01-16 07:17] #549 closed

[2022-01-16 08:47] zwpaper opened #607 "add an option for specify default foreground color in theme"
ref https://github.com/Peltoche/lsd/pull/591#pullrequestreview-853637443

[2022-01-17 03:19] zwpaper opened #608 "Add `ls_colors` option to theme"
As of now, we support theme for colors, and still use `ls_colors` for file name colors, how about adding the `ls_colors` option to the theme configuration file, and so that we can configure all the colors in one place.

also, there is something that needs to be covered:
1. the `ls_colors` in the theme should be optional, and fall back to `LS_COLORS` env
2. the one in themes should overwrite the en

[2022-01-17 04:14] meain commented on #608
That sounds good. `LS_COLORS` makes sense as an env since it is a common standard and multiple programs can make use of it, but having an *additional* option to configure it via the config file is not a bad idea.

[2022-01-17 04:39] meain commented on #248
ref: https://github.com/sharkdp/lscolors/issues/39

[2022-01-17 17:56] OldWorldOrdr opened #609 "lsd 0.21.0 no longer respects terminal color scheme"
- os: Windows 10 (Arch Linux in WSL)
- `lsd --version`:  0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.

[2022-01-18 03:22] zwpaper commented on #609
we change the color lib to a new one for the theme feature, maybe there is some color difference between the 2 libs.

please unset the `LS_COLORS` and let's make sure it is not working or there is a color difference.

[2022-01-18 03:33] OldWorldOrdr commented on #609
The issue is still present when I unset LS_COLORS

[2022-01-18 03:47] zwpaper commented on #609
nothing changed for both `0.20.1` and `0.21.0`?

it seems like the difference between the 2 default colors.

how are the colors present if the `LS_COLOR` you mentioned is set?

[2022-01-18 04:01] OldWorldOrdr commented on #609
what I originally thought was the issue (the new version didnt obey my terminal color scheme) was incorrect, what seems to be happening is that 0.21.0 is using the darker versions of the terminal colors rather than the lighter ones that the old version uses

![Screenshot (13)](https://user-images.githubusercontent.com/57970114/149868736-a3ab0b54-e3ab-4a03-961c-c6a0b4f8c65a.png)

[2022-01-18 08:18] zwpaper commented on #609
my point is that even you unset the `LS_COLORS`, the old version still shows the color you expected, so maybe this is not related to `LS_COLORS`, it is caused by the color lib changes.

some minor differences happened when we are changing the lib, maybe this is some cases like that.

maybe we need to figure out why the `LS_COLORS` not working, but it seems really complicated...

[2022-01-18 12:33] meain commented on #609
@zwpaper One possibility that I can think of is https://github.com/Peltoche/lsd/blob/1a63ccced0203f2131ad26682da849b16aa66a5d/src/color.rs#L246. But from what I understand this is correct as per https://github.com/crossterm-rs/crossterm/blob/db956267f80744b1d8ab08dcd7d92ee21b7a60f2/src/style/types/color.rs#L126 .

I am NOT able to reproduce the difference between 19 and 21 though.

[2022-01-19 05:44] zwpaper commented on #609
yes, this also recalls me of this red difference when implementing the theme feature.

I was also confused about this issue as the `LS_COLORS` env seems not working, I tried the env but nothing changed in my terminal, but I am not good at LS_COLORS

[2022-01-19 06:01] meain commented on #609
`LS_COLORS` works as expected. The reason why you did not see a change is probably because this is close to the default.

[2022-01-19 23:50] OldWorldOrdr commented on #609
classic `ls` has the colors that 0.20.1 uses

[2022-01-20 23:26] Mellbourn commented on #595
Just gentle reminder that the original issue was actually _not_ the same as that of @mcaubrey and the fix for his problem did not fix the original problem.

[2022-01-21 03:29] op06072 opened #610 "File or Folder name with korean is parsed in macOS."
- os: macOS 12.1
- `lsd --version`: 0.20.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Expected behavior
The file names with korean are printed correctly.

## Actual behavior
In the macOS, the results with korean are always parsed.
On the example which you use "display.rs", "샘플은 무료로 드리겠습니다." is become
"ㅅㅐㅁㅍㅡㄹㅇㅡㄴ ㅁㅜㄹㅛㄹㅗ ㄷㅡㄹㅣㄱㅔㅆㅅㅡㅂㄴㅣㄷㅏ."

Maybe this is caused by the feature of macOS, but

[2022-01-21 03:57] op06072 commented on #610
Sorry, It's just pycharm's problem.

[2022-01-21 03:57] #610 closed

[2022-01-23 17:02] meain commented on #609
I have a feeling that this may be linked to https://github.com/Peltoche/lsd/issues/248

[2022-01-23 17:33] meain commented on #609
I think I was able to track down what is going on.

In `lscolors`, 34 is mapped to `lscolors::Colors::Blue` (https://github.com/sharkdp/lscolors/blob/c6e191b91f637058ba932a4f7b065f2e19d8a1ba/src/style.rs#L245) which was initially a `ansi_term` only lib which also mapped `ansi_term::Color::Blue` to 34(https://github.com/ogham/rust-ansi-term/blob/ff7eba98d55ad609c7fcc8c7bb0859b37c7545cc/src/style.rs

[2022-01-24 22:06] ixzh commented on #200
generally 1/10 speed of ls

[2022-01-29 16:00] makerio90 opened #612 "how do i change icons?"
i don't like the default icons and want to use my own, like  and  . how do i do this? i cant find it in the readme.

[2022-01-29 16:36] meain commented on #612
You can't change icons as of now. Related: https://github.com/Peltoche/lsd/issues/343.

[2022-01-29 16:36] #612 closed

[2022-01-30 19:50] Amarakon55 opened #613 "How to Show Hidden Files/Directories Last?"
If I use "lsd -a", hidden files and directories are listed first since they start with '.'. I would like for them to actually be listed last.

[2022-01-30 19:52] Amarakon55 opened #614 "How to Make Hidden Files/Directories Transparent?"
I would like for the hidden files and directories to have some transparency to them.

[2022-01-31 00:46] Amarakon55 opened #615 "ls -U equivalent for lsd?"

[2022-01-31 02:11] tasonosenshi opened #616 "Short options for --tree and --depth?"
- os: Ubuntu on WSL2
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: screen-256color
- `echo $LS_COLORS`:

## Expected behavior
Have short options for --tree and --depth.
ex. `lsd -TD2 ../foo` would be equivalent to `lsd --tree --depth 2 ../foo`

[2022-01-31 12:18] francogp opened #617 "ARM 32 bits support"
- os: raspberry os

Please, add support for ARM 32 bits. Raspberry pi OS came with 32 bits.

[2022-01-31 12:58] meain commented on #614
Transparency is not something we can do, that is pretty much up to the terminal emulator. That said, we do allow for changing colors using `LS_COLORS`.

ref: https://gist.github.com/thomd/7667642

[2022-01-31 12:58] #614 closed

[2022-01-31 12:59] meain commented on #615
We do not currently support disabling sorting, but that is something that we could add.

[2022-01-31 13:05] meain commented on #616
Both `-T` and `-D` is something that gnu ls uses already. Even though we might most probably not implement those features, I think it would be better to reserve them just in case we want to implement those later. Even if we were to pick something else, I am also not sure what a good candidate would be for these.

[2022-01-31 16:27] tasonosenshi commented on #616
Hmmm, fair. I just started using lsd, trying it out as a more easily configurable alternative to exa. I hadn't yet realized lsd was trying to maintain that level of parity with the gnu ls cli.

In that case, you are right, there aren't any real good options for short flags for tree and depth.

[2022-01-31 16:32] meain commented on #616
We try not to break things if possible, but hopefully with better defaults. Short options for `--tree` and `--depth` does not warrant breaking comparability to me ATM. Glad you found `lsd` useful. Closing this issue for now.

[2022-01-31 16:32] #616 closed

[2022-02-01 01:37] Amarakon55 commented on #613
I would like to have the ability to keep things in alphabetical order but also have hidden files and directories listed after the non hidden files and directories.

[2022-02-01 21:54] MrPilotMan opened #618 "Is there a discord or somewhere that devs & users can talk?"
Where do discussions take place without inappropriately opening GitHub issues?

[2022-02-02 04:36] meain commented on #613
As of now, I don't really see a strong usecase for this, but I will keep this open as of now and if there is enough interest we can add `--group-hidden` flag similar to group directories.

[2022-02-02 04:40] meain commented on #618
As of now, there is nothing like that. IMO, I don't think we have enough traffic to need a chat channel for communication. We can maybe enable [Github Discussions](https://docs.github.com/en/discussions) for questions that are not really "issues".

[2022-02-05 05:54] mrzv opened #619 "Add support for hyperlinks"
[Terminal hyperlinks](https://gist.github.com/egmontkob/eb114294efbcd5adb1944c9f3cb5feda) are quite useful. They are supported by regular `ls`, e.g., `ls --hyperlink=auto`. It would be great if `lsd` had this support too.

[2022-02-05 08:47] zwpaper commented on #619
hi @mrzv, thanks for mentioning this, it seems that `hyperlinks` is a missing feature for `lsd`, we could try to support this.

but I personally was not using this feature, could you explain it to us?

I found a [Feature Request](https://lists.gnu.org/archive/html/coreutils/2017-05/msg00001.html) and the [manpage](https://man7.org/linux/man-pages/man1/ls.1.html) for the GNU ls, but did not really

[2022-02-05 15:27] AlbertMakdissi opened #620 "lsd -l displays weird output"
- os:  Windows 10
- `lsd --version`: 0.21.0
- `echo $TERM`:
- `echo $LS_COLORS`:

## Expected behavior
lsd -l should display file informations with icons etc.

## Actual behavior
lsd -l displays weird output
![grafik](https://user-images.githubusercontent.com/96504290/152647952-72e3f75a-3559-4d96-940d-1097b06688df.png)

[2022-02-05 18:13] mrzv commented on #619
I don't know what the difference between `always` and `auto` is. I stumbled onto hyperlinks because [kitty](https://sw.kovidgoyal.net/kitty/) has [excellent support](https://sw.kovidgoyal.net/kitty/open_actions/) for them, including for [remote files](https://sw.kovidgoyal.net/kitty/kittens/remote_file/).

[2022-02-06 01:39] kovidgoyal commented on #619
The difference between always and auto is auto turns on hyperlinks when STDOUT has isatty() true always always turns on hyperlinks.

[2022-02-06 14:01] meain commented on #620
This looks like it is because the terminal emulator does not seem to support colors properly. You can verify this by checking if `lsd --color never` shows proper output, just without the colors.

Unfortunately I will not be able to dig any more deeper into this as this looks like Git bash on Windows and I don't have a Windows setup.

[2022-02-06 14:05] meain commented on #619
We actually had someone give it a shot at https://github.com/Peltoche/lsd/pull/354, but it was unfortunately not competed at that point. We could start from where we left off there. Also, there is a duplicate issue. I am closing this in favor of that.

ref: https://github.com/Peltoche/lsd/issues/192

[2022-02-06 14:05] #619 closed

[2022-02-06 17:05] AlbertMakdissi commented on #620
yeah it displays proper, but without colors like you said. I also get an "os error 5" before it outputs.

[2022-02-07 03:16] meain commented on #620
Could you post the full error or a screenshot.

Also, could you try with an older release and see if the color is working, say [0.20.1](https://github.com/Peltoche/lsd/releases/tag/0.20.1). Just wanted to check on a hunch.

[2022-02-07 11:09] AlbertMakdissi commented on #620
![grafik](https://user-images.githubusercontent.com/96504290/152776640-a109dcea-b49e-4768-be63-31bd67bc7c6f.png)
But it goes a bit further. Also how would I install the 0.20.1 version? Something like scoop install lsd 0.20.1 doesnt work. Thx in advance

[2022-02-08 03:53] meain commented on #620
With the screenshot, what I meant was the one with colors disabled. Just to understand the `os error 5` one.

About installing an older version, I believe you should be able to download a prebuilt binary from the release page for Window 64bit from [here](https://github.com/Peltoche/lsd/releases/download/0.20.1/lsd-0.20.1-x86_64-pc-windows-gnu.zip) or [here](https://github.com/Peltoche/lsd/releases

[2022-02-08 04:05] zwpaper commented on #620
there may be some issues related to the Windows Git Bash, please check https://stackoverflow.com/questions/27580668/how-to-correctly-enable-ansi-colors-in-conemu-git-bash/48206769#48206769

[2022-02-08 13:02] AlbertMakdissi commented on #620
Regarding the screenshot with the colors disabled:
![grafik](https://user-images.githubusercontent.com/96504290/152992172-165b6be8-9831-449c-a4b0-d0b3df1d1cf8.png)
Note: Im not using git bash directly. Im using "windows terminal" app and added a git bash profile.

[2022-02-08 14:18] meain commented on #620
From my very limited understanding of how Windows terminal works, I believe that would not make any difference in the colors.

@zwpaper The reason why I thought of trying the older version of `lsd` was because, by default `ansi-term` uses just 8 colors but `crossterm` assumes that the terminal has 256 color support. So there is a chance that the old version might work and the current one might not

[2022-02-08 15:06] meain commented on #609
Sorry for the delay, but I did some more digging on this. The 34 comes from `ansi-term` using just 8 colors and it is equivalent to 4 in `crossterm` which expects 256 color support.

ref: https://gist.github.com/fnky/458719343aabd01cfb17a3a4f7296797

---

With that said, I have a feeling the the latest `lsd` is already doing the right thing. @OldWorldOrdr What does gnu ls give you for color: `\ls

[2022-02-08 15:27] meain commented on #609
@zwpaper Could you set `export LS_COLORS="di=01;31"` and see if `/tmp/one/lsd-0.20.1-x86_64-unknown-linux-gnu/lsd && \ls --color=always && lsd` gives you the same colors. It won't be the same shade of red as me, but at least they should be same between them.

*What I don't get is how the old one has different colors in the issue screenshot*

![2022-02-08-20-42-413944](https://user-images.githubuse

[2022-02-08 16:01] meain commented on #609
@OldWorldOrdr Could you try building `lsd` after applying this patch and see if it uses the old colors.
[code]

If you are not scared of running a random binary that a stranger on the internet gave you, [here](https://d.meain.io/952a990f-lsd) (`md5: 0b1e358c79fc4b159bf3161de985b784`) is a built version.

[2022-02-08 19:41] OldWorldOrdr commented on #609
this worked perfectly.

[2022-02-09 02:28] zwpaper commented on #609
it is all the same color in my case 🤣, both dark and light

![image](https://user-images.githubusercontent.com/3764335/153110309-9802d669-21bd-43b9-a4d9-c16b56393f53.png)

![image](https://user-images.githubusercontent.com/3764335/153110368-d549109b-74fa-482c-8ad9-76146e72674d.png)

[2022-02-09 02:51] meain commented on #609
@zwpaper Yeah, same for me. In fact, if I switch it using the diff I mentioned it gives me different colors compared to gnu ls. What I have no clue now is how the old has different colors for OP.

@OldWorldOrdr If you pipe `lsd` to `less` (or redirect output to a file) with color always, you will get the actual ansi escape sequences. Could you paste that here. `lsd --color=always -d /tmp`. It will

[2022-02-09 03:01] meain commented on #618
I'm closing this. As of now we are not looking into opening anything of that sort. Feel free to open issues if you have any trouble/questoins with `lsd`. We can look into opening up discussions if there is an influx of non issue type items.

[2022-02-09 03:01] #618 closed

[2022-02-09 03:08] meain commented on #577
Closing this as this is just a snap issue.

[2022-02-09 03:08] #577 closed

[2022-02-09 03:11] meain commented on #516
This I believe is now fixed.

[2022-02-09 03:11] #516 closed

[2022-02-09 03:14] meain commented on #464
Related: https://github.com/Peltoche/lsd/issues/526

[2022-02-09 03:21] meain commented on #305
We could probably have this under a flag but we will have to first of all have all the necessary colors for the currently available icons.
We might be able to pull the colors from the vim plugin in the screenshot which I believe is https://github.com/ryanoasis/vim-devicons in nerdtree.

[2022-02-09 03:23] meain commented on #210
We have a manpage now. It does not have a lot of content as of now, but is at lest available in the build artifacts.

[2022-02-09 03:23] #210 closed

[2022-02-09 03:34] zwpaper commented on #305
maybe we can do this alone with https://github.com/Peltoche/lsd/issues/343

[2022-02-09 04:05] OldWorldOrdr commented on #609
@meain

0.20.1:
[code]

0.21.0:
[code]

0.21.0 with patch:
[code]

[2022-02-09 06:29] zwpaper commented on #609
hi @OldWorldOrdr, could you also paste the GNU ls piped contents with `\ls --color=always`

[2022-02-09 06:32] OldWorldOrdr commented on #609
@zwpaper

[code]

[2022-02-09 13:28] meain commented on #305
We will anyways have to have colors for builtin icons in the binary if we are gonna implement this.

[2022-02-09 13:46] meain commented on #609
@OldWorldOrdr I'm not sure how you configure Window terminal, but could you paste the color configuration.

Ideally from what I understand both `1;34` and `38;5;4` `1` should give you the same color.
`echo '\x1b[1;34m16 color blue\x1b[0m | \x1b[38;5;4m\x1b[1m256 color dark \x1b[0m | \x1b[38;5;12m\x1b[1m256 color light\x1b[0m'`

![2022-02-09-19-12-023944](https://user-images.githubusercontent.com/1

[2022-02-09 18:32] raulcanales commented on #620
I am experiencing the same "weird output" by running Git Bash for Windows, and can confirm that switching to LSD 0.20.1 fixes the problem

[2022-02-09 19:14] OldWorldOrdr commented on #609
@meain
![Screenshot (28)](https://user-images.githubusercontent.com/57970114/153273308-0dae8458-7d61-4afd-8332-8c4dcd0eea58.png)

[2022-02-10 03:13] meain commented on #620
@AlbertMakdissi Make sure you are running the binary you just extracted and not the globally installed version.
@raulcanales Thanks, that helps. I am assuming running `lsd -l` will give you similar output (with the weird stuff).

The issue here from what I understand is that in the older version, the folder colors were just using 16 colors if 256 was not necessary, but in the latest version it def

[2022-02-10 03:48] meain commented on #609
It just hit me. A lot of terminal emulators enable "Use bright text for bold colors" [option](https://github.com/microsoft/terminal/issues/3613). With this enabled, if something is bold, it automatically makes it bright. This I believe does not work on 256 color pallet. So, in your case, the old version of lsd was trying to show directories in bold, but with dark colors (because of `di=1;34` .. 1

[2022-02-10 09:43] AlbertMakdissi commented on #620
How would I exactly run the binary instead of the globally installed version?

[2022-02-10 10:52] meain commented on #620
Use the full path instead of the extracted binary inside the folder instead of running just `lsd`.

[2022-02-10 11:14] AlbertMakdissi commented on #620
The full path is the installation path of the lsd.exe?

[2022-02-10 12:50] meain commented on #620
If  you just extracted it from the in the current dir, that would be something like `./lsd-0.21.0-x86_64-pc-windows-gnu/lsd.exe`

[2022-02-10 13:42] sschneider-ihre-pvs opened #621 "🪟 lsd does not show blocks from config"
- os: Windows 10
- `lsd --version`: 0.21.0
- `echo $TERM`: Windows Terminal PowerShell v5.1.19041.1023

## Expected behavior
blocks in config.yaml are not used
[code]

## Actual behavior
lsd shows no blocks at all

[2022-02-10 17:41] meain commented on #621
The blocks only show up when you have `-l` flag or enabled long display mode in config.

[2022-02-11 07:52] sschneider-ihre-pvs commented on #621
ok cool thanks for the info.

[2022-02-11 07:52] #621 closed

[2022-02-11 08:55] sschneider-ihre-pvs opened #622 "Block Headers"
Is there a way to have block headers?
![image](https://user-images.githubusercontent.com/86342787/153562615-d3c78c7e-9ba5-4d60-8301-5e3b4f2c73eb.png)

[2022-02-11 11:09] meain commented on #609
@beedaddy See my previous message [here](https://github.com/Peltoche/lsd/issues/609#issuecomment-1034464182).

You said you are using gnome. Just from that, if you are using gnome-terminal then this checkbox at the bottom is the one that I am talking about in my previous message. See if disabling this will make both of the colors the same.
![image](https://user-images.githubusercontent.com/1425981

[2022-02-11 11:11] meain commented on #622
Not at the moment, but this would be a good feature to add in.

[2022-02-11 11:17] beedaddy commented on #609
Thanks for reminding me about this option. Disabling this option results in the same color: the darker blue.
![Bildschirmfoto von 2022-02-11 12-12-20](https://user-images.githubusercontent.com/3264939/153582049-0cc78c60-c104-4564-aaf3-63d73ac1c152.png)
So the problem is that lsd irgnores the (enabled) option?

[2022-02-11 13:35] AlbertMakdissi commented on #620
I thought its closed but, apparently this does only work for the powershell.
![grafik](https://user-images.githubusercontent.com/96504290/153600620-28c010b8-aa3d-415a-81cf-3aa9066f3636.png)
![grafik](https://user-images.githubusercontent.com/96504290/153600702-8e0679e8-7b81-4462-b5ee-4735e93d3267.png)
 But for gitbash I still get this output:

[2022-02-11 13:47] meain commented on #620
Unfortunately, I don't think we will be able to easily support git bash as we need 256 colors and git bash only support 16.

[2022-02-11 13:56] meain commented on #609
Thanks @beedaddy for verifying the issue. The issue here is that older version of lsd relied on 8/16 colors which would change colors based on if this option is enabled or not. The newer version of `lsd` uses 256 color pallete which does not get affected by this setting.

IMO the "right" color is the dark variant. The ideal fix here is to not do a translation from 8/16 color to 256 automatically,

[2022-02-11 14:01] #620 closed

[2022-02-18 04:58] #248 closed

[2022-02-19 09:51] trashyms opened #625 "can't locate config file on macos"
- os: macos 12.1
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: empty string

## Expected behavior
find config file at    ~/.config/lsd/config.yaml

## Actual behavior
~/.config/lsd
folder does not exist when trying to print its content

![SCR-20220219-f12](https://user-images.githubusercontent.com/783204/154795932-60ccb9d7-654e-41fd-8b8d-8c3c15958b30.png)

[2022-02-19 09:55] meain commented on #625
The folder will not exist by default. You will have to create the folder and add the file in manually. Once the file is available, `lsd` will pick it up and use it.

[2022-02-19 09:55] #625 closed

[2022-02-19 10:05] trashyms commented on #625
Thanks for the rapid answer.

[2022-02-20 05:43] overdazed commented on #375
I get the same Error. Uninstalled everything & installed again.
The Error still persists. Is there a fix?

[2022-02-21 16:13] #615 closed

[2022-02-23 03:26] Kara-Zor-El opened #628 "Feature request: use  for .torrent files"
I feel as though adding that icon would really make it better since having a default icon there is not favourable and the  icon kinda seems like it would be used for security and privacy ~~as well as nefarious activities at times~~ and I think it would overall be a good fit for the the file

[2022-02-23 03:50] zwpaper commented on #628
Hi @Kara-Zor-El, welcome to submit a PR adding the icon, it is easy and interesting, https://github.com/Peltoche/lsd/pull/624/files this may help if you want to.

as for the icon part, I can not see the icon you posted in this issue, maybe you can post the Hex code for it.

[2022-02-23 04:20] meain commented on #628
You can use https://www.nerdfonts.com/cheat-sheet as your reference for icons available.

[2022-02-23 15:14] Kara-Zor-El commented on #628
Thank you both so much. I will do that. thank you both

[2022-02-23 15:16] #628 closed

[2022-02-27 14:34] pbowyer opened #630 "Option to show permissions in Octal"
For all the reasons given on https://github.com/ogham/exa/issues/996 and https://news.ycombinator.com/item?id=29617182 it would be really nice if `lsd` had an option to display the `permission` column in octal rather than the traditional text format.

[2022-02-27 16:31] meain commented on #630
That sounds like a pretty useful addition. The flag could be something like `--premission <type>` as we have things like `--date <type>`.

[2022-02-27 17:35] meain commented on #630
I was looking into the exa implementation. As of now, they are adding it as a separate block. My initial thought was to replace how we display the permissions right now and change them to octal. I have feeling that doing it this way might not look right though as there is both prefix(filetype) and suffix(things like exec sticy) tacked onto permissions.

[2022-02-27 18:30] meain commented on #630
I as thinking of implementing it as an alternate for the current rwx format in that it will essentially take the place of current permissions section. One issue with this might be that it might look kinda odd when we have the file type marker to the left of it.

Not that bad, but mentioning it here in case someone has any opinions on it.
![2022-02-27-23-59-05](https://user-images.githubusercontent

[2022-02-27 19:37] pbowyer commented on #630
Thanks for looking at this! I like the flag your propose, and I'd thought of it taking the place of the current permissions section, and not an extra block.

However the file type marker... I hadn't considered that (I always look at the icon when using `lsd` rather than the marker) and I do find it hard to read, particularly the ones with `l` in front (brain says: "Is that a 1?").

Would adding a

[2022-02-27 21:35] fummymint opened #631 "Icons not showing and arguments does not work"
I made sure that I followed the requirements and directions. When I type lsd -a, it does not show hidden files. only -l argument works. Also I do not have icon despite being able to print the folder icon as instructed in the troubleshooting section. I tried other terminal emulators and all of them exhibit the same behavior.

OS:Arch Linux 5.16.11-zen1
KDE
Terminal: Konsole
System and Konsole font:

[2022-02-27 21:51] #631 closed

[2022-02-27 21:52] fummymint opened #632 "Not working with ZSH but works with Bash"
OS: Arch Linux 5.16.11-zen1
KDE
Terminal: Konsole
System Font/Terminal Font: Hack Nerd

[2022-02-27 22:13] fummymint commented on #632
temporary solution. Use colorls.

[2022-02-28 03:07] meain commented on #632
What exactly is not working? Is there any error messages? What version of `lsd` are you on?

[2022-02-28 04:54] meain commented on #630
There will be a lot of people who don't use icons or colors and this is useful for them. Actually it is not that bad when I use my personal theme whcih is a lot more subtle.

![2022-02-28-10-15-23](https://user-images.githubusercontent.com/14259816/155925600-7fb2ded7-4dd8-4843-a481-5fe8291270c8.png)

I am not really concerned about awk or any scripting stuff there, but at the same time "permission

[2022-02-28 12:21] fummymint commented on #632
No Icons. Arguments not working. 0.21.0-1

[2022-02-28 12:30] meain commented on #632
It is highly unlikely that `lsd` is not taking args. Are you sure you are running `lsd`? What is the output of `lsd --version` and `lsd --icon always`?

[2022-02-28 17:42] fummymint commented on #632
[code]
[code]
Yeah looks like it's bugged. It's showing as regular LS. I don't have any alias for LS.

[2022-03-01 02:44] zwpaper commented on #632
@fummymint try `which lsd` to check where the lsd command came from

[2022-03-01 02:49] zwpaper commented on #630
@meain may I ask why some items show `3777` or `2775` instead of starting with `0`?

btw I would also vote for keeping it like `d0775` as the `0` is acting as the separator, it is weird if there is a space inside the permissions block.

[2022-03-01 03:25] meain commented on #632
Looks like you might have aliased `lsd` to classic `ls`.

[2022-03-01 03:29] meain commented on #630
The first number (`3` in `3777` or `0` in `0775`) is to denote the `setuid`, `setgid` or `sticky` bit.

ref: https://github.com/meain/lsd/blob/f26dc1ea9201c13bd890b1c245e65b7decab3c16/src/meta/permissions.rs#L102

[2022-03-01 13:16] fummymint commented on #632
Thank you! this solved it! for some reason, my lsd is aliased to ls -d

[2022-03-01 13:17] fummymint commented on #632
thank you. that fixed it!

[2022-03-01 13:43] zwpaper commented on #632
I am closing this issue, free feel to open a new one if any question.

[2022-03-01 13:43] #632 closed

[2022-03-01 15:19] avnigo commented on #385
I can confirm I'm getting the same behavior when using the `--date` flag on the latest release (0.21.0) in vanilla zsh (v5.8): tab completion gets stuck on options instead of filenames.

Filename completion only breaks when the `--date` flag is used *before the filenames*. If it is used after filenames, then it's fine, but it I would imagine most people would add the flags in the first part of the

[2022-03-02 04:42] meain commented on #385
I have  few more questions on this:
- Which distro/package manager are you using
- Does filename completion work when it is just `lsd <TAB>`
- Is it just `--date` that is causing issues or any arg
- Does it autocomplete filenames when doing `lsd ./<TAB>`
- What is the output of `complete -p lsd` or `which _lsd`

[2022-03-02 15:51] avnigo commented on #385
* Ubuntu 20.04.4 LTS: [installed from release 0.21.0](https://github.com/Peltoche/lsd/releases/download/0.21.0/lsd-musl_0.21.0_amd64.deb)

* **bash:** nothing on first `<TAB>`, second `<TAB>` returns options
* **zsh:** yes (first `<TAB>` shows all filenames, second `<TAB>` cycles through)

* It seems that the `--depth` flag has the same issue. If I'm not mistaken, those are the only two flags that

[2022-03-02 15:56] Gerrit-K commented on #385
(chiming in again, out of curiosity and because I was able to reproduce it again)
For me:

macOS, installed `lsd` via the prebuilt binary from the GitHub releases page. Taken the zsh completions from there as well (`_lsd`)

Yes

Not only `--date` but also, for instance, `--depth`. Just an assumption, but maybe it affects all options that take an additional argument. In addition to that, I noticed

[2022-03-10 13:31] hntee opened #633 "lsd of file timezone is wrong"
- os: CentOS 7
- `lsd --version`: 0.21.0
- `echo $TERM`: screen-256color
- `echo $LS_COLORS`: default

## Expected behavior
`ls -l` can get the correct time of the listed files.
My location is in GMT+8, and `lsd` only shows the GMT time.

[2022-03-12 03:53] zwpaper commented on #633
what is the output of `ls -l /etc/localtime`

[2022-03-12 14:20] hntee commented on #633
Hi, the output is `/etc/localtime ⇒ ../usr/share/zoneinfo/Asia/Shanghai`

[2022-03-12 15:22] zwpaper commented on #633
could you try to update the soft link to the absolute path by

[code]

just to make sure it is not related to the related path

[2022-03-12 16:06] meain commented on #546
I am not sure if this is the right choice anymore. While it makes sense for `NO_COLOR`, I don't think it makes sense for most of the other env variables.

[2022-03-13 03:17] hntee commented on #633
have done this step, but the output of lsd is the same

[2022-03-13 07:51] #258 closed

[2022-03-13 15:42] zwpaper commented on #546
I also think env variables should have a higher priority than config files, it is that in most others cases I knew.

Env variables are easier to modify than config files.

[2022-03-14 04:21] hntee commented on #633
`$ timedatectl`
[code]
Another interesting thing is that the time shown in terminal prompt is also wrong (which is UTC but not local time).
I don't know which setting causes this issue.

[2022-03-15 00:36] BenFradella opened #637 "`--tree` and `--recursive` options shouldn't dereference symlinks by default"
- Arch Linux:
- `lsd 0.21.0`:
- `xterm-256color`:
- (no LS_COLORS):

## Expected behavior
lsd should not follow symlinks recursively unless explicitly told to do so, with the `-L` option.

This would mimic the way `ls --recursive`, `tree`, and `find` work with their default arguments.

## Actual behavior
Running `lsd --recursive` or `lsd --tree` on a directory with looping symlinks (i.e. sysfs dir

[2022-03-15 11:56] #637 closed

[2022-03-20 12:46] FischLu opened #640 "Can custom color theme for date supports more date?"
First of all, I really love this feature, which can help me easily to distinguish the files which are modified recently. Current, I see the color theme for data supports 3 different data, `hour-old`, `day-old`, `older`. Does it support more data like 5 minutes old, 2 hours old etc. Thank you!

[2022-03-21 04:04] #630 closed

[2022-03-21 07:43] meain commented on #640
Duplicate of https://github.com/Peltoche/lsd/issues/359

[2022-03-21 07:43] #640 closed

[2022-03-21 08:31] pbowyer commented on #630
Thank you!

[2022-03-24 07:41] hntee commented on #633
Problem solved.
[code]
would work.

[2022-03-24 07:41] #633 closed

[2022-03-27 10:12] thingsiplay opened #643 "Example config file in README with default values throws an error message in lsd"
- os: Manjaro
- `lsd --version`: 0.21.0-2
- `echo $TERM`: xterm-kitty
- `echo $LS_COLORS`: `rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.

[2022-03-27 10:19] meain commented on #643
`permission` is a new feature and is not yet available in a release. If  you want to have the permission feature, you will have to install from master as of now.

[2022-03-27 10:19] #643 closed

[2022-03-27 10:28] thingsiplay commented on #643
Okay, just commenting it out works for now. I don't plan on installing from source yet. Maybe it is a good idea to add a comment to indicate minimum version of lsd. Because many people will install it from official repos and if the official suggested default config causes an error, then this could throw off some people.

[2022-03-27 11:16] meain commented on #643
I have been thinking about adding just a warning like `warn: unknown key 'permission'` but reading the rest of the config in case of invalid items, just never got around to it; but adding a comment in the readme saying something is unreleased could be a good idea.

[2022-03-29 14:27] maximd opened #644 "Do not compute total size of directories if the size is not displayed"
- os: Ubuntu 20.04
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:
[code]

## Expected behavior
I have "`total-size: true`" in my config and if I do a simple `ls` (without `-l` or `--blocks size`), `lsd` should not compute the total size of the directories (= recursively walk into each subdirectory) because the size won't be displayed.

## Actual behavior
The size

[2022-03-29 16:09] AlbertMakdissi opened #645 "Cant patch down to lsd version 0.20.1"
Downloaded the version for windows from here: https://github.com/Peltoche/lsd/releases/download/0.20.1/lsd-0.20.1-i686-pc-windows-gnu.zip. Unzipped it on desktop and ran the binary in the powershell like this:
![grafik](https://user-images.githubusercontent.com/96504290/160656467-ff40c9aa-f21a-4f14-a234-fa13a75c1e28.png)
Looked like it worked but when checking the version, its not downgraded:
![gr

[2022-03-29 17:31] meain commented on #645
I don't know how windows works, but in the first pick you are running the downloaded file(which is not installed) and in the second one you are running the global installation. Both are different. You might wanna look up how to "install" a binary on Windows.

[2022-03-30 10:19] AlbertMakdissi commented on #645
Okay did that. So for everyone using windows, who might also need to do that. These are the steps:

1. Download the lsd version u need from https://github.com/Peltoche/lsd/releases
2.  unzip the file to ur primary drive-->In my case its C:
3. Copy the path to the unzipped folder
4.  Open your Systemvariables Configuration Settings -> advanced ->path variables -> click path and than new button and

[2022-03-30 10:19] #645 closed

[2022-03-30 12:07] meain commented on #645
Just out of curiosity, why did you want to downgrade the version?

[2022-03-30 12:10] AlbertMakdissi commented on #645
Git bash cant handle the 256 color scheme thats introduced in lsd version 0.21.

[2022-03-31 04:11] #347 closed

[2022-03-31 04:11] #367 closed

[2022-03-31 04:11] #515 closed

[2022-03-31 04:39] arjvik commented on #515
Thank you @mmatous!

[2022-04-04 15:42] msr8 commented on #199
@kyrelldixon How did you set the text though? I cannot find an option to select separate text for non-ascii characters

[2022-04-04 16:46] zwpaper commented on #199
Hi @msr8 , looks like you are using the apple terminal, I also did not find the option for `non-asicii` characters, so maybe you can change the font directly, `Nerd font` works perfectly for both `ascii` and `non-ascii` characters.

or, If you would like to keep the font for `ascii`, maybe you can try `iTerm2`

[2022-04-06 19:02] MRX-IOS commented on #199
hi @msr8 you have to change your font from "Lucida Console 13 pt" to "Hack Regular Nerd Font Complete 11"

[2022-04-09 19:50] khughitt opened #647 "Add support for specifying theme colors as hex colors"
Greetings!

Is there any possibility that lsd could be extended so that theme colors could be specified using hex (or rgb, etc.)?

XTerm color codes are generally awkward to work with and make it difficult to use something like [pywal](https://github.com/dylanaraps/pywal) to  manage LSD's colors.

Thanks for all of your work on lsd so far! It's been fun to use.

[2022-04-10 12:53] meain commented on #647
This would be a good addition, but the changes would probably be in https://github.com/crossterm-rs/crossterm as we are relying on `crossterm` to deserialize.

[2022-04-10 13:16] khughitt commented on #647
Sounds good! It looks like `crossterm` might already supporting specifying colors as RGB triplets?

https://docs.rs/crossterm/latest/crossterm/style/enum.Color.html

That would already be quite useful. Supporting hex on top of that would just be a bonus, but probably would not be too much work. One could perhaps use the conversion functionality from something like [colorsys.rs](https://github.com/

[2022-04-10 15:24] meain commented on #647
Yup, you can actually give RGB like `[30,30,30]` and that is possible in the theme config.

About the actual hex parsing implementation, I think it would be better to discuss about it in [crossterm](https://github.com/crossterm-rs/crossterm/issues). I am assuming they would be happy to have deserialize from hex or maybe even hsl.

[2022-04-11 08:00] zwpaper commented on #647
hi @khughitt, try the following theme config for RGB:

[code]

[2022-04-13 16:38] #192 closed

[2022-04-14 05:00] LaBiXiaoChen commented on #199
Thanks

[2022-04-16 03:32] exploitJ opened #648 "File name too long (os error 63) when `ls --tree`"
- os:
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: xterm-kitty
- `echo $LS_COLORS`: -

## Expected behavior
if `ls --tree` is run on deep and long files, error occurs,
and I guess it tries to resolve symlinks and resulting in a loop.
[code]

## Actual behavior
shows the tree

[2022-04-16 04:22] meain commented on #648
I don't think this is because we follow symlink. `lsd` does not follow symlinks to directory unless explicit asked to using `-L` flag. This might just be a really long file name. `link-17948945-2344-40F5-AB83-6A100A0AA867` seem to be repeating, but that might be from having that actually being the folder structure as it finally resolves to `_params.cat.bin` at the end.

That said, I am able to vie

[2022-04-16 22:15] khughitt commented on #647
Thanks! Heh, that _almost_ does the trick. pywal does support writing out individual RGB triplet elements via [user template modifiers](https://github.com/dylanaraps/pywal/wiki/User-Template-Files) (although this functionality appears to possibly be broken in the current release, 3.3.0), however, it writes on RGB _floats_.

[2022-04-22 14:31] pedrofoliveira opened #649 "User and Group shown as numbers"
- os: RHEL  3.10.0-1160.el7.x86_64
- `lsd --version`: 0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:
rs=0:di=38;5;27:ln=38;5;51:mh=44;38;5;15:pi=40;38;5;11:so=38;5;13:do=38;5;5:bd=48;5;232;38;5;11:cd=48;5;232;38;5;3:or=48;5;232;38;5;9:mi=05;48;5;232;38;5;15:su=48;5;196;38;5;15:sg=48;5;11;38;5;16:ca=48;5;196;38;5;226:tw=48;5;10;38;5;16:ow=48;5;10;38;5;21:st=48;5;21;38;5;15:ex=38;5;34:*.

[2022-04-28 06:24] MichaelAug commented on #622
Hi, I'll try to implement this :)
How should the headers look like? Like the screenshot above or something different?
Is flag "-h, --header" ok for this?

[2022-04-28 10:23] exploitJ commented on #648
@meain Sorry for the late response.

- after cd in to that long directory, I was able to print `lsd --tree`
- it does continue with other items after showing this error(endless errors 😭

[2022-04-28 11:22] meain commented on #648
My question was weather the unix `tree` command (not the lsd version) works in the directory.

[2022-04-28 11:24] meain commented on #622
Thanks @MichaelAug for looking into this. Something like the screenshot would be a good start. One possible improvement that I can think of is that the underline could span the entire block width. Also, maybe we could center the header.

`--header` as the flag for this sounds good. I don't think we need a short flag for this.

[2022-04-28 23:07] ylluminate opened #650 "Configuration file: ... config.yaml format error, unknown field ..."
- os: macOS 12.3
- `lsd --version`: 0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: '' (empty)

When I add a config file (`~/.config/lsd/config.yaml`) and copy the contents of the example config in the README.md (https://raw.githubusercontent.com/Peltoche/lsd/master/README.md), I get some errors.

Initially when running `lsd` and the default config, I get this error:
[code]
The line in

[2022-05-04 03:30] greweln opened #655 "cannot modify columns colors"
- os: Fedora 35/36
- `lsd --version`:0.20.1
- `echo $TERM`: Alacritty
- `echo $LS_COLORS`: :di=001:ex=0;32:

The colors of the columns won't change despite any changes on the default theme.
Any sugestions?

[2022-05-04 06:10] meain commented on #655
There is a possibility that you might have some issues in your config. Could you post your configs here.

[2022-05-05 02:50] greweln commented on #655
config.yaml
`
# == Classic ==
# This is a shorthand to override some of the options to be backwards compatible
# with `ls`. It affects the "color"->"when", "sorting"->"dir-grouping", "date"
# and "icons"->"when" options.
# Possible values: false, true
classic: false

# == Blocks ==
# This specifies the columns and their order when using the long and the tree
# layout.
# Possible values: permission

[2022-05-05 03:05] zwpaper commented on #655
we support themes on https://github.com/Peltoche/lsd/releases/tag/0.21.0, I noticed you are using 0.20.1, maybe try updating it.

[2022-05-05 03:06] meain commented on #655
In addition to what zwpaper said, don't use `default` as the theme file name. Switch it to some other name. `default` is kind of a reserved word which resets to the builtin theme, but I can see how that can be confusing.

[2022-05-05 03:52] greweln commented on #655
- I uninstall 0.20.1 (version on Fedora)
- install 0.21.0 with cargo
- rename default theme

All good now, thank you very much !

[2022-05-05 03:56] #655 closed

[2022-05-11 06:30] Spacelord-XaN opened #656 "Windows 11 OS Error 1355"
- os: Windows 11 21H2
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: cmd.exe
- `echo $LS_COLORS`:  Environment variable LS_COLORS not defined

Run lsd.exe without any arguments in a Windows command prompt.

## Expected behavior
Files and directories are listed.

## Actual behavior
`lsd: .: The specified domain either does not exist or could not be contacted. (os error 1355).`

[2022-05-12 06:29] Spacelord-XaN commented on #656
I just made a test on another machine that runs the same windows 11 version and there lsd works fine.
Maybe the error has something to do with upgrading from windows 10. As the machine where I get the above error was upgraded from windows 10 to 11 where the other machine is a new installation of windows 11.

[2022-05-12 11:02] meain commented on #656
Duplicate of https://github.com/Peltoche/lsd/issues/334 . Closing.

[2022-05-12 11:02] #656 closed

[2022-05-12 16:45] martinlindhe opened #657 "Color output is broken in some combinations on Windows + MSYS2"
- os: windows
- `lsd --version`:  0.21.0
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`:  <unset>

## Expected behavior
Seeing colors.

## Actual behavior

With windows terminal, launcing bash using msys2:
![image](https://user-images.githubusercontent.com/181531/168126084-e8b48f8e-739b-4a43-8308-3ed98b48348b.png)

wezterm, launching zsh using msys2:
![image](https://user-images.githubusercon

[2022-05-13 10:34] vbd opened #658 "lsd -ltr requires a lot of time"
- os: Windows
- `lsd --version`:  0.21.0
- `echo $TERM`:  -
- `echo $LS_COLORS`:  -

I like lsd a lot over other tools like exa but for one use case I hope it could be improved.
`lsd -ltr` in a folder with ~3000+ files will take ~30 seconds before output. Any chance to reduce waiting time?

[2022-05-14 14:05] Freed-Wu commented on #658
I met a similar bug:

In windows:

![Screenshot from 2022-05-14 22-01-06](https://user-images.githubusercontent.com/32936898/168429119-df8217b1-56c2-4274-832a-64e283c972c2.png)
![Screenshot from 2022-05-14 22-01-28](https://user-images.githubusercontent.com/32936898/168429120-4751c333-7483-49f4-ad2f-1c515dacdc1c.png)

In linux:

![Screenshot from 2022-05-14 22-04-43](https://user-images.githubuser

[2022-05-14 14:22] Freed-Wu opened #659 "[question] In windows, `lsd --XXX auto` will behave like `never"
In linux, `lsd --icon auto --color auto` will display color/icons when the output is a tty, and not display color/icons when the output is a file or a pipe.

In windows, `lsd --icon auto --color auto` always behave like `never`. Is it a bug?

[2022-05-16 23:38] planet36 opened #660 "File names with spaces are not quoted"
- os: Linux 5.17.7-arch1-1 x86_64
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: tmux-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=00:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=

[2022-05-17 10:19] martinlindhe commented on #657
Update:

I have done some investigation and the issue seems to have been resolved in 2019 but the code has since been refactored so the fix was lost.

PR https://github.com/Peltoche/lsd/pull/195 resolved this in 2019 but the code path is no longer in master.

What disappeared is the call to `ansi_term::enable_ansi_support()`, or similar.

[2022-05-17 10:53] martinlindhe commented on #657
Update 2:

You might not want to accept my open PR to fix this issue, as I am attempting to fix the root cause in crossterm over at https://github.com/crossterm-rs/crossterm/issues/666

A work-around for the moment to get lsd colors working on MSYS2 is something like this:

[code]

because TERM=dumb short-circuits crossterm's broken terminal check.

[2022-05-17 12:16] martinlindhe commented on #657
Update 3: crossterm merged a fix for this in https://github.com/crossterm-rs/crossterm/commit/35d58ccc305caff043340668949eadd936659210

When a new release of crossterm is out, we can update the dependency for lsd and this issue should be resolved.

[2022-05-18 03:34] zwpaper commented on #660
hi @planet36, may I ask which builtin ls version did you use?

I try `GNU ls` and bsd ls on macOS, and both show `a a` without the quote.

[2022-05-18 09:55] jjarava opened #662 "Issues with config file entries "permission" and "hyperlink" and theme file"
- os:

- `lsd --version`: `lsd 0.21.0`
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`: (empty)

## Expected behavior
Running lsd displays the listing of files

## Actual behavior
I got an error message like:

[code]

I commented out the `permission` file in config.yaml, and then I got another error:

Once I got the config file to parse, I _also_ got errors on the format of the theme file; I

[2022-05-18 11:29] planet36 commented on #660
`ls --version | head -n 1`
`ls (GNU coreutils) 9.1`

[2022-05-18 11:33] planet36 commented on #660
I guess this behavior was added in coreutils 8.25.
https://git.savannah.gnu.org/cgit/coreutils.git/tree/NEWS#n1046

[2022-05-18 11:35] planet36 commented on #660
See also https://unix.stackexchange.com/q/258679/439780

[2022-05-19 07:39] dadav commented on #662
Same. I'm also using **v0.21.0**

[2022-05-19 10:34] zwpaper commented on #662
maybe duplicated with https://github.com/Peltoche/lsd/issues/643

[2022-05-19 11:19] zwpaper commented on #660
Thanks so much for the information!

then this could be an improvement for us to implement.

I did not have a newer version of `GNU ls`, could you please add some more case outputs for us.

- filename with space
- filename with single-quote
- filename with double-quote
- filename with `$`
- output to a pipe like `ls | cat`

[2022-05-20 01:03] planet36 commented on #660
Python script to create the files:
[code]

`ls -1`

`ls -1 | cat`

[2022-05-21 14:14] SiirRandall commented on #648
I have the same issue as well and normal tree works fine but using lsd --tree
My iMac uses an older version of lsd version 0.17.0 and it works great when I used brew upgrade lsd and it upgraded to 0.21.0 I was getting the File name too long(os error 63) error
I hope this helps

[2022-05-26 03:39] zwpaper commented on #658
we found this issue previously, and there is a WIP PR, I will look into it when I have some free time

https://github.com/Peltoche/lsd/pull/441

[2022-05-26 03:44] #622 closed

[2022-05-26 18:04] misiektoja opened #664 "lsd cannot display some directories"
- os: CentOS 7.8.2003
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arj=01;31:*.taz=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.zip=01;31:*.z=01;31:*.Z=01;31:*.dz=01;31:*.gz=01;31

[2022-05-26 18:49] misiektoja commented on #664
Also root-owned files are affected. I have no clue what is going on.

[20:48:23] root::nclm ➜ /var/cache/yum » lsd -al
d--x--x--x root root   6 B Fri Mar 11 10:20:59 2022   .
drwxr-xr-x root root 267 B Thu May 26 20:04:19 2022   ..                                                                    /0.0s

[20:48:28] root::nclm ➜ /var/cache/yum » ls -al
total 0
drwxr-xr-x.  3 root root  20 Apr  2

[2022-05-27 08:06] zwpaper commented on #664
hi @misiektoja , we have released the v0.21.0, please check the newest version and see if there is still problems

[2022-05-30 13:31] 3ri4nG0ld opened #665 "--ignore-glob does not work on windows."
- os: Windows 11 Pro 21H2 (22000.708)
- `lsd --version`:   0.21.0
- `echo $TERM`:
- `echo $LS_COLORS`:

## Expected behavior
Currently on linux if I run the command  `lsd --ignore-glob NTUSER.DAT\* --ignore-glob ntuser.dat\*` the result is as expected

![image](https://user-images.githubusercontent.com/24411137/171002051-0970a7f7-984d-44c5-848b-ca0e15dc64e4.png)

## Actual behavior
But if I use th

[2022-06-07 05:14] bigdogs opened #666 "windows os error 5"
![image](https://user-images.githubusercontent.com/20614926/172301030-5e89d2c2-5722-4723-9628-86a3436fe35b.png)

[2022-06-07 06:37] bigdogs commented on #666
Not sure if this is related to "C:/System Volume Information", I delete this folder today as it takes too much space

[2022-06-08 08:55] zwpaper commented on #666
seems like some permission problems, did you try the newest version of lsd?

[2022-06-08 09:04] bigdogs commented on #666
Yes,  It's the latest version  `lsd 0.21.0` .
Perhaps it was because some security settings are applied by my company administrator :(

[2022-06-11 19:01] PythonCoderAS opened #668 "lsd does not exit on closed pipes"
- os:
- `lsd --version`: lsd 0.21.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:
[code]

## Expected behavior
When piping to a program that exist, `lsd` will continue running until reading (all) paths is done. This is a problem when using the recursive flag, as `lsd` will recurse all directories than exit.

[code]

[2022-06-12 09:10] meain commented on #662
Update to the latest version and you should be good to go.

[2022-06-12 09:10] #662 closed

[2022-06-12 21:13] xfzv opened #671 "Disabling background color for directories with 777 permissions?"
After updating to 0.22.0, directories with 777 permissions are displayed with a background color:

![image](https://user-images.githubusercontent.com/78810647/173253546-f81e525c-dc8d-4a6b-923d-1cc50f64e74f.png)

How can I disable this? `--ignore-config` doesn't make any difference and I cannot seem to find the correct value in the [Theme file content](https://github.com/Peltoche/lsd#theme-file-con

[2022-06-13 03:08] meain commented on #671
What you need to use is `LS_COLORS` to update the colors of files/folders.

ref:
- https://unix.stackexchange.com/questions/241726/fix-ls-colors-for-directories-with-777-permission
- https://unix.stackexchange.com/questions/94498/what-causes-this-green-background-in-ls-output

[2022-06-13 03:08] #671 closed

[2022-06-16 03:24] bigdogs commented on #666
After upgrade lsd to `0.22.0`,  the error becomes `os error 1355`
![image](https://user-images.githubusercontent.com/20614926/173984346-e235c59d-04eb-45f9-bc75-e841f6168032.png)

[2022-06-16 05:49] meain commented on #666
Duplicate of https://github.com/Peltoche/lsd/issues/386 and https://github.com/Peltoche/lsd/issues/334
Closing as of now so that we can continue tracking in those issues.

[2022-06-16 05:49] #666 closed

[2022-06-17 15:06] MeShootIn opened #675 "Incorrect display of file names in Windows 10"
- os: Microsoft Windows [Version 10.0.19044.1706]
- `lsd --version`: lsd 0.22.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;4
4:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;

[2022-06-17 17:25] meain commented on #675
This looks odd, it looks like the ansi escape codes are not working properly. Could you double check the `TERM` value set in alacrity.

[2022-06-17 18:22] MeShootIn commented on #675
![image](https://user-images.githubusercontent.com/47987074/174355922-47908d98-ffdd-47e2-ad41-cb19d4da2cfc.png)

[2022-06-18 10:20] meain commented on #675
![2022-06-18-15-49-08](https://user-images.githubusercontent.com/14259816/174433461-c71dc334-59e0-4382-b725-649316101500.png)

Could you try if `echo -e "\x1b[38;5;4mfolder-test\x1b[0m"` gives you the same output. If not, it is probably some issue with the terminal, terminfo or `$TERM`.

[2022-06-18 10:26] meain commented on #675
The reason why `ls` is displaying colors but `lsd` is not is because `ls` uses 16 colors and `lsd` uses 256 by default.

[2022-06-18 10:27] MeShootIn commented on #675
![image](https://user-images.githubusercontent.com/47987074/174433733-1e16a3e1-8d19-414e-b067-4cf01a3bbc91.png)

[2022-06-18 11:02] meain commented on #675
How about any of `'\x1B[38;5;4m\x1B[1mdev\x1B[0m'` or `'\033[38;5;4m\033[1mdev\033[0m'` or `'\033[38;5;4m\033[1mdev\033[0m'`.  If I am not mistaken the first one is gonna cause problems.

In any case, I found related issues in alacritty (https://github.com/alacritty/alacritty/issues/4794)

[2022-06-18 11:07] MeShootIn commented on #675
These two lines below are the same:

However, both examples print correctly:
![image](https://user-images.githubusercontent.com/47987074/174434920-47ac0eb2-a791-4c68-9558-fd92ad43870e.png)

[2022-06-19 05:13] meain commented on #675
My bad, the last one was supposed to be `\e[38;5;4m\e[1mdev\e[0m`, but I guess that should work. `lsd` actually uses the first one mentioned there, but if that own its own is working  I am not entirely sure what is going on. Could you try `lsd --icon never` and see if that is still causing issues?

[2022-06-19 09:55] MeShootIn commented on #675
![image](https://user-images.githubusercontent.com/47987074/174475542-a5c2b9db-c409-4652-ba4a-b92478ed72f5.png)

[2022-06-19 10:25] meain commented on #675
I don't think this is an `lsd` issue as it works in other terminal emulators and the ansi escape codes is pretty much standard. I am starting to believe this is more related to the `alacritty` issue that I linked before. In any case, maybe give it a shot with `TERM=screen`, `TERM=""`(empty), `TERM=screen-256color`.

[2022-06-22 08:05] yeetsquad747 opened #677 "lsd doesn't display icons in visual studio code integrated terminal"
- os: ubuntu 22.04
- `lsd --version`: lsd 0.16.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: `no=00:fi=00:di=01;34:ln=00;36:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=41;33;01:ex=00;32:*.cmd=00;32:*.exe=01;32:*.com=01;32:*.bat=01;32:*.btm=01;32:*.dll=01;32:*.tar=00;31:*.tbz=00;31:*.tgz=00;31:*.rpm=00;31:*.deb=00;31:*.arj=00;31:*.taz=00;31:*.lzh=00;31:*.lzma=00;31:*.zip=00;31:*.z

[2022-06-22 09:55] #677 closed

[2022-06-22 14:57] dacobi opened #678 "Glyphs are different sizes?"
I just installed lsd and nerd fonts hack and I get glyphs for most file types but they are different and wrong sizes:

![Screenshot from 2022-06-22 16-58-23](https://user-images.githubusercontent.com/7037472/175062613-55a0a115-95fc-4b51-8aa9-aeeb67602ef3.png)

I didn't know if I should post here or on the nerd fonts page but since colorls behaves differently and had the folder glyphs in the right

[2022-06-22 15:42] #678 closed, assigned to nobody

[2022-06-22 16:19] meain commented on #678
c icon based on the c language logo. They are explicitly meant to have different icons.
- c: https://github.com/Peltoche/lsd/blob/2ffb59cc9eab759d1eea23c217f19ac93ff0971f/src/icon.rs#L245
- h: https://github.com/Peltoche/lsd/blob/2ffb59cc9eab759d1eea23c217f19ac93ff0971f/src/icon.rs#L313

[2022-06-22 16:52] dacobi commented on #678
That wasn't my question. If you look at the screenshot you'll see that the
icon for cpp is a "chinese" symbol.

On Wed, 22 Jun 2022, 18.19 Abin Simon, ***@***.***> wrote:

[2022-06-22 18:43] meain commented on #678
The font you are using does not have nerd font glyphs patched in properly and is instead having some other glyph at the location where we are expecting to have a cpp logo glyph. Ideally if you have a properly patched font, this would not happen.

[2022-06-22 22:44] dacobi commented on #678
I have it working now by selecting the font in the terminal app preferences.
Don't know why only some or any icons were present when it was set to
system font. Before I installed nerd fonts or font awesome there were no
icons, when set to system font.

On Wed, 22 Jun 2022, 20.43 Abin Simon, ***@***.***> wrote:

[2022-06-25 11:02] piechologist opened #679 "lsd on Fedora is outdated"
The Fedora 35/36/Rawhide repos are still on lsd 0.20.1. Any chance to update these?

Cheers!

[2022-06-25 11:55] meain commented on #679
None of the distribution specific packages are maintained by us. You will have to reach out to the Fedora package maintainers.
https://packages.fedoraproject.org/pkgs/rust-lsd/lsd/

[2022-06-25 11:55] #679 closed

[2022-06-26 05:28] Hellzbellz123 commented on #613
i think this would be better as a config option and not a command switch personally

[2022-06-26 05:49] meain commented on #613
If this gets implemented, it will be available both as a cli flag and a config option like most others.

[2022-06-29 14:30] Mte90 opened #681 "Exa feature parity"
This is the most famous ls alternative but is not so much developed compared to this one, https://github.com/ogham/exa

Anyway it is not clear if the features are the same, https://github.com/Peltoche/lsd/issues/218 as example for gitignore is missing.

[2022-06-29 16:23] meain commented on #681
Not to nitpick, but `exa` is more popular than `lsd` if you go purely by Github stars, hehe 😂.

With that out of the way, while both `exa` and `lsd` are both `ls` alternatives both have taken different approaches in how it does things in a lot of cases. Both have grown organically over time adding more features on top of `ls` in different directions even though we share a lot of common features. T

[2022-06-29 16:23] #681 closed, assigned to nobody

[2022-06-30 22:58] juansc commented on #644
@meain #646 addressed this issue

[2022-07-01 02:46] #644 closed

[2022-07-02 21:30] grimm26 commented on #613
This sounds like a collation thing. like LC_COLLATE=C causes hidden files to be first - the only proper way :)

[2022-07-03 08:34] martinlindhe commented on #657
This issue has been resolved in crossterm 0.24

https://github.com/crossterm-rs/crossterm/releases/tag/0.24

[2022-07-03 08:34] #657 closed

[2022-07-03 16:29] meain commented on #657
I am guessing https://github.com/Peltoche/lsd/issues/675 is related.

[2022-07-03 18:19] martinlindhe commented on #657
@meain Yes, that is the same issue for sure.

[2022-07-04 17:21] meain commented on #657
@martinlindhe Would you be able to check if https://github.com/Peltoche/lsd/pull/688 fixes the issue? I have bumped the `crossterm` version.

[2022-07-04 22:59] OldWorldOrdr opened #690 "inaccurate comment in line 166 of icon.rs"
the actual code uses f1c0 but the comment uses e706.  I would make a pr but i already have a fork of this repo containing my own changes and idk how to make a pr that only contains one commit and ignores the others.

[2022-07-04 23:01] OldWorldOrdr commented on #690
the comment might actually be using f472 i cant tell the difference in my terminal and idk any other ways to check

[2022-07-04 23:06] OldWorldOrdr commented on #690
its very important that this be fixed lsd is practically unusable because of this

[2022-07-04 23:07] OldWorldOrdr commented on #690
line 325 has the same issue

[2022-07-04 23:07] OldWorldOrdr commented on #690
and 329

[2022-07-04 23:08] OldWorldOrdr commented on #690
341 and 427

[2022-07-05 05:29] meain commented on #690
Thanks for letting me know. I've raised a PR for this #691 . Let me know if that is what you meant.

Btw, just so that nothing stops you from contributing to lsd next time, you can run something like `git checkout -b <branchname> upstream/master` to create a new branch from upstream `master`, work on that and then make a PR.

[2022-07-05 05:33] meain commented on #690
I had some time and so went through the change you had in https://github.com/OldWorldOrdr/lsd/commit/6674c9b17534083076f920af611bd25b09cb6e9c . FYI, you can make that change in `$LS_COLORS`.

[2022-07-05 06:34] martinlindhe commented on #657
@meain Confirmed working with x86-64-msvc artifact from your #688.
![Capture](https://user-images.githubusercontent.com/181531/177264392-826765bd-9a41-4f5d-a09c-0567d590233e.JPG)

The second command is lsd 0.22.0

[2022-07-05 07:37] #675 closed

[2022-07-05 22:48] pabloazurduy commented on #365
hey everyone, quick question, there is no way of using themes in this env `macos + iterm + zsh` ?  I tried with https://github.com/Peltoche/lsd/issues/365#issuecomment-733095300 and solve my problem
however, I would like to know if someone figure it out on how to use `colors.theme` from the `.config` file
thanks ! :)

[2022-07-05 23:08] OldWorldOrdr commented on #690
@meain
[code]

[2022-07-05 23:16] OldWorldOrdr commented on #690
i created a branch on githubs website instead, but i would still like to know how to fix the error so i can do it from cli in the future

[2022-07-06 07:25] zwpaper commented on #690
hi @OldWorldOrdr, if you have forked this repo, and clone your fork to local, you can just do

[code]

[2022-07-06 14:04] OldWorldOrdr commented on #690
@zwpaper the master branch of my fork has changes that I don't want to include in the pr

[2022-07-06 17:12] OldWorldOrdr opened #693 "`-I` option does not function properly when used with a *"
- os: Windows 11
- `lsd --version`: lsd 0.22.0
- `echo $TERM`: idk its powershell
- `echo $LS_COLORS`: idk its powershell

## Expected behavior
If applicable, add the output of the classic ls command (`\ls -la`) in order to show the buggy file/directory.
[code]
## Actual behavior
If the application panics run the command with the trace (`RUST_BACKTRACE=1 lsd ...`).
In case of graphical errors, add

[2022-07-06 17:19] meain commented on #690
I am guessing you might not have set up the upstream
[code]

[2022-07-06 17:24] meain commented on #693
Hmm, somehow I am not able to reproduce this on my end. @zwpaper are you able to reproduce this?

[2022-07-06 17:57] pabloazurduy commented on #365
thanks @meain ! I thought that `colors.theme` changed everything! my bad.

Thanks again!

[2022-07-07 20:23] OldWorldOrdr commented on #690
how?

[2022-07-08 03:32] meain commented on #690
A sample LS_COLORS would looks something like `di=34:ln=34...`, but you can switch them out to their light variants. For example to change directory colors use `di=94` and you will get light colors.

![img](https://user-images.githubusercontent.com/14259816/177911457-b6793964-dff4-40f4-82a8-38c21b0b7481.png)

You can refer to [this gist](https://gist.github.com/thomd/7667642) to learn more.

[2022-07-09 09:41] Zesko opened #695 "Can not read any mounted directory-name with highlighted color"
- os: Manjaro Linux
- `lsd --version`:  0.22.0
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`:  no defined

## Expected behavior
How can I change the highlighted color for any mounted directory name?

## Actual behavior
I can not read two directories name with highlighted green, these directories are mounted by `/etc/fstab`.
I am using the default theme.
See the screenshot
![Screenshot_202207

[2022-07-09 11:39] #695 closed

[2022-07-09 19:56] Radius112 opened #697 "small icons"
icons are small when i type lsd
![image](https://user-images.githubusercontent.com/98346472/178120799-e92cc07b-b851-450b-9754-c0add19bcc13.png)
how can i make them bigger?

[2022-07-10 05:04] meain commented on #697
The size of the icons is not something controlled by `lsd`. It is dependent on the font. Try changed your font to a different one from https://www.nerdfonts.com/font-downloads

[2022-07-10 05:04] #697 closed

[2022-07-12 21:32] thediveo opened #701 "Request: lsd snap for arm64, updated amd64 snap"
Please update the amd64 snap which is from 2019.

And please additionally provide an arm64 version for Raspberry Pi Ubuntu.

Thank you very much!

[2022-07-13 04:58] meain commented on #701
We do not manage snap versions anymore [ref](https://github.com/Peltoche/lsd/issues/79). You should however be able to download version from our GitHub [releases page](https://github.com/Peltoche/lsd/releases/latest).

[2022-07-13 04:58] #701 closed

[2022-07-13 05:55] kakulukia commented on #602
For a start, there could be a themes folder in the repo where people could send PRs with new theme files.
Sure, displaying all themes is a really nice option, but having a common place to look for new themes is a good start!

[2022-07-13 05:57] kakulukia commented on #602
@Zeioth did you upload the theme anywhere?

[2022-07-13 17:14] D3vil0per opened #703 "lsd is not showing folders in tmux"
- os: Arch Linux (5.18.10-arch1-1)
- `lsd --version`:  0.22.0
- `echo $TERM`: xterm-kitty + screen-256color (kitty+tmux)
- `echo $LS_COLORS`: <empty>
- Shell: bash and fish

## Expected behavior
When the user is in `tmux`, if it types `lsd`, it should have icons near the name of folders/files (as occurs on Kitty terminal)

## Actual behavior
When the user is in `tmux` and types `lsd`, near the nam

[2022-07-13 17:17] D3vil0per commented on #703
Solved. Just run `tmux -u`.

[2022-07-15 12:00] WalterWoshid opened #704 "1 Minute load time on Windows 10 - Powershell"
- os: Windows 10
- Terminal: Powershell
- Installed with: choco
- `lsd --version`: 0.22.0
- `echo $TERM`:
- `echo $LS_COLORS`:

## Expected behavior
Not taking so long

## Actual behavior
Takes 1 minute and 8 seconds to display the output

![image](https://user-images.githubusercontent.com/36635504/179218894-2dac1e2a-e860-4d05-ae3a-7e38fc2bb2c4.png)

[2022-07-16 18:18] dung8466 opened #705 "lsd doesn't show folder icon or color on wezterm"
- os: Arch linux
- `lsd --version`: 0.22
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=00:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31:*.tzo=01;31:*.t7

[2022-07-18 03:42] meain commented on #705
If the long listing in the screenshot is from `lsd -l` command, the `lsd` command is not calling `Peltoche/lsd`. Could you send the output of `which lsd` and `lsd --version`. Also maybe `lsd --ignore-config -l`.

[2022-07-18 08:51] dung8466 commented on #705
ok. i think i have found the problem. lsd automatic aliased to command ls -d *(/) for some reason.
unalias lsd and reinstall fix the problem

[2022-07-18 10:55] #705 closed

[2022-07-18 10:56] meain commented on #704
Related: https://github.com/Peltoche/lsd/issues/200

[2022-07-18 15:46] bearcatsandor opened #706 "Adding new file types"
Is there a process for users to add file types that aren't recognised.  For instance, I work with  wavpack and dsd files and it would be great to have them recognised as audio file types.

[2022-07-20 04:24] meain commented on #706
If those are common enough extensions, feel free to just add those into `lsd`. You can do that by adding them in https://github.com/Peltoche/lsd/blob/946f2430661e57e0eda641a3f70601d4b46a3b71/src/icon.rs#L225

[2022-07-25 06:09] zwpaper commented on #595
Hi @Mellbourn, sorry for the later reply, I finally found out that the Unicode we used in lsd is version 7.0, and it may have some render problems.

I can reproduce it on my mac, but not yet figured out how to render the 7.0 unicode.

for example:

- we used the folder [1F5C0](https://www.compart.com/en/unicode/U+1F5C0) it also does not render well in my browser
- I try to use a previous version o

[2022-07-26 04:05] zwpaper commented on #693
sorry for the late reply, I did not have a windows machine, so I can only confirm that I also can NOT reproduce this on my mac.

maybe we need some more windows tests

[2022-07-26 04:07] zwpaper commented on #693
BTW I also noticed that there is two path indicator on the command lines, is this an copy/paste mistake?

[2022-07-26 06:39] meain commented on #595
Just a personal opinion, switching to `1f4c1` drops the "terminally" feeling as it looks more like an emoji.

[2022-07-26 07:51] zwpaper commented on #595
although I am not one of the target users, the Unicode option is designed to act like that with colorful glyphs?

check [starship](https://starship.rs/presets/#no-runtime-versions) for example

<img width="441" alt="image" src="https://user-images.githubusercontent.com/3764335/180953014-d98e2648-df62-4279-af8c-fbc5e72c109c.png">

[2022-07-26 10:07] OldWorldOrdr commented on #693
@zwpaper the second paths are the paths to the ls and lsd executables

[2022-07-26 11:55] meain commented on #595
I think if we can stick to non color glyphs, it would be better. But since `unicode` is more of a fallback (at least in my mind), if there is no other good option, we can switch to color glyphs.

[2022-07-26 15:21] zwpaper commented on #595
IMHO, Unicode is act more like another option according to the `--icon-theme` option.

the real problem like this issue is that we are now offering a non-functional feature `--icon-theme unicode`, it may not work on most OSes, that is why I think we should use a more compatible default code.

[2022-07-26 15:24] zwpaper commented on #693
Oops, sorry for the silly mistake.

let me try to create a debug version for us to find the problem/

[2022-07-26 16:30] zwpaper commented on #693
happened to find a related issue, but also has no more clue, only to confirm this may be a bug https://github.com/Peltoche/lsd/issues/665

[2022-07-26 16:32] zwpaper commented on #665
closing this one in favor of #693 has more details

[2022-07-26 16:32] #665 closed

[2022-07-26 16:42] meain commented on #595
I see your point, but I am still not yet fully convinced that adding color glyphs is the best approach (Apart from changing the looks, I have seen quite a few terminal emulators having issues with rendering multi-color emojis, but I guess those will just render monochrome versions). Let me take another look into this in the coming days and we can finalize one something.

[2022-07-26 21:56] OldWorldOrdr commented on #693
#665 is inaccurate as it does work if you don't use a *

[2022-07-29 02:50] zwpaper opened #709 "ability to check default theme file and load it if existed"
How about for icons theme, we explicitly call it `overrides` and keep the `theme` one with existing functionality. I am not sure if that is the best approach though.

_For folks without patched fonts, `unicode` is an option to get some icons without much hurdle._

---

One other option that I strongly prefer is something different. We don't let users specify a file, instead if a file called `color

[2022-08-01 22:05] azemii commented on #334
Any updates on this? Works fine in Power Shell 7.1 , but getting (os error 1336) on git bash terminal.

[2022-08-06 19:06] TeamTamoad commented on #693
@OldWorldOrdr After some research and experiment, here is some workaround. (I tested on Window 10 with `lsd` version 0.22.0)

### Powershell
wrap the pattern around `` `" `` for example
![image](https://user-images.githubusercontent.com/43115371/183262671-f9d1484a-ebc1-46d3-b16d-37bf032784d5.png)

### Command Prompt
wrap the pattern around `"` for example
![image](https://user-images.githubusercon

[2022-08-07 07:35] OldWorldOrdr commented on #693
@TeamTamoad that worked! thanks!

[2022-08-07 07:35] #693 closed

[2022-08-07 07:38] OldWorldOrdr opened #712 "Stop lsd on windows from showing every regular file as green"
- os: Windows 11
- `lsd --version`: lsd 0.22.0
- `echo $TERM`: N/A
- `echo $LS_COLORS`: N/A

Windows NTFS doesnt have POSIX file permissions, so they need to be emulated.  This results in all files being marked as executable, which is necessary but annoying, since every regular file is shown in green.  Is there a way to make executable files white?

[2022-08-08 20:01] all64bits commented on #606
Further to the above, when locale/LC_COLLATE is set to en_US.UTF-8 or en_AU.UTF-8 (my locale), GNU ls behavior is to ignore the leading dot for hidden files/directories when sorting the output.

I prefer this way of sorting so lsd respecting locale would be ideal for me

Related to https://github.com/Peltoche/lsd/issues/187

[2022-08-09 13:50] AH-Merii opened #715 "Cannot find theme file No such file or directory (os error 2) WSL2"
- os: WSL2
- `lsd --version`: lsd 0.22.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:

## Background
I created a new `config.yaml` file and placed it inside of `~/.config/lsd/config.yaml`. I changed the theme directory inside the `config.yaml` file from `default` to `light_theme` (without the yaml extension). The contents of `~/.config/lsd/themes/light_theme` are the default values found RE

[2022-08-09 16:01] meain commented on #715
Rename `themes/light_theme` to `themes/light_theme.yaml` and that should fix it.

[2022-08-09 22:47] devnoname120 opened #716 "Add support for file category sort"
Enhancement of https://github.com/Peltoche/lsd/pull/413

Currently, if you have media files such as `.mkv`, `mp4`, and `webm` they won't appear together but instead be spread out.
Same for `.jpg` and `.png` which is pretty annoying.

An easy improvement would be to sort on `(icon, extension)` as currently many file types belonging in the same category have the same icon.

An alternative would be t

[2022-08-10 16:03] AH-Merii commented on #715
@meain Thanks, that seemed to do the trick. I initially thought that both the name of your file in the config and in the path should be without `.yaml` extension.

[2022-08-10 16:03] #715 closed

[2022-08-12 04:07] meain commented on #716
This is an interesting idea, but as you said, not sure what would be the best way to categorize things. Doing by icons can become messy as we might have custom image formats with separate icons (like things from Adobe). Doing it by mime sounds like an interesting option but we might miss out of some useful ones like document(pdf, docx).

[2022-08-14 06:37] meain commented on #595
I think we will leave the unicode icons as is. The original issue was around being able to use emojis (colorful unicode icons) as icons in lsd. That I think would be covered once we have https://github.com/Peltoche/lsd/pull/707 .

[2022-08-15 19:54] acamso commented on #589
To exclude symlink dirs: `*(^-/)`

[2022-08-15 20:10] acamso commented on #613
I prefer sorting this way as well; looking to use alongside `--group-directories-first`: `{dirs} {dot dirs} {files} {dot files}`

[2022-08-15 20:11] barvirm opened #723 "LSD doesn't follow symlink on Windows"
- os: Windows
- `lsd --version`:  0.22.0

## Structure on FS
test_dir/real_dir/file.txt
test_dir/link_dir

Link created via:
cd test_dir;
mklink read_dir link_dir

## Test command
`lsd -al test_dir/link_dir`

## Expected behavior
![image](https://user-images.githubusercontent.com/15948420/184709514-7981c8d0-7ba3-443a-9e55-0f8c7ad2d658.png)

## Actual behavior
![image](https://user-images.githubuse

[2022-08-16 03:25] zwpaper commented on #589
closing as this is a question solved

[2022-08-16 03:25] #589 closed

[2022-08-16 03:29] zwpaper commented on #723
@TeamTamoad could you help have a look at this windows problems?

[2022-08-16 14:26] TeamTamoad commented on #723
Sure, I'll take a look at it.

[2022-08-17 13:23] babaolanqiu opened #724 "Some files are aligned to right"
- os: Linux CentOS 3.10.0-1160.49.1.el7.x86_64
- `lsd --version`: 0.22.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=38;5;27:ln=38;5;51:mh=44;38;5;15:pi=40;38;5;11:so=38;5;13:do=38;5;5:bd=48;5;232;38;5;11:cd=48;5;232;38;5;3:or=48;5;232;38;5;9:mi=05;48;5;232;38;5;15:su=48;5;196;38;5;15:sg=48;5;11;38;5;16:ca=48;5;196;38;5;226:tw=48;5;10;38;5;16:ow=48;5;10;38;5;21:st=48;5;21;38;5;15:e

[2022-08-17 14:26] TeamTamoad commented on #723
I've run the test command on the WSL. The current behavior matches the GNU `ls` command. So, I don't think this is a bug.
![image](https://user-images.githubusercontent.com/43115371/185159471-113c229f-b9e9-4681-9267-7e0f8feb104c.png)

[2022-08-17 16:23] zwpaper commented on #723
thanks @TeamTamoad!

@barvirm I am closing this issue, if you have any more question, feel free to open again

[2022-08-17 16:23] #723 closed

[2022-08-17 16:26] zwpaper commented on #724
I can not reproduce by creating R files.

it should be something related to font or terminal, could you try to use a different font or terminal?

[2022-08-17 16:51] meain commented on #723
Related: https://github.com/Peltoche/lsd/pull/403

[2022-08-17 16:57] meain commented on #724
Hey, from the output of `lsd` at top, it looks like some other program that you ran before messed up the terminal and did not recover properly. *This usually happens when when some TUI apps don't exit properly. Most TUI apps will put your terminal into raw mode and ideally they are supposed to revert it back when they exit. But for some reason, if the app crashes it may not reset the terminal back

[2022-08-18 03:02] babaolanqiu commented on #724
Turns out it's mostly a font problem (no luck with `reset`). I'm using Meslo Nerd Font patched for Powerlevel10k, and I'll open an issue under that. Thanks.
![Screenshot_20220818-105005_Termux](https://user-images.githubusercontent.com/32609824/185283641-a54616b5-fcc4-48fa-9430-a83dd53252eb.jpg)

[2022-08-18 03:02] #724 closed

[2022-08-19 02:57] zwpaper opened #726 "icon theme should support icons by prefix"
after https://github.com/Peltoche/lsd/pull/707 merged, we have icon themes, it should support icons by prefix, like `log.lsd.0`, `log.lsd.1` can use a icon for `log` prefix

[2022-08-19 02:59] zwpaper opened #727 "icon theme may support icons by regex"
after https://github.com/Peltoche/lsd/pull/707 merged, we have icon themes, maybe we should support icons by regex.

we can discuss it here

[2022-08-20 12:36] peter-joo commented on #532
it works, thank you :)

.rw-r--r-- pj MANJARO 2022.08.20-14.02.01.069 45207  junk.dat

[2022-08-20 16:33] #532 closed

[2022-08-22 22:36] tyhdefu opened #730 "Update clap to v3.2.16"
Hi, im trying to package lsd for debian, but currently debian has clap `3.2.16` packaged in experimental, which is incompatible with the version lsd uses `2.33.*` - I would prefer to try to upstream these updates if possible.

I am happy to implement this in a PR - I will likely do so soon unless there are objections to this. (Not sure if you want issues before PRs, so I've opened an issue just in

[2022-08-23 03:54] meain commented on #730
First of all, a huge thanks for working on the deb packaging. It has been a huge gap in lsd for a long time. About the version bump, feel free to submit a PR.  :D

[2022-08-23 16:47] #730 closed

[2022-08-26 14:01] #664 closed

[2022-08-31 09:28] daniejstriata opened #734 "change date behaviour on Windows"
- os:
- `0.22.0`

## Expected behavior
I use lsd as a replacement for `dir` on  Windows 11 inside Windows Terminal 1.14. When I try to update the data format I keep getting errors that the date value I use is invalid. I'm either not using the correct format or Windows is not fully supported to have a configurable date format.

[code]
[code]
I would like to user a shorter date format as is used by

[2022-08-31 09:45] TeamTamoad commented on #734
Try this `lsd -l --date +%Y.%m.%d-%H.%M`
I've tested it. It should work.
**Note**: use `-l` to make it show date

[2022-08-31 12:10] daniejstriata commented on #734
I see what I did wrong. Thanks. Also, in the config I made the line look like
`date: date '+%Y.%m.%d-%H.%M'`
which did not work but I've now seen what needs to be done. The second `date` was not needed.
Thanks for the assistance.

[2022-08-31 12:10] #734 closed

[2022-08-31 12:25] daniejstriata commented on #712
Can one not create a new theme and select unique colours based on the file extension?
![image](https://user-images.githubusercontent.com/13314239/187677026-4a533dfd-7008-4e76-9eb5-6ea32e1f3454.png)
Note that the  NTUSER.DAT* files are supposed to be hidden

![image](https://user-images.githubusercontent.com/13314239/187677217-8168718b-416f-41e3-90a9-11bd728b32e2.png)
![image](https://user-images.g

[2022-08-31 16:41] Zamiell opened #735 "Support for winget"
In the installation instructions, it says for Windows users to use `scoop`.
But `winget` is the official Windows package manager, and everyone already has this installed on their Windows 10 already without having to do anything, so I propose that this software is installable with `winget`.

[2022-08-31 20:46] YoNoSoyVictor opened #736 "[ Suggestion ] Prioritize home folder icons over symlink icons, while keeping the symlink color."
Many people like me have some of their home folders linked to external storage. The problem is that all of them show the same symlink icon. It would be nice if they all showed their distinctive home icons while keeping the hue of a symlink. Here is an example:

![](https://i.redd.it/ci2i2qtxowk91.png)

It would be nice if they showed the cyan color whilst keeping the home icons.

[2022-09-01 04:40] meain commented on #735
None of the existing pakcages are maintained by the lsd maintainers, but I'll keep this issue open to discuss on anything that can be done from the lsd side to help with packages or any other discussion around it.

[2022-09-01 04:44] meain commented on #736
I think what you are looking for is `-L` which dereferences the symlink to the file that it is pointing to.

[2022-09-01 04:46] meain commented on #712
You can change the color of items by using [LS_COLORS](https://gist.github.com/thomd/7667642), but the problem here is that the executable flag overrides the colors set based on extension.

[2022-09-01 17:42] daniejstriata commented on #712
Is `lsd `ignoring the hidden flag by default?

[2022-09-05 09:31] meain commented on #712
What do you mean by hidden flag?

[2022-09-05 13:48] daniejstriata commented on #712
In Windows you can set a file to be Hidden.

[2022-09-05 14:48] meain commented on #712
Oh, I was not aware of it. I don't think we are handling that as of now.

[2022-09-05 15:46] andrewcrook opened #738 "[Feature Request]"
### Problem

Some times it is nice to have permissions in rwx in one column and octal in another

### Current options (config file)

[code]

### Proposed Solutions
#### Solution 1
An option to show both rwx and octal
call this both
This will be one column position or block “permissions"
However, split into two columns for the two sets of data when both is selected
Therefore, these two columns will

[2022-09-06 02:42] zwpaper commented on #738
It seems pretty duplicated, why would it be useful?

[2022-09-07 23:51] jmdaemon commented on #385
Has there been any progress on what's causing this? I appear to be having the same issue whenever I use lsd in general.

[2022-09-08 19:30] ruediger101 opened #740 "tab completion of paths not working under zsh"
- os: 5.18.0-0.deb11.4-amd64
- `lsd --version`: 0.23.0
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;31:*.tlz=01;31:*.txz=01;31

[2022-09-09 02:55] khughitt commented on #385
Similar issue on Arch Linux. Possibly related to v0.23 update?

[2022-09-09 03:39] duhdugg commented on #385
submitted PR #741

[2022-09-09 08:27] erikw commented on #740
I can confirm that paths can't be completed currently. Note that completing option still works like `$ lsd -<tab>`

- OS: macOS
- lsd: 0.23.0
- zsh: 5.9

Built-in `/usr/bin/ls` and and `gls` (GNU ls) from the coreutils Homebrew formula both works with path completion.

[2022-09-10 04:18] meain commented on #740
Duplicate of https://github.com/Peltoche/lsd/issues/385 and will be fixed in #741

[2022-09-10 04:19] #740 closed

[2022-09-10 06:31] meain commented on #385
Should now be fixed via #741

[2022-09-10 06:31] #385 closed

[2022-09-10 06:40] meain commented on #738
A thought I previously had was being able to add options at the end of different blocks using `:` as separator, in this case the command would be something like:

[code]

This would prevent us from having to implement more flags for how to deal with these, plus will be more customizable with the placement of different options.

*I'm still not sure if this is a useful feature, just wanted to add a

[2022-09-10 22:16] jrwrigh opened #742 "Can't see black-type filetypes"
- os: Manjaro
- `lsd --version`: `0.22.0`
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`:
[code]

## Expected behavior
The color highlighting for `*.orig` files is practically invisible. This is likely due to my terminal color choices, but I've never had this issue with vanilla `ls`

## Actual behavior
![image](https://user-images.githubusercontent.com/20801821/189503563-5b9edac9-007f-47be-8

[2022-09-11 06:52] meain commented on #742
It is actually coming from your `LS_COLORS` here `*.orig=01;30`. The reason why it shows up in `ls` is because it uses 16 colors and most terminal emulators automatically make bold colors into bright versions for 16 color forms. In `lsd` we automatically convert all colors to 256 which is untouched by terminal emulators. You can follow more on this at https://github.com/Peltoche/lsd/issues/609

Wh

[2022-09-11 06:52] #742 closed

[2022-09-11 11:06] sherifabdlnaby commented on #7
I love `lsd`, I prefer it over `exa` but I miss the Git Integration, why has this feature not been considered yet?

[2022-09-11 11:48] hpwxf commented on #7
For sure, PR #495 should be updated.

Is there only this remark https://github.com/Peltoche/lsd/pull/495#issuecomment-965972260 to solve?

[2022-09-12 03:49] #502 closed

[2022-09-12 04:02] #736 closed

[2022-09-12 04:04] meain commented on #706
We also have #707 in the pipeline for enabling custom icons.

[2022-09-12 04:04] #706 closed

[2022-09-12 04:11] meain commented on #608
On second thought I was wondering what would be the use of being able to specify LS_COLORS specifically for `lsd`?

[2022-09-12 04:13] meain commented on #602
Anyone who is interested in contributing a theme, feel free to drop it here. Once we accumulate a few, we can start a wiki page for it.

[2022-09-12 04:13] #604 closed

[2022-09-12 04:14] meain commented on #603
Neither of them sounds like a good fit for lsd and so I'm closing the issue.

[2022-09-12 04:14] #603 closed

[2022-09-12 04:20] #351 closed

[2022-09-12 04:22] meain commented on #180
We have most of these now ;) Anyone landing here, feel free to open and issue for any specific sort method.

[2022-09-12 04:22] #180 closed

[2022-09-12 08:47] kakulukia commented on #602
[dracula.zip](https://github.com/Peltoche/lsd/files/9546350/dracula.zip)

Here is my current Dracula version.

[2022-09-12 10:08] Zesko commented on #697
I confirmed the issue, that is related to the package `ttf-isovevka-nerd` from the Arch repos.

Just remove `ttf-isovevka-nerd`  and install `ttf-nerd-fonts-symbols-2048-em` to solve this issue.

[2022-09-12 10:24] meain commented on #602
You could paste the yaml file for config here and optionally include the `LS_COLORS` value.

[2022-09-12 15:16] meain commented on #385
We just made a release, so I was not planning on making anything release that soon. Probably in another month or two once we land the custom icon pr in #707 .

[2022-09-12 17:27] duhdugg commented on #385
Temporary fix prior to the next release: https://gist.github.com/duhdugg/02773ab1cb4c4f9b328c739b9f991712?permalink_comment_id=4298545#gistcomment-4298545

[2022-09-12 17:33] madorb commented on #385
@meain considering `lsd` is functionally "broken" for lots of general use cases for those of us being hit by this, would a sooner release not be feasible?

[2022-09-12 22:03] grimm26 commented on #385
releases are expensive. https://www.youtube.com/watch?v=dLJTgvKFZoQ

[2022-09-13 03:38] meain commented on #385
[0.23.1](https://github.com/Peltoche/lsd/releases/tag/0.23.1) is now out with this fix :D

[2022-09-13 22:14] ehawman commented on #735
I would recommend using Winget for GUI applications, and scoop.sh for CLI tools like lsd. I find that things run a lot smoother that way.

Just a recommendation, not a solution to the lack of lsd on Winget.

[2022-09-15 20:17] OJoshuaCG opened #745 "External devices folders background color changes."
When I use `lsd` command in external devices (usb or another partition) folders background color changes (only folders).

![image](https://user-images.githubusercontent.com/56763404/190497735-8d8a8334-4660-4738-8a81-01035a4a7d50.png)

![image](https://user-images.githubusercontent.com/56763404/190498056-e2694ca3-dbc2-4963-8805-897c9536649f.png)

- OS: Manjaro Linux
- Shell: zsh 5.9
- Terminal: Kit

[2022-09-16 05:29] meain commented on #745
Could you paste the output of `echo $LS_COLORS`. It is probably coming from those values.

[2022-09-16 09:26] yinanfang commented on #602
@kakulukia Your theme is really awesome! Can you share the config for the theme?

[2022-09-16 09:29] kakulukia commented on #602
@yinanfang check the attached zip file :)

[2022-09-16 09:45] yinanfang commented on #602
@kakulukia I wasn't able to click and open the zip because I got error 79. I thought it was corrupted but I just tried it again with `unzip` and it worked. Thanks for the great theme!

[2022-09-16 12:12] OJoshuaCG commented on #745
It shows nothing.

![image](https://user-images.githubusercontent.com/56763404/190636120-8b2267c2-4ba2-48e3-8cc8-481576b65252.png)

[2022-09-16 12:42] OJoshuaCG commented on #745
I have solved it thanks to problem #671.

First, copy `dircolors` to a dotfile

[code]

Edit `~/.dircolors` and change `STICKY_OTHER_WRITABLE` and `OTHER_WRITABLE` values to `DIR` value.

After that, add in `.zshrc`

[code]

Or, if you are using bash, add in `.bashrc`

[code]

[2022-09-16 16:02] #745 closed

[2022-09-20 19:33] sizur opened #747 "lsd --directory-only --tree --depth 2"
- os: `Darwin`, `Linux`
- `lsd --version`: `lsd 0.22.0`
- `echo $TERM`: `xterm-256color`
- `echo $LS_COLORS`: _irrelevant_

## Expected behavior
`tree -dL 2` shows directory structure with depth of 2.

## Actual behavior
`lsd --directory-only --tree --depth 2` fails with error:
[code]

[2022-09-22 04:10] #660 closed

[2022-09-23 04:30] meain commented on #727
What would be a good usecase of this?

[2022-09-24 07:27] zwpaper commented on #727
`dockerfile*: whale` to set whale icon for all the files start with `dockerfile`

[2022-09-24 08:58] meain commented on #727
Wouldn't https://github.com/Peltoche/lsd/issues/726 support it if do it?

[2022-09-24 17:17] zwpaper commented on #727
#726 have to be split by dot `.`, and also maybe an example like this would make more sense:

`*.tar.*: icon` set all `xx.tar.gz`, `xxx.tar.xz` etc. to use a tar file icon

[2022-09-26 04:59] meain commented on #727
One concern that I have with this is that this will mean that we will be able to target more specifically for icons compared to colors which might be confusing. Unless there is a strong need for this, I think we should stick to the current capabilities.

[2022-10-05 03:23] meain commented on #457
Nothing major as such, as long as the code passes fmt and clippy and have tests, we should be good for the most part.

[2022-10-05 03:25] meain commented on #747
I don't remember what but I trying to do that and it causing some issue when used without tree. Just give it a shot and if you don't find any problems, feel free to open a PR for this change.

[2022-10-05 09:19] zwpaper opened #749 "should change the color theme path to `$XDG/lsd/colors.yaml` instead of current `$XDG/lsd/themes/NAME.yaml`"
as mentioned here https://github.com/Peltoche/lsd/pull/707#issuecomment-1198461950 and here https://github.com/Peltoche/lsd/pull/707#discussion_r976023899, we should change the color theme path to `$XDG/lsd/theme.yaml` instead of current `$XDG/lsd/themes/NAME.yaml`

should add a check and warning? if theme file has a wrong location.

[2022-10-05 09:32] zwpaper commented on #457
@r3dArch here is where the file metadata read https://github.com/Peltoche/lsd/blob/master/src/core.rs#L103-L131, it would be a good starting point if you were new to rust and did not know where to start

[2022-10-05 10:21] meain opened #750 "Release checklist for 1.0.0"
There are a few things that I wanted to track before the next release to make sure we don't miss that. Just adding them here so that I don't forget it as well there will be a public record of what is necessary for the next release.

If we only fix the required, we will release a minor version.

Required:
- https://github.com/lsd-rs/lsd/issues/865
- [x] https://github.com/Peltoche/lsd/issues/749:

[2022-10-05 20:14] r3dArch commented on #457
Thank you for the responses. I have made progress, but I have a few questions now. Below is an example of the current output of a broken symlink with the changes I've made, and then the output using the GNU ls tool.

[code]
The metadata above is from the symlink, which is incorrect as the dereference option was used.

[code]

I think matching the formatting of GNU ls would require changes in a lot

[2022-10-08 04:18] r3dArch commented on #457
@meain I was just wondering if you have any thoughts on my previous comment, thank you.

[2022-10-08 13:17] meain commented on #457
I have not had time to look in depth into it, but how about we make each item in [`Meta`](https://github.com/Peltoche/lsd/blob/82acde7ef2d3baa716ea85b7be2c7a3425bad01c/src/meta/mod.rs#L36) optional? Would that be a bigger change? We can have it render `?` if none(expcpt for permissions which would be `????????`), but pass to respective renders if it actually has a content.

[2022-10-08 18:46] r3dArch commented on #457
Thank you @meain. I will look into that soon and let you know. If you are busy there is no rush to respond, I just wasn't sure if you had seen my comment.

[2022-10-10 05:46] #343 closed

[2022-10-10 05:46] #595 closed

[2022-10-12 10:33] Terraphice opened #751 "Treat items starting with '_' the same as files starting with '.' and ignore them."
A relatively uncommon but still popular method of marking files to be ignored is beginning them with '*_*'  instead of '.'.

VIM does this, with the *_*viminfo file, less does this for the *_*lesshist file, etc. It's pretty uncommon, but it's also really uncommon to begin files/directories with '*_*' in the first place.

I'd like to see this prefix added alongside '.' and ignored like it is in exa

[2022-10-12 10:37] Terraphice commented on #712
Genuinely reconsider please. Ignoring hidden files/folders would make a world of difference for Windows or WSL users. 90% of apps/programs on Windows don't use '.' or '*_*' for hidden files/folders like they would on *Nix, and instead rely on Windows default hidden flag. I know it's a hassle, but such is life for supporting Windows.

If exa implements this before lsd, it'd be a big enough deal for

[2022-10-12 11:10] meain commented on #751
I don't think that is something we would want in `lsd` as this would make us deviate from what gnu ls does. Do you have some links pointing to docs in exa where they mention hiding filenames starting with `_`?

[2022-10-12 11:25] Terraphice commented on #751
I don't really feel like digging through docs. Here's the difference in action though:
![image](https://user-images.githubusercontent.com/41020526/195330633-09f6f25d-7dff-45ce-8a58-c732aa4ef5fa.png)

[2022-10-13 06:46] meain opened #752 "Respect hidden flag in Windows"
Unlike *nix systems, windows uses a separate flag to mark a file as hidden. We can make `lsd` ignore them when not using `-a` or `-A`.

Previous discussion in https://github.com/Peltoche/lsd/issues/712

[2022-10-13 06:46] meain commented on #712
Thanks @TeamTamoad for linking to rg and fd issues. I think it makes sense to have lsd respect hidden files in windows when not using `-a` or `-A`. That said, I thin this is different from the original issue which was about file permissions. I'll create a separate issue (https://github.com/Peltoche/lsd/issues/752) for respecting hidden flag in windows.

PS: No pressure on your to pick it up btw. J

[2022-10-13 06:50] meain commented on #712
While we are on the topic, my understanding is that there is no such thing as "executable" flag on windows, or is there a flag we can query which `lsd` is not already doing? If there is no such thing as a executable, although we can override the color of executable using `LS_COLORS`, I don't might changing the it so that `lsd` does not treat every file as executable.

[2022-10-14 00:14] OldWorldOrdr commented on #712
windows does not have an executable flag, but we could make files with an executable extention like .exe, .bat, .cmd, .ps1, etc show as green.

[2022-10-14 03:53] meain commented on #712
I think in that case the quickest option would be to just use the option suggested by https://github.com/Peltoche/lsd/issues/712#issuecomment-1232868513 .

[2022-10-14 05:06] r3dArch commented on #457
Here is the change I have made to the `Meta` struct.
[code]
I then modified the relevant code to handle the change to being an `Option`.  Here are the changes in /src/display.rs:
[code]
Here is a sample output running `lsd -lL --blocks permission,user,group,context,size,date,name,inode,links` on a broken link.
[code]
I do have a few questions though. First is about sorting by size. For now unknown

[2022-10-14 05:09] meain commented on #457
@r3dArch Do you mind opening a draft PR for this change? It would be much easier to have this discussion on a PR where we can point to specific code segments and track comments.

[2022-10-14 07:04] r3dArch commented on #457
@meain I created a pull request here https://github.com/Peltoche/lsd/pull/754.

[2022-10-14 17:29] zwpaper commented on #752
Ref: https://github.com/BurntSushi/winapi-util/commit/16385cb76d859815e5ba531092caf8448f4c4435

[2022-10-14 17:42] OldWorldOrdr commented on #712
Oh by the way, windows has 2 different kinds of hidden files.  There's normal hidden files and Operating system protected files.  Those NTUSER.dat files are the second kind.  The user almost never has to interact with OS protected files, I've never done so once in my 10 years or so of using Windows.  I would suggest making a dedicated command line flag to show OS protected files, and normal hidden

[2022-10-15 09:48] zwpaper commented on #752
Oh by the way, windows has 2 different kinds of hidden files.  There's normal hidden files and operating system protected files.  Those NTUSER.dat files are the second kind.  The user almost never has to interact with OS protected files, I've never done so once in my 10 years or so of using Windows.  I would suggest making a dedicated command line flag to show OS protected files, and normal hidden

[2022-10-17 07:09] daniejstriata commented on #712
You are right. I like your suggestion.

[2022-10-17 13:34] edshamis opened #755 "theme: size none color is not respected"
- os:
- `lsd --version`:  lsd 0.23.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`:  fi=00:mi=00:mh=00:ln=01;36:or=01;31:di=01;34:ow=04;01;34:st=34:tw=04;34:pi=01;33:so=01;33:do=01;33:bd=01;33:cd=01;33:su=01;35:sg=01;35:ca=01;35:ex=01;32:no=38;5;248

## Expected behavior
I expect that size none color is for zero size objects.

## Actual behavior
I added a theme, changed color for small size

[2022-10-20 09:08] vherbert commented on #385
With zsh, I cant complete filename with `lsd -I "*#"`. Instead, it completes flag.

[2022-10-20 09:20] vherbert commented on #385
Same issue after updating lsd.

lsd 0.23.1

[2022-10-23 16:19] dsambrano opened #756 "Unable to Change Color Theme with Default theme example"
- os: `Fedora 36`
- `lsd --version`: `22.0`
- `echo $TERM`: both `xterm-256color` and `xterm-kitty`
- `echo $LS_COLORS`:  ```no=00:fi=00:di=34:ow=34;40:ln=35:pi=30;44:so=35;44:do=35;44:bd=33;44:cd=37;44:or=05;37;41:mi=05;37;41:ex=01;31:*.cmd=01;31:*.exe=01;31:*.com=01;31:*.bat=01;31:*.reg=01;31:*.app=01;31:*.txt=32:*.org=32:*.md=32:*.mkd=32:*.h=32:*.hpp=32:*.c=32:*.C=32:*.cc=32:*.cpp=32:*.cxx=32:*

[2022-10-24 03:46] meain commented on #756
I am not able to reproduce this neither with the current version or 22.0. Would be possible to post the config and theme file you are using.

[2022-10-24 03:48] meain commented on #385
@vherbert At least from the screenshot, the behavior looks correct. It is supposed to complete options when it starts with `-`.

[2022-10-24 07:02] vherbert commented on #385
Yes but `-` is also added by tabulation.

[2022-10-25 04:01] dsambrano commented on #756
Hi @meain,

Yes, here are my files:

<details>
<summary>Config File: Located at ~/.config/lsd/config.conf</summary>

[code]
</details>

<details>
<summary>Theme File: Located at ~/.config/lsd/themes/purple.conf</summary>

[code]
</details>

Since the initial issue, I have changed a few things in the config, which all seem to work (most of it are the defaults). Its just the themes that don't work.

[2022-10-25 05:49] zwpaper commented on #756
both the config and theme file should be named with `yaml` extension @dsambrano

are you sure the config.conf works as you expected?

[2022-10-25 06:00] dsambrano commented on #756
@zwpaper, my apologies, that was a typo, yes, I have them both as .yaml files. I have updated the previous message to reflect that.

The config options I changed were working, e.g., the headers (set to true) and block (removing group).

[2022-10-25 06:32] Prakhil-tp commented on #756
I'm also having the same issue.
I tried to use this dracula config: `https://github.com/dracula/lsd`. And It is throwing an error saying format error.
[code]
os: `fedora 36`
`lsd --version`: `lsd 0.22.0`
`echo $TERM`: `alacritty`

[2022-10-25 07:15] zwpaper commented on #756
hi @dsambrano I used your config, it works perfectly

![image](https://user-images.githubusercontent.com/3764335/197707900-9b51632e-9369-403d-81d8-64dab927a56c.png)

[2022-10-25 07:21] zwpaper commented on #756
so did yours @Prakhil-tp

![image](https://user-images.githubusercontent.com/3764335/197708995-0c4ffed2-91cd-4ee4-8999-eb3536c3f3b7.png)

[2022-10-25 07:24] zwpaper commented on #756
btw, thanks so much for mentioning https://github.com/dracula/lsd, I never expected we have a theme maintained under `dracula` 🎊

[2022-10-25 07:31] zwpaper commented on #751
maybe we can did this for windows, seems like a windows feature/common used case

https://stackoverflow.com/a/63516223/4242336

[2022-10-25 14:30] dsambrano commented on #756
Unfortunately, the latest version on fedora's repos was `22`. However, installing via `cargo` allowed me to get version `23.1`, which solved the problem!

Btw, is there any way to add the git status for the list of blocks when in long format.

P.S yes, I had originally found the Dracula version, which is why I wanted to try it out.

[2022-10-25 16:00] Prakhil-tp commented on #756
Thanks. @zwpaper . Latest version solved my problem as well. (`version: 0.23.1`)

[2022-10-26 07:20] zwpaper commented on #756
@dsambrano We had a PR for git, but unfortunately it did not make it done.

https://github.com/Peltoche/lsd/pull/495

I may try to do something for it when I have some free time as many people seeking for git status

[2022-10-26 07:22] zwpaper commented on #756
I am closing this one as problems are solved.

[2022-10-26 07:22] #756 closed

[2022-10-28 10:05] lukaszjwysocki opened #757 "Can't change config file"
- os: MacOS 13.0
- `lsd --version`: 0.23.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`: di=34:ln=35:so=32:pi=33:ex=31:bd=36;01:cd=33;01:su=31;40;07:sg=36;40;07:tw=32;40;07:ow=33;40;07:

## Expected behavior
Change config file to example config file found in README

## Actual behavior
When using lsd --config-file [PATH] to set to the config file path. An error is produced stating that <docu

[2022-10-29 09:36] Fleshgrinder opened #758 "Windows support for `.config/lsd`"
On Windows `lsd` only looks at `%APPDATA%/lsd` and ignores `%USERPROFILE%/.config/lsd`. This platform difference makes it unnecessarily harder to write portable dotfiles across several platforms. It would be great to reconsider this stance and ensure that all platforms behave the same way.

[2022-11-02 11:23] UrsaDK opened #760 "Targets of symbolic links should be highlighted as individual files"
Current behaviour was observed across the following systems:

[code]
[code]

## Expected behaviour

When doing a long list of files in a directory (`ls -l`) GNU `ls` uses `mi` attribute of LS_COLORS to highlight an invalid target of a link. For valid links, the target is highlighted as per LS_COLORS, as if it was just another directory item.

This makes it very easy to identify what kind of item t

[2022-11-02 12:37] hacker-DOM opened #761 "Feature Request: `--oneline` mode for `--tree`"
When I do

`❯ command lsd --tree --almost-all --icon never`, I get

[code]

The same exact output when I add the `-1` option.

It would be great if `--tree -1` would give

[code]

[2022-11-02 13:53] UrsaDK opened #762 "Ability to configure custom column separator"
Depending on your configuration (ie: blocks shown and date format) output of `ls -l` can become quite dense. Columns are separated by a single space, yet column values can also include spaces… This, on occasion, makes it challenging to see where one column ends and another one starts.

It would be awesome if we could configure a custom column separator.

## How I imagine it to work

Column width w

[2022-11-02 15:27] UrsaDK opened #763 "Theme colours for `inode` and `links` are not applied to the output"
- os: macOS 12.6
- `lsd --version`: lsd 0.23.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`: fi=0:ex=1;32:su=1;4;32:sg=1;4;32:di=1;34:st=1;34:tw=1;4;34:ow=1;4;34:ln=1;36:or=1;4;36:mi=1;31:pi=35:bd=1;35:cd=1;35:so=1;35

<details>
<summary>~/.config/lsd/config.yaml</summary>

[code]
</details>

<details>
<summary>~/.config/lsd/themes/light.yaml</summary>

[code]
</details>

## Expected behavio

[2022-11-02 18:39] TruncatedDinosour opened #764 "Looking to contribute, need feedback"
Hello, LSD devs,

I got some ideas of what to add and I want to hear your
opinion on what is a good idea to add, because, once again, I am looking
to contribute to this project :)

## Fixes

- Improve `*.asm` icon
- Fix the icon of executable files

## Files and dirs

- .rustup/ --  Rustup (rust update (?)) files
- .editorconfig -- Standard config for editors
- \*.list -- Lists of data
- user-dirs

[2022-11-03 14:12] meain commented on #764
We would love to get icon updates. You can update/add new icons at https://github.com/Peltoche/lsd/blob/master/src/theme/icon.rs . Feel free to take a look at the issues to see any other ones that you would like to contribute to as well.

[2022-11-03 14:18] meain commented on #762
How do you expect this to work when we have something like this?

[code]

[2022-11-03 14:21] meain commented on #761
What you want is probably something like `ls --oneline -d  */**`, or better yet combine it with `-l` instead of `--oneline`.

[2022-11-03 14:25] meain commented on #758
We could probably look into `%USERPROFILE%/.config/lsd` if no config was found at `%APPDATA%/lsd`.

[2022-11-05 12:37] UrsaDK commented on #762
That's a very good point! Luckily, I don't think the configuration of `--blocks` (supplied either via the config or on the command line) would affect this feature. Let me explain what I mean by that:

First and foremost, I think custom column separator should be implemented in such a way that it maintains backwards compatibility for all of the existing users, ie: if a user is using a default separ

[2022-11-07 16:39] d-sonuga commented on #763
Hello.
I would like to fix this bug.
Please, are there any extra steps I ought to take before doing so?

[2022-11-12 07:24] zwpaper commented on #763
Hi @d-sonuga, feel free to go, and feel free to ask any question if meet one

[2022-11-12 14:17] d-sonuga commented on #763
Awesome.
I'm heading in.

[2022-11-13 03:45] navakelvin commented on #621
How can I enable long display?

I've done this:
[code]
And I get in the terminal:
[code]

[2022-11-13 04:37] meain commented on #621
My bad, we don't have a option to default to "long", but if you want lsd to always display full info, I would suggest adding an alias with `-l` included.

[code]

[2022-11-13 04:54] navakelvin commented on #621
Okay, ty sir!

[2022-11-13 12:36] TruncatedDinosour opened #767 "Better executable file icon (#765 and #764)"
I tried to improve the executable file icon in #765 and #764 but failed, I can't find a good icon for executable files

Currently the icon sucks (``), it makes *all* executable files look like shellscripts, when in all reality -- they're not

I think this should be improved and fixed

[2022-11-13 16:40] #752 closed

[2022-11-14 04:56] jubgjf commented on #612
I'm using lsd version 0.23.1 and it should already have the feature to change icons. But in the `config.yaml` the `icons` option only accepts two values: `fancy` or `unicode`. How do I make it read the `icons.yaml`?

[2022-11-14 05:17] meain commented on #612
This feature has not yet been released. You can however get this if you build from `master`. If you have built a binary from master, you can just create a file called `icons.yaml` in `$XDG_CONFIG_DIR/lsd/icons.yaml` and lsd should pick it up automatically.

[2022-11-14 06:31] meain commented on #767
I feel like the current one is pretty good(plus I don't think changing such an frequently used icon would be a good idea). I'll leave this open for a while though just in case others have any opinions.

[2022-11-14 13:10] TruncatedDinosour commented on #767
the current one looks like a shellscript though

[2022-11-15 21:07] rsaeks opened #770 "Question on customizing colors for file-types"
- os: macOS 12.6
- `lsd --version`:  lsd 0.23.1
- `echo $TERM`:  xterm-256color
- `echo $LS_COLORS`:  <blank return)

More of a question than a bug report. Right now certain file types appear in different colors (example - images are purple, zip files are red) If I wanted to change the color that appears for pdf files (the icons are all theming correctly) how can that be done? I'm sure it is an ea

[2022-11-16 08:40] meain commented on #770
File colors are controlled by `LS_COLORS`.
References:
- https://gist.github.com/thomd/7667642
- https://github.com/trapd00r/LS_COLORS
- https://github.com/sharkdp/lscolors

[2022-11-16 08:40] #770 closed

[2022-11-16 15:36] lobis opened #771 "Instructions for changing icons not clear enough"
Hello,

I am a new user of `lsd` and wanted to change some icons. I followed the instructions of the README but could not get it to work. I assume this is not a bug, just me as a new user not being able to understand the instructions.

- The configuration snippet in the README is badly formatted:

Currently it looks like this. Probably some ` ``` ` are missing.

[code]

Also I think a top level `i

[2022-11-16 17:37] rsaeks commented on #771
Following along - I'm seeing the same issue where icons included in the ~/.config/lsd/icons.yaml are not applying.

[2022-11-17 03:50] meain commented on #771
Sorry, but the ability to configure icons themes are not yet in a release. We will be making a release soon, just have a few things to be sorted out before that. As of now, if you want the ability to configure icons you will have to [build from master](https://github.com/Peltoche/lsd#from-source). I'll add a note about this to the readme.

@lobis fyi, the config looks correct, just that this featu

[2022-11-17 03:50] #771 closed

[2022-11-18 17:08] GnikDroy opened #775 "lsd -l --header doesn't filter ANSI sequences"
I would mark this as a bug. But my issue template was not accepted. Couldn't figure out why, didn't think it matters much either.
This is a problem in the latest version, possibly all versions with --header.

## Current Behaviour

`lsd -l --header` doesn't filter ANSI sequences
`lsd -l --header | less` for example

## Expected Behaviour:

It should filter ANSI sequences.

[2022-11-18 17:58] TeamTamoad opened #776 "Quoting feature is not fully compatible with GNU ls"
- os: Fedora Linux 36 (Workstation Edition) x86_64
- `lsd --version`: f5ee0a2b5143b975c277a1c53870c08c6e211c37
- `echo $TERM`: alacritty
- `echo $LS_COLORS`:

## Expected behavior
This issue is a follow up from this issue https://github.com/Peltoche/lsd/issues/660 and the note section in this pr https://github.com/Peltoche/lsd/pull/748.
The following are list of GNU `ls` features that involving qu

[2022-11-19 16:28] zwpaper commented on #775
Hi @GnikDroy, thanks for reporting this, can you append a screenshot to show your example and expected, piping `lsd -l --header` works fine in my case, maybe there is something I did not notice.

[2022-11-19 16:43] GnikDroy commented on #775
# Additional information

OS: Arch 6.0.8 x64 GNU/Linux
Terminal: Kitty 0.26.5
Shell: fish 3.5.1
LSD: 0.23.1

Tested with `less` and `neovim` `:!ls`

![1668875784](https://user-images.githubusercontent.com/30725674/202861734-a2429952-635d-46b9-bab2-bcc9a91cb8d2.png)

[2022-11-19 16:46] GnikDroy commented on #775
@zwpaper I think it is related to the underline sequence. I think I read the source and figured out where the potential problem might have been. But I did not pry further.

[2022-11-21 04:52] meain commented on #776
Thanks for filing a detailed report. :D

[2022-11-21 06:29] dreamerlzl commented on #706
Sorry for asking in a closed channel, but is "justfile" legit to be a common extension?

[2022-11-21 10:58] meain commented on #706
Sure, feel free to add an icon if that is what you are going for.

[2022-11-22 11:10] Weyreter opened #778 "Terminal output suppresses characters"
- os: Ubuntu 22.04 Plasma Version 5.24.6 Kernel 5.15.0
- `lsd --version`: 0.23.1
- `echo $TERM`: xterm-256color
- `echo $LS_COLORS`:
rs=0:di=01;34:ln=01;36:mh=00:pi=40;33:so=01;35:do=01;35:bd=40;33;01:cd=40;33;01:or=40;31;01:mi=00:su=37;41:sg=30;43:ca=30;41:tw=30;42:ow=34;42:st=37;44:ex=01;32:*.tar=01;31:*.tgz=01;31:*.arc=01;31:*.arj=01;31:*.taz=01;31:*.lha=01;31:*.lz4=01;31:*.lzh=01;31:*.lzma=01;

[2022-11-22 11:17] meain commented on #778
This is most probably an issue with your terminal emulator and how it renders icons. What terminal emulator are you using. Could you try with a different terminal emulator(and maybe different font too). Alacritty, Kitty, Wezterm etc seems to work pretty well.

[2022-11-22 12:10] Weyreter commented on #778
I'm using the KDE Plasma default terminal emulator: Konsole 21.12.3

Using wezterm the rendering problem is gone.
Hopefully my distribution will be upgraded to Konsole 22.xx soon with better rendering.

[2022-11-22 12:10] #778 closed

[2022-11-23 22:46] 0x-j commented on #756
I am having the same issue. I read through this and reinstalled using rust instead of dnf (I'm also on fedora 37). I am getting only a single color, although all of my icons are populating just fine. If I set the config.yaml to classic, it does remove the folders, so it appears to be working, but the colors are being overridden by something, or maybe I misconfigured something.

I'm using zsh with

[2022-11-26 04:11] #712 closed

[2022-11-27 16:25] meain commented on #457
Closed by https://github.com/Peltoche/lsd/pull/754

[2022-11-27 16:25] #457 closed

[2022-11-27 16:34] meain commented on #755
Color for none is not for 0 sized item, but rather things we don't display size for. This was originally used for folders for which we did not show size, but instead showed a `-`. However, we have since started showing size for them and thus making it obsolete. We can maybe consider repurposing it for 0 sized items.

[2022-11-27 23:34] edshamis commented on #755
Ok, thanks for clarifying. I think distinct color for zero size is a good
idea.

On Sun, Nov 27, 2022, 18:35 Abin Simon ***@***.***> wrote:

[2022-11-28 14:52] vlnx commented on #755
diff --git a/src/meta/size.rs b/src/meta/size.rs
index 9f39b99..74af321 100644
--- a/src/meta/size.rs
+++ b/src/meta/size.rs
@@ -89,7 +89,14 @@ impl Size {
     fn paint(&self, colors: &Colors, flags: &Flags, content: String) -> ColoredString {
         let unit = self.get_unit(flags);
         let elem = match unit {
-            Unit::Byte | Unit::Kilo => &Elem::FileSmall,
+            Unit::Byt